<header id="header">
    <div class="container">
        <div class="header_content">
            <div class="bubble_img">
                <img src="./images/header/bubbles.svg" alt= "bubbles" >
            </div>
            <a href="index.html" target="_blank" class="logo">
                <img src="./images/header/main_logo.svg" alt="image not found">
            </a>
            <nav class="nav">
                <ul class="nav_menu">
                    <li class="menu_item"> <a class="menu_link" target="_blank" href="#">About us</a></li>
                    <li class="menu_item"> <a class="menu_link" target="_blank" href="#">Services</a></li>
                    <li class="menu_item"> <a class="menu_link" target="_blank" href="#">Case studies</a></li>
                    <li class="menu_item"> <a class="menu_link" target="_blank" href="#">Pricing</a></li>
                    <li class="menu_item"> <a class="menu_link" target="_blank" href="#">Blog</a></li>
                    <li class="menu_item"> <a class="menu_link" target="_blank" href="#">Contact</a></li>
                </ul>
                <a href="#" target="_blank" class="menu_btn">Request offer</a>
            </nav>
            <div class="header_burger">
                <span></span>
            </div>
        </div>
    </div>
</header>