.footer-top{
    background: #F7F7F7;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: start;
    @include adaptiv-vaule("padding-top", 50, 10, 1);
    @include adaptiv-vaule("padding-bottom", 50, 10, 1);

    @include media ("<tablet"){
        padding: 25px 0;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .footer-logo{

        @include media ("<tablet"){
            flex:100%;
            text-align: center;
            margin-bottom: 15px;
        }
        
    }

    .link{
        display: flex;
        flex-direction:column;
        padding: 0 20px;
        font-size: 13px;

        @include media ("<tablet"){
            flex:50%;
            padding: 0;
            text-align: center;
        }

        @include media ("<600px"){
            flex:100%;
            margin-bottom: 15px;
        }

        .links{
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            
            li{
                list-style: none;

                &:not(:last-child){
                    margin-bottom: 5px;
                }

                a{
                    &:hover{
                        border-bottom: 1px solid #000;
                    }
                }
            }

            @include media ("<600px"){
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                a{
                    margin: 5px;
                }
            }
        }
    }

    .about{
        max-width: 370px;
        flex-direction:column;

        p{
            margin-bottom: 20px ;
        }

        @include media ("<tablet"){
            flex:50%;
            text-align: center;
        }

        @include media ("<600px"){
            flex:100%;
        }

        address{

            P{
                font-size: 14px;
                margin: 0;
            }
        }
    }

}

.bot-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiv-vaule("padding-top", 25, 10, 1);
    @include adaptiv-vaule("padding-bottom", 25, 10, 1);

    @include media ("<800px"){
        flex-direction:column;
    }

    .text{
        display: flex;
        align-items: center;
        

        @include media ("<800px"){
            margin-bottom: 15px;
        }

        @include media ("<phone"){
            flex-direction:column-reverse;
            text-align: center;
        }
        

        a{
            color:#FF4A32;
            font-size: 13px;
            margin: 0 3px;

            &:hover{
                border-bottom: 1px solid #FF4A32;
            }
        }

        p{
            font-size: 13px;
        }
    }

    .icons{
        display: flex;

        img{
            padding-right: 5px;
         }

        @include media ("<phone"){
            flex-wrap:wrap;
            justify-content: center;
            
            img{
                margin-bottom: 10px;

            }
        }
    }
}