<header id="header">
    <div class="content">
        <a id="logo" href="index.html" class="logo">
            <img src="./images/header/logo.svg" alt="image not found">
        </a>
        <div class="wrapper">
            <div class="progressBar">
                <div class="progress_img_wrap"></div>
                <img class="progress_img" src="./images/header/bullet.png"
                    alt="image not found">
                <progress class="progress_line" value="0" max="100"><progress>
            </div>
        </div>
    </div>
</header>