<footer id="footer">
    <div class="container">
        <div class="content">
            <div class="logo-img">
                <img src="./images/logofooter.svg" alt="images not found">
            </div>
            <div class="connect-links">
                <span>123456, Санкт-Петербург, Невский пр-кт 127</span>
                <a href="mailto:sales@log.ru">sales@log.ru</a>
            </div>
            <div class="phons">
                <a href="tel:+7 (812) 344-56-65">+7 (812) 344-56-65</a>
                <a href="tel:+7 (812) 344-56-65">+7 (812) 344-56-65</a>
            </div>
        </div>
    </div>
</footer>