body {
    font-family: 'Source Serif Pro', serif;
}

.cont{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.main-section{
    @include adaptiv-vaule("padding-top", 56, 15, 1);
    @include adaptiv-vaule("padding-bottom", 100, 70, 1);
    position: relative;

    .content{
        display: flex;
    }
}

 .main-content{
    width: 82%;

    .main-text{
        max-width: 685px;
        @include adaptiv-vaule("margin-bottom", 106, 40, 1);

        span{
            
            a{
                &:hover{
                    text-decoration-line: underline;
                }
            }
        }

        h1{
            margin-top: 56px;
            margin-bottom: 25px;
            line-height: 120%;
        }

        p{
            font-family: 'Nunito', sans-serif;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 20px;
            line-height: 150%;
        }

        h2{
            font-size: 40px;
            @include adaptiv-vaule("margin-bottom", 50, 20, 1);
        }
    }

    .bot-info{
        background: #FFD7DA;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        max-width: 940px;

        .item{
            display: flex;
            align-items: center;
            padding-right: 50px;

            .img-item{
                margin-right: 20px;
            }

            p{
                font-weight: 300;
            }

            h5{
                font-size: 18px;
            }
        }
    }
} 

.main-img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    img{
        width:100%;
        height: 100%;
        z-index: -1;
    }
}

.service{
    @include adaptiv-vaule("padding-bottom", 120, 50, 1);
    
    .cont{
        max-width: 1200px;
    }

    h2{
        text-align: center;
        @include adaptiv-vaule("margin-bottom", 55 , 25, 1);
    }
}


.spoller{

    .button-spoller{
        border: none;
        background: transparent;
        font-size: 24px;
        padding: 0;
        margin-bottom: 60px;

        &::after{
            content:url(../images/service/arrow.svg);
            width: 17px;
            height: 9px;
            padding-left: 15px;

        }
    }

    .item-spoller{
        max-height: 0;
        opacity: 0;
        transition: max-height 0.5s ease ,opacity 0.5s ease;
        z-index: -1;
    }
    
    .spoller-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 43px 0;
        border-top: 1px solid #CAC8CA;

        &:last-child{
            border-bottom: 1px solid #CAC8CA;
        }

        @include media ("<desktop"){
            flex-wrap: wrap;
        }

        .sub-item-1{
            max-width: 500px;
            padding-right: 50px;
        }

        .sub-item-2{
            display: flex;
            align-items: center;

            p{
                font-weight: 300;
                font-size: 18px;
                padding-right: 80px;
            }

            h5{
                padding-right: 80px;
            }
        }
    }
}

.active+.item-spoller{
    max-height: 2000px;
    opacity: 1;
    transition: max-height 0.5s ease ,opacity 0.5s ease;
    z-index: 1;
}
