body {
    font-family: 'Source Serif Pro', serif;
}

.cont{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.main-section{
    @include adaptiv-vaule("padding-top", 56, 15, 1);
    @include adaptiv-vaule("padding-bottom", 100, 70, 1);
    background: #FFF4F8;
}

.main-content{

    .main-text{
        max-width: 685px;
        @include adaptiv-vaule("margin-bottom", 106, 40, 1);

        span{
            
            a{

                @include adaptiv-vaule("font-size", 16, 14, 1);
                &:hover{
                    text-decoration-line: underline;
                }
            }
        }

        h1{
            @include adaptiv-vaule("margin-top", 55, 25, 1);
            margin-bottom: 25px;
            line-height: 120%;
        }

        p{
            font-family: 'Nunito', sans-serif;
            @include adaptiv-vaule("font-size", 18, 16, 1);
            font-weight: 300;
            margin-bottom: 20px;
            line-height: 150%;
        }

        h2{
            @include adaptiv-vaule("font-size", 40, 24, 1);
            @include adaptiv-vaule("margin-bottom", 50, 45, 1);

        }
    }
}

.button-spoller{
    border: none;
    background: transparent;
    color: #FFFFFF;
    @include adaptiv-vaule("font-size", 38, 26, 1);
    @include adaptiv-vaule("margin-bottom", 55, 15, 1);
    font-family: 'Source Serif Pro', serif;
    padding: 0;

    svg{
        stroke: black;
        transition: 0.5s;
    }
}

.item-spoller{
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease ,opacity 2s ease , visibility 1s ease;
    z-index: -1;
    visibility: hidden;
}


.active+.item-spoller{
    max-height: 2000px;
    opacity: 1;
    transition: max-height 1s ease ,opacity 2s ease;
    z-index: 1;
    visibility: visible;
}

.active{

    svg{
        transform: rotate(180deg);
        transition: 0.5s;
    }
}

.bot-info{
    background: #FFD7DA;
    z-index: 1;
    
    .bot-item{
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        max-width: 940px;

        @include media ("<tablet"){
            flex-direction: column;
        }
    }

    .item{
        display: flex;
        align-items: center;
        padding-right: 50px;

        @include media ("<tablet"){
            padding: 0;
            margin-bottom: 25px;
        }

        .img-item{
            margin-right: 20px;
        }

        p{
            font-weight: 300;
        }

        h5{
            font-size: 18px;
        }
    }
}

.main-img{

    img{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}

.service{
    @include adaptiv-vaule("padding-top", 120, 40, 1);
    @include adaptiv-vaule("padding-bottom", 120, 40, 1);
    
    .cont{
        max-width: 1200px;
    }

    h2{
        text-align: center;
        @include adaptiv-vaule("margin-bottom", 55 , 25, 1);
    }
}


.spoller{

    .button-spoller{
        color: #000;

        &::after{
            transform: rotate(90deg);
        }
    }
    
    .spoller-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 43px 0;
        border-top: 1px solid #CAC8CA;

        &:last-child{
            border-bottom: 1px solid #CAC8CA;
        }

        @include media ("<tablet"){
            flex-wrap: wrap;
        }

        p{
            @include adaptiv-vaule("font-size", 18, 16, 1);
            font-weight: 300;
        }

        .sub-item-1{
            max-width: 500px;
            width: 80%;

            @include media ("<tablet"){
                margin-bottom: 20px;
            }
        }

        .sub-item-2{
            padding-right: 50px;

            @include media ("<tablet"){
                margin-bottom: 20px;
                padding-right: 0;
            }
        }

        .sub-item-3{
            display: flex;
            align-items: center;

            @include media ("<tablet"){
                justify-content: center;
                width: 100%;
            }

            h5{
                @include adaptiv-vaule("padding-right", 80, 40, 1);
            }
        }
    }
}

.pack{
    @include adaptiv-vaule("padding-top", 100, 40, 1);
    @include adaptiv-vaule("padding-bottom", 400, 10, 1);
    background:url(../images/pack/packimg.png) bottom / 100% 50% no-repeat;
    background-color:#DE596D ;

    @include media ("<tablet"){
        background: none;
    }
} 

.pack-content{
    text-align: center;
    

    .button-spoller{
        color: #FFFFFF;

        svg{
            stroke: #FFFFFF;

            @include media ("<tablet"){
                stroke: #000;
            }
        }

        @include media ("<tablet"){
            color: #000;
        }
    }

    .item-spoller{
        display: flex;

        @include media ("<1195px"){
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .item{
            display: flex;

            @include media ("<tablet"){
                flex-direction: column;
                margin-bottom: 60px;
            }
        }
    }
}

.sub-item{
    @include adaptiv-vaule("margin-right", 25, 15, 1);
    border: 1px solid #FFFFFF;
    max-width: 336px;
    min-height: 337px;
    padding: 40px;
    background: #FFFFFF;

    @include media ("<1195px"){
        margin-bottom: 30px;

        &:last-child{
            margin-right: 0;
        }
    }

    @include media ("<tablet"){
        max-width: 100%;
        min-height: 50%;
        margin-right: 0;
        padding: 20px;
        border: none;
        color: #FFFFFF;
        text-align: start;
        background: url(../images/pack/bg/1.png) 100% / cover no-repeat;

        .sub{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h4{
        position: relative;
        margin-bottom: 30px;
        

        &::after{
            content:'';
            position: absolute;
            border-bottom: 1px solid #DE596D;
            width: 120px;
            left: 50%;
            transform: translate(-50%);
            padding: 15px;

            @include media ("<tablet"){
                left: 20%;
            }
        }
    }

    h6{
        margin-bottom: 40px;
        font-weight: 300;
    }

    h3{
        margin-bottom: 10px;

        @include media ("<tablet"){
            color: #DD8E94;
            margin-bottom: 0;
        }
    }

    p{
        margin-bottom: 30px;
        text-decoration: line-through;

        @include media ("<tablet"){
            color: #FFFFFF;
            margin-bottom: 0;
        }
    }
}


.prom{
    @include adaptiv-vaule("padding-top", 120, 40, 1);
    @include adaptiv-vaule("padding-bottom", 150, 50, 1);
}

.prom-content{
    text-align: center;
    
    .button-spoller{
        color: #000;
    }

    .item-spoller{
        display: flex;

        @include media ("<tablet"){
            flex-direction: column;
            align-items: center;
        }

        .item{
            margin-right: 25px;
            max-width: 456px;

            &:last-child{
                margin-right: 0;
            }

            @include media ("<tablet"){
                margin-bottom: 20px;
                margin-right: 0;
            }

            .img-item{

                @include media ("<tablet"){
                    display: none;
                }
            }

            .sub-item{
                display: flex;
                flex-direction: column;
                background: #FFF4F8;
                max-width: 100%;
                margin: 0;

                h4{
                    &::after{
                        display: none;

                        @include media ("<tablet"){
                            display: block;
                            padding: 5px;
                        }
                    }

                    @include media ("<tablet"){
                        order: 1;
                        margin-bottom: 20px;
                    }
                }

                h6{
                    @include media ("<tablet"){
                        order: 2;
                        margin-bottom: 20px;
                    }
                }

                a{
                    @include media ("<tablet"){
                        order: 3;
                        text-align: center;
                    }
                }

            }

            .sub{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 25px;

                @include media ("<tablet"){
                    order: 3;
                    margin-bottom: 20px;
                }

                h3,p{
                    margin-bottom: 0;
                }
                
                h3{
                    margin-right: 15px;
                }
            }

            .item-1{

                @include media ("<tablet"){
                    background: url(../images/pack/bg/1.png) 100% / cover no-repeat;
                }
            }
            .item-2{

                @include media ("<tablet"){
                    background: url(../images/pack/bg/2.png) 100% / cover no-repeat;
                }
            }
            .item-3{

                @include media ("<tablet"){
                    background: url(../images/pack/bg/3.png) 100% / cover no-repeat;
                }
            }

        }
    }
}

.question{
    @include adaptiv-vaule("padding-bottom", 180, 50, 1);


    .cont{
        @include media ("<tablet"){
            padding: 0;
        }
    }
}

.quetion-content{
    display: flex;
    justify-content: space-around;

    @include media ("<tablet"){
        flex-direction: column;
        justify-content: center;
    }

    .img-item{
        width: 48%;

        img{
            width: 100%;
        }
        @include media ("<tablet"){
            width: 100%;
            margin-bottom: 25px;
        }
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 48%;

        @include media ("<tablet"){
            padding: 0 20px;
            width: 100%;
        }
        
        h2{
        margin-bottom: 25px;
        }
        
        p{
            @include adaptiv-vaule("margin-bottom", 70, 20, 1);
            @include adaptiv-vaule("font-size", 18, 16, 1);
            font-weight: 300;
        }

        .btn{
            align-self: flex-start;
            color: #FFFFFF;
        }
    }
}


.plus{
    @include adaptiv-vaule("padding-bottom", 120, 40, 1);

    h2{
        text-align: center;
        @include adaptiv-vaule("margin-bottom", 100, 30, 1);

        @include media ("<phone"){
            text-align: start;
         }
    }

    .plus-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media ("<desktop"){
            justify-content: center;
        }

        @include media ("<phone"){
           justify-content: flex-start;
        }

        .item{
            max-width:255px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-right: 25px;
            margin-bottom: 30px;

            @include media ("<phone"){
                flex-direction: row;
                max-width: 100%;
                margin-right: 0;
            }

            &:last-child{
                margin-right: 0;
            }

            .img-item{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background:#FFF4F8;
                max-width: 70px;
                max-height: 70px;
                min-width: 70px;
                min-height: 70px;
                margin-bottom: 15px;


                @include media ("<phone"){
                    margin-right: 15px;
                }
            }

            .text{

                @include media ("<phone"){
                    text-align: start;
                }

                h5{
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.slick-track{
    display: flex;
    align-items: flex-start;   
}
.slick-list{
    overflow: hidden;
}



.about-you{

    @include adaptiv-vaule("padding-bottom", 120, 40, 1);

    .cont{
        max-width: 100%;
        @include adaptiv-vaule("padding-left", 250, 20, 1);

        @include media ("<tablet"){
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
        }
    }
}


.content{
    display: flex;
    position: relative;

    @include media ("<tablet"){
        flex-direction: column;
        width: 100%;
    }

    .tittle{
        padding-top: 140px;
        max-width: 270px;
        margin-right: 90px;

        @include media ("<tablet"){
            width: 100%;
            margin-bottom: 50px;
            padding-top: 0;
        }
    }
}

.slider{
    min-width: 0px;
    width: 80%;

    @include media ("<tablet"){
        width: 100%;
        position: relative;
    }

    .slick-arrow{
        font-size: 0;
        width: 56px;
        height: 5px;
        border: none;
        padding: 10px;
    }

    .slick-prev{
        position: absolute;
        background: url(../images/next.svg)center no-repeat;
        top: 60%;
        left: 0;

        @include media ("<tablet"){
            top: -30px;
        }
    }

    .slick-next{
        position: absolute;
        background: url(../images/prev.svg)center no-repeat;
        top: 60%;
        left: 100px;

        @include media ("<tablet"){
            top: -30px;
        }
    }

    .slick-dots{
        display: flex;
        position: absolute;
        bottom: -40px;
        width: 60%;

        @include media ("<desktop"){
            width: 40%;
        }

        @include media ("<tablet"){
  
            left: 50%;
            transform: translate(-30%);
            bottom: -25px;
        }

        @include media ("<phone"){

            transform: translate(-60%);

        }

        li{
            list-style: none;
            font-size: 0;
            width: 215px;
            height: 1px;

            @include media ("<tablet"){
                width: 8px;
                height: 9px;
                border-radius:50%;
                padding-right: 30px;

                &:last-child{
                    padding-right: 0;
                }
            }
        }

        button{
            width: 100%;
            background:#E5E5E5;
            border: none;
            transition: 0.5s;

            @include media ("<tablet"){
                width: 8px;
                height: 9px;
                border-radius:50%;
            }
        }
    }

    .slick-active{

        button{
            background:#DE596D;
            height: 3px;

            @include media ("<tablet"){
                width: 8px;
                height: 9px;
                border-radius:50%;
            }
        }
    }
}

.slider-item{
    margin-right: 25px;

    @include media ("<tablet"){
        margin-right: 0;
    }

    .img-item{
        height: 350px;
        margin-bottom: 25px;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    p{
        font-size: 18px;
        line-height: 150%;
    }
}

ul{
    padding: 0;
    margin: 0;
}

.gallery{
    @include adaptiv-vaule("padding-top", 100, 40, 1);
    @include adaptiv-vaule("padding-bottom", 100, 40, 1);
    background: #DE596D;

    .cont{
        max-width: 100%;
        @include adaptiv-vaule("padding-left", 250, 20, 1);

        @include media ("<tablet"){
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
        }
    }

    .content-gallery{
        display: flex;
        position: relative;

        @include media ("<tablet"){
            flex-direction: column;
            width: 100%;
        }

        .tittle{
            padding-top: 140px;
            width: 300px;
            margin-right: 95px;
            color: #FFFFFF;

            @include media ("<tablet"){
                width: 100%;
                margin-bottom: 50px;
                padding-top: 0;
            }
        }

        .slick-prev{
            background: url(../images/prevwhite.svg)center no-repeat;

        }
    
        .slick-next{
            background: url(../images/nextwhite.svg) center no-repeat;
        }


        .slick-dots{

            button{
                background:#CAC8CA;
            }
        }
        
        .slick-active{

            button{
                background:#FFFFFF;
                height: 3px;

                @include media ("<tablet"){
                    width: 8px;
                    height: 9px;
                    border-radius:50%;
                }
            }
        }
    }
}

.cabinet{
    @include adaptiv-vaule("padding-top", 120, 50, 1);
    @include adaptiv-vaule("padding-bottom", 120, 50, 1);

    .cont{
        max-width: 100%;
        @include adaptiv-vaule("padding-left", 250, 20, 1);

        @include media ("<tablet"){
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
        }
    }

    .content{

        .tittle{
            @include media ("<tablet"){
                max-width: 325px;
            }
        }

        .slick-prev{
            top: 80%;

            @include media ("<tablet"){
                top: -30px;
            }     

        }
    
        .slick-next{
            top: 80%;

            @include media ("<tablet"){
                top: -30px;
            } 
        }
    }
}

.reviews{
    font-family: 'Nunito', sans-serif;
    background:#FFF4F8;
    @include adaptiv-vaule("padding-top", 100, 40, 1);
    @include adaptiv-vaule("padding-bottom", 100, 40, 1);

    .tittle{
        text-align: center;
        @include adaptiv-vaule("margin-bottom", 100 , 50, 1);
    }

    .reviews-content{
        position: relative;
        margin-bottom: 70px;
       

        .item{
            background: #FFFFFF;
            margin:0 10px;
            padding: 30px;
            display: flex;
            flex-direction: column;

            @include media ("<tablet"){
                text-align: center;
            }

            p{
                font-weight: 300;
                @include adaptiv-vaule("font-size", 18, 16, 1);
                margin-bottom: 15px;
                line-height: 150%;
                max-width: 246px;

                @include media ("<1250px"){
                    max-width: 90%;
                }

                @include media ("<tablet"){
                    max-width: 100%;
                }
            }

            .data{
                order: 5;

                summary{
                    cursor: pointer;
                    
                    color:#DD8E94;
                    text-decoration: underline;

                    &:hover{
                        color: #DE596D;;
                    }
                
                    &:active{
                        color: #900B2F;
                    }
                
                    &:disabled{
                        color: #B5AFB5;
                    }

                    &::after{
                        content: attr(data-close);
                    }

                }
            }

            .data[open]{

                order: 4;

                summary{
                    margin-bottom: 20px;
                    position: absolute;
                    bottom: 0;
                    &::after{
                        content: attr(data-open);
                    }

                    p{
                        padding-top: 20px;
                    }
                }
            } 

            h6{
                margin-bottom: 25px;
                order: 2;
            }

            h5{
                font-weight: 300;
                font-size: 16px;
                margin-bottom: 10px;
                order: 1;
            }

            p{
                order: 3;
                margin: 0;
            }

            .mail{
                text-decoration: underline;
                margin-bottom: 30px;
                order: 4;
                margin-top: 15px;

                &:hover{
                    color: #DE596D;;
                }
            
                &:active{
                    color: #900B2F;
                }
            
                &:disabled{
                    color: #B5AFB5;
                }
            }
        }

        .slick-dots{
            display: flex;
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translate(-50%);

            li{
                list-style: none;
                font-size: 0;
                width: 8px;
                height: 9px;
                border-radius:50%;
                padding-right: 30px;
    
                &:last-child{
                    padding-right: 0;
                }
            }
    
            button{
                width: 100%;
                background:#E5E5E5;
                border: none;
                width: 8px;
                height: 9px;
                border-radius:50%;
                transition: 0.5s;
            }
        }
    
        .slick-active{
    
            button{
                background:#DE596D;
                height: 3px;
    
                @include media ("<tablet"){
                    width: 8px;
                    height: 9px;
                    border-radius:50%;
                }
            }
        }

        .slick-arrow{
            font-size: 0;
            width: 56px;
            height: 5px;
            border: none;
            top:-50px;
            padding: 10px;
        }
    
        .slick-prev{
            position: absolute;
            background: url(../images/next.svg)center no-repeat;
            left: 50%;
            transform: translate(-110%);
        }
    
        .slick-next{
            position: absolute;
            background: url(../images/prev.svg)center no-repeat;
            right: 50%;
            transform: translate(110%);
        }
    }

    .buttons{
        text-align: center;

        @include media ("<tablet"){
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .btn{
            margin-right: 50px;
            padding: 15px 60px;
            color:#FFFFFF;

            @include media ("<tablet"){
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        .btn-white{
            padding: 15px 75px;
        }

    }
}


.info-block{
    background: url(../images/info/infpbg.png)no-repeat;
    @include adaptiv-vaule("padding-top", 100, 40, 1);
    @include adaptiv-vaule("padding-bottom", 100, 40, 1);

    @include media ("<phone"){
        background: none;
    }

    .hidden-img{
        display: none;
        margin-bottom: 30px;

        img{
            min-height: 240px;
            object-fit: cover;
        }
        
        @include media ("<phone"){
            display: block;
        }
    }

    .item{
        max-width: 700px;   
        min-height: 500px;
        background: #FFFFFF;
        padding: 60px;

        @include media ("<desktop"){
            max-width: 100%;
            min-height: 100%;
            padding: 0;
            text-align: center;
        }

        h2{
            margin-bottom: 25px;
            text-align: start;
        }

        p{
            @include adaptiv-vaule("font-size", 18, 16, 1);
            margin-bottom: 60px;
            text-align: start;
        }

        .info-det{
            margin-bottom: 40px;
            
            summary{
                bottom: 0;
                margin-bottom: 20px;
                cursor: pointer;
                color:#DD8E94;
                text-decoration: underline;

                &:hover{
                    color: #DE596D;;
                }
            
                &:active{
                    color: #900B2F;
                }
            
                &:disabled{
                    color: #B5AFB5;
                }

                &::after{
                    content: attr(data-close);
                }
            }

            .img-item{
                margin-bottom: 30px;
            }
        }

        .info-det[open]{
            animation: info 0.8s;

            summary{
                margin-bottom: 20px;

                &::after{
                    content: attr(data-open);
                }
            }
        } 

        .btn{
            color:#FFFFFF;

            @include media ("<tablet"){
                text-align: center;
                align-self: center;
            }
        }
    }
}

@keyframes info{

    0%{
        opacity: 0;
        transform: translate(0 , -20px)

    }
    100%{
        opacity: 1;
        transform: translate(0 , 0)
    }
}

.task{
    @include adaptiv-vaule("padding-top", 100, 50, 1);
    @include adaptiv-vaule("padding-bottom", 100, 50, 1);

    @include media ("<tablet"){
        display: none;
    }

    .top-content{
        display: flex;
        @include adaptiv-vaule("margin-bottom", 100 , 50, 1);

        @include media ("<desktop"){
            flex-direction: column;
            align-items: center;
        }

        .img-item{
            width: 48%;
            padding-right: 20px;

            @include media ("<desktop"){
                margin-bottom: 30px;
                width: 100%;
                padding-right: 0;
            }

            img{
                height: 100%;

                @include media ("<desktop"){
                   width: 100%;
                }
            }
        }
    }     
    
    .bot-content{
        background: #FFFFFF;

        .tabs{
            flex-wrap: wrap;

            @include media ("<desktop"){
                flex-direction: column;
            }
            input{
                display: none;
            }

            input:checked +label{
                opacity: 1;
                border-bottom: 3px solid#DE596D;
                transition: 0.4s;
            }

            input:checked +.content{
                transition: 0.5s;
            }

            .content{
                display: none;
                margin-top: 40px;
                transition: 1s;


                li{
                    margin-bottom: 15px;
                    margin-left: 20px;
                    list-style: none;
                    position: relative;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    &::before{
                        content:'';
                        position: absolute;
                        border: 1px solid #DD8E94;
                        width: 10px;
                        left: -20px;
                        top: 8px;
                    }
                }
            }
            
            #tab-btn-1:checked~#content-1,
            #tab-btn-2:checked~#content-2,
            #tab-btn-3:checked~#content-3 {
            display: block;
            }
    
            label{
                @include adaptiv-vaule("font-size", 24, 18, 1);
                color: #161516;
                opacity: 0.6;
                cursor: pointer;
                margin-right: 40px;
                padding-bottom: 10px;
                border-bottom: 1px solid#CAC8CA
            }

            .last{
                margin-right: 0;
            }
        }
    }
}

.acor-container {
    width: 48%;

    @include media ("<desktop"){
        width: 100%;
    }

    .acor-body {
        margin: 0 auto;
        height: 0;
        padding: 0 30px;
        box-sizing: border-box;
        transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        border-bottom: 1px solid #CAC8CA;

        li::marker{
            color: #DE596D;
        }

        li{
            margin-bottom: 15px;
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
        }
    }

    label{
        cursor: pointer;
        display: block;
        padding: 15px 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 100;
        font-family: Verdana, sans-serif;   
        @include adaptiv-vaule("font-size", 18, 16, 1);
        margin: 0 0 5px;
        transition: color 0.3s;

        &::after{
            display: flex;
            justify-content: center;
            float: right;
            content: url(../images/task/arrow.svg);
            max-width: 25px;
            max-height: 25px;
            min-width: 25px;
            min-height: 25px;
            border-radius:50%;
            background: #DE596D;
        }
    }

    input{
        display: none;
    }

    input:checked + label:after {
        transition: 0.3s;
        transform: rotate(180deg);
        border: none;
    }

    input:checked + label + .acor-body {
        height: auto;
        margin-top: -5px;
        color: #000;
        padding: 20px;
        
    }
}


.equip{
    @include adaptiv-vaule("padding-top", 100, 50, 1);
    @include adaptiv-vaule("padding-bottom", 100, 50, 1);

    @include media ("<565px"){
       background: #FFF4F8;
    }

    .equip-content{
        display: flex;
        align-items: center;

        @include media ("<1270px"){
            flex-wrap: wrap;
            justify-content: center;
        }


        .item-1{
            max-width: 336px;
            padding-right: 25px;

            @include media ("<956px"){
                order: 2;
                padding-right: 0;
                text-align: center;
                margin-bottom: 30px;
            }

            h2{
                margin-bottom: 50px;
            }

            h4{
                margin-bottom: 15px;
            }

            p{
                font-size: 18px;
                color: #222022;
            }
        }

        .item-2{
            max-width: 717px;
            background: #FFF4F8;
            padding: 75px 200px 75px 75px;
            @include adaptiv-vaule("padding-right", 200, 0, 1);

            @include media ("<1270px"){
                padding: 70px;
                margin-bottom: 30px;
            }

            @include media ("<956px"){
                order: 3;
                text-align: center;
            }

            @include media ("<565px"){
                padding: 0;
                text-align: start;
            }

            .item{
                max-width: 440px;
                display: flex;
                align-items: center;
                margin-bottom:30px;

                &:last-child{
                    margin-bottom: 0;
                }

                .img-item{
                    max-width: 32px;
                    max-height: 32px;
                    min-width: 32px;
                    min-height: 32px;
                    @include adaptiv-vaule("margin-right", 25, 10, 1);
                }
            }
        }

        .item-3{
            margin-left: -130px;

            @include media ("<1270px"){
                margin-left: 0;
            }

            @include media ("<956px"){
                order: 1;
                margin-bottom: 30px;
            }

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

<<<<<<< HEAD

.video{
    @include adaptiv-vaule("padding-bottom", 120, 50, 1);

    .video-content{
        text-align: center;

        h2{
            margin-bottom: 55px;
        }

        video{
            max-width: 1000px;
            min-height: 500px;
            width: 100%;
        }
    }
}

.expert{
    @include adaptiv-vaule("padding-bottom", 120, 50, 1);

    h2{
        text-align: center;
        margin-bottom: 100px;
    }


    .cont-slider{
        position: relative;
        margin-bottom: 60px;

        @include media ("<desktop"){
            text-align: center;
        }

        .slick-arrow{
            font-size: 0;
            width: 56px;
            height: 5px;
            border: none;
            top:-50px;
            padding: 10px;
        }
    
        .slick-prev{
            position: absolute;
            background: url(../images/next.svg)center no-repeat;
            left: 50%;
            transform: translate(-110%);
        }
    
        .slick-next{
            position: absolute;
            background: url(../images/prev.svg)center no-repeat;
            right: 50%;
            transform: translate(110%);
        }

        .slick-dots{
            width: 100%;
            bottom: -35px;
        }

        .item{

            padding: 0 25px;

            .img-item{
                margin-bottom: 25px;
            }

            h4{
                margin-bottom: 10px;
            }

            p{
                max-width: 300px;

                @include media ("<desktop"){
                    max-width: 100%;
                }

            }
        }  
    }

    .exp-btn{
        display: flex;
        justify-content: center;
    }
}


.contact-data{
    background: #FFF4F8;
    @include adaptiv-vaule("padding-top", 100, 50, 1);
    @include adaptiv-vaule("padding-bottom", 120, 50, 1);

    .contact-content{
        display: flex;
        justify-content: space-between;

        @include media ("<desktop"){
            flex-direction: column;
            align-items: center;
        }

        .item-1{
            padding-right: 40px;
            width: 50%;

            @include media ("<desktop"){
                text-align:center;
                margin-bottom: 20px;
                padding-right: 0;
            }

            @include media ("<tablet"){
                order: 2;
                width: 100%;
            }

            h3{
                @include adaptiv-vaule("font-size", 38, 26, 1);
                margin-bottom: 60px;
            }

            .form{

                input{
                    font-size: 18px;
                    font-weight: 300;
                    width: 456px;
                    border: none;
                    border-bottom: 1px solid #CAC8CA;
                    padding-bottom: 10px;
                    margin-bottom: 50px;
                    background: #FFF4F8;
                }

                .boxes{
                    max-width: 400px;
                    margin-bottom: 60px;

                    @include media ("<tablet"){
                        max-width: 100%;
                        margin-bottom: 20px;
                    }

                    input{
                        width: 10px;
                    }

                    span{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                .box{
                    margin-bottom: 0;
                    margin-right: 10px; 
                    cursor: pointer;
                }
            }

            .btn{
                color:#FFFFFF
            }
        }

        .item-2{

            @include media ("<tablet"){
                order: 2;
            }

            .acor-container{
                width: 100%;

                label{
                    max-width: 700px;
                    padding: 25px;
                    font-family: 'Nunito', sans-serif;
                    background: #FFFFFF;
                    display: flex;
                    justify-content: space-between;
                    
                }

                .acor-body{
                    padding:0;
                    background: #FFFFFF;
                    margin-bottom: 15px;
                    border:none;
                    p{
                        max-width: 700px;
                        padding: 0 25px;
                    }
                }
            }
        }
    }
}

=======
>>>>>>> parent of c2a3e7a (1)
