footer{
    background:#DE596D ;
    @include adaptiv-vaule("padding-top", 40, 15, 1);
    @include adaptiv-vaule("padding-bottom", 10, 5, 1);
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media ("<700px"){
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

.logo{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-bottom: 30px;
    color: #fff;

    @include media ("<700px"){
        margin-right: 0;
        padding-right: 0;
        order: 1;
    }

    .logo-img{
        margin-bottom: 24px;
    }

    p{
        margin-bottom: 15px;
        color: #fff;
    }

    a{
        color: #fff;
    }
}

.link{
    padding-right: 20px;
    margin-bottom: 30px;

    @include media ("<700px"){
        margin-right: 0;
        padding-right: 0;
    }

    h6{
        margin-bottom: 24px;
    }

    a{
        margin-bottom: 15px;
        color: #fff;
    }
}

.menu{

    @include media ("<700px"){
        display: none;
    }

    .nav{
        display: flex;

        .item{
            display: flex;
            flex-direction: column;
            padding-right: 70px;
        }
    }
}

.contacts{
    display: flex;
    flex-direction: column;

    @include media ("<700px"){
        order:3;
    }

    h6{
        @include media ("<700px"){
            display: none;
        }
    }
}


.socio{

    @include media ("<700px"){
        order:2;
    }
    
    a{
        img{
            vertical-align: 2px;
        }
    }

    .icon{
        img{
            margin-right: 25px;
            margin-bottom: 40px;

            &:last-child{
                margin-right: 0;
            }
        }
    }
}
