<footer id="footer">
    <div class="container">
        <div class="footer-top">
            <div class="tittle">
                <h3>ROCHSTOFFE</h3>
            </div>
            <div class="main-links link">
                <h3>Главная</h3>
                <a href="#aboutcompany">О компании</a>
                <a href="#cycle">Сырьевой супер-цикл</a>
                <a href="#article">Акции Сырьевыех компаний</a>
            </div>
            <div class="report link">
                <h3>Статьи и Отчеты</h3>
            </div>
            <div class="contacts link">
                <h3>Контакты</h3>
                <a class="tele" href="tel:+1 (234) 567 89 90">+1 (234) 567 89 90</a>
                <a class="mail" href="mailto:loremipsum@mail.com">loremipsum@mail.com</a>
            </div>
        </div>
        <div class="footer-bot">
            <a href="#">Политика конфиденциальности</a>
            <p>2021 ROCHSTOFFE. Все права защищены</p>
            <img src="./images/footerimg.png" alt="">
        </div>
    </div>
</footer>