<header id="header">
    <div class="container">
        <div class="header-content">
            <div class="main-logo">
                <a href="#">
                    <img src="./images/imgheader/mainlogo.svg" alt="image not found">
                </a>
            </div>
            <div class="feedback-header">
                <div class="feedback-header-links">
                    <a href="#article">Блоги</a>
                    <a href="#feedback">Обратная связь</a>
                </div>
                <div class="login-links">
                    <a class="login open-popup " href="#">Вход</a>
                    <a href="#" class="open-popup">Регистрация</a>
                </div>
            </div>
            <div class="links">
                <nav class="header-links">
                    <ul>
                        <li>
                            <a href="index.html">Главная</a>
                        </li>
                        <li>
                            <a href="#article">Статьи и Отчеты</a>
                        </li>
                        <li>
                            <a href="#cycle">Цикл</a>
                        </li>
                        <li>
                            <a href="#company">Акции</a>
                        </li>
                        <li>
                            <a href="#footer">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="login-links">
                    <a class="login open-popup" href="#">Вход</a>
                    <a href="#" class="open-popup">Регистрация</a>
                </div>
            </div>
            <div class="header-burger">
                <span></span>
            </div>
        </div>
        <div class="header-text">
            <h1>Ваши достижения за наш опыт</h1>
            <p>Покупайте акции только по самым надежным данным и анализам нашими профессионалами</p>
        </div>
    </div>
</header>