.aboutUs_video {
    width: 100%;
    @include adaptiv-vaule("height", 720, 150, 1);
    position: relative;

    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .soundBtn {
        position: absolute;
        @include adaptiv-vaule("right", 50, 20, 1);
        @include adaptiv-vaule("bottom", 50, 15, 1);
        @include adaptiv-vaule("width", 72, 42, 1);
        @include adaptiv-vaule("height", 72, 42, 1);
        border-radius: 50%;
        overflow: hidden;
    }
}

.aboutUsText {
    @include adaptiv-vaule("padding-top", 90, 60, 1);
    @include adaptiv-vaule("padding-bottom", 90, 120, 1);
    background-color: $black;
    overflow: hidden;
    position: relative;

    @include media ("<desktop") {
        padding-bottom: 120px;
    }

    .aboutUs_item_left,
    .aboutUs_item_right,
    .line_left,
    .line_right,
    .line_left_phone,
    .line_right_phone {
        position: absolute;
    }

    .line_left,
    .line_right {
        @include media ("<phone") {
            display: none;
        }
    }

    .line_left_phone,
    .line_right_phone {
        display: none;
        position: absolute;

        @include media ("<phone") {
            display: block;
        }
    }

    .line_left_phone {
        left: 0;
        top: 0;
    }

    .line_right_phone {
        right: 0;
        top: 0;
    }

    .aboutUs_item_left {
        left: 0;
        bottom: 30px;
        @include adaptiv-vaule("width", 160, 95, 1);
        @include adaptiv-vaule("height", 210, 135, 1);

        @include media ("<desktop") {
            bottom: -50px;
        }
    }

    .aboutUs_item_right {
        @include adaptiv-vaule("right", -80, -150, 1);
        bottom: 70%;
        @include adaptiv-vaule("width", 250, 150, 1);
        @include adaptiv-vaule("height", 250, 150, 1);

        @include media ("<desktop") {
            bottom: -10px;
            right: -25px;
        }
    }

    .line_left {
        left: 0;
        bottom: 0;
    }

    .line_right {
        right: 0;
        top: 0;
    }

    .aboutUs_content {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
    }

    .aboutUs_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 42, 32, 1);
        @include adaptiv-vaule("margin-bottom", 25, 10, 1);
        line-height: 62px;
        letter-spacing: -1px;
        text-transform: capitalize;
        color: $pink;
    }

    .aboutUs_descr {
        color: rgba(255, 255, 255, 0.6);
        @include adaptiv-vaule("font-size", 16, 14, 1);
    }
}

.meal_plans {
    @include adaptiv-vaule("padding-top", 100, 60, 1);
    @include adaptiv-vaule("padding-bottom", 100, 60, 1);
    background-color: $green;

    .plans {
        text-align: center;
    }

    .plans_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 42, 32, 1);
        @include adaptiv-vaule("margin-bottom", 10, 25, 1);
        letter-spacing: -1px;
        text-transform: capitalize;
        color: $pink;
    }

    .plans_descr {
        color: rgba(255, 255, 255, 0.6);
        @include adaptiv-vaule("font-size", 18, 14, 1);
        max-width: 855px;
        margin: 0 auto;
        @include adaptiv-vaule("margin-bottom", 45, 25, 1);
    }

    .plans_card {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        gap: 25px;
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;

        @include media ("<tablet") {
            grid-template: repeat(3, 1fr) / 400px;
            justify-content: center;
        }

        @include media ("<phone") {
            grid-template: 1fr / 1fr;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        @include adaptiv-vaule("padding-top", 25, 10, 1);
        @include adaptiv-vaule("padding-bottom", 45, 10, 1);
        @include adaptiv-vaule("padding-right", 25, 10, 1);
        @include adaptiv-vaule("padding-left", 25, 10, 1);
        cursor: pointer;

        @include media ("<tablet") {
            padding: 25px;
        }
    }

    .current_card {
        border: 1px solid rgba(255, 255, 255, 1);
        background: rgba(255, 255, 255, 0.1);
    }

    .gold {
        position: relative;
    }

    .tip {
        position: absolute;
        top: -5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $pink;
        border-radius: 8px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 15px;
        color: $green;
        white-space: nowrap;
    }

    .card_title_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include adaptiv-vaule("padding-bottom", 25, 15, 1);
        @include adaptiv-vaule("margin-bottom", 25, 15, 1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .card_title {
        font-weight: 600;
        font-size: 24px;
        line-height: 34 / 24 * 100%;
        color: $white;
    }

    .card_price {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 32, 26, 1);
        line-height: 45 / 32 * 100%;
        text-transform: uppercase;
        color: $white;
    }

    .card_list {
        flex: 1 1 auto;
        height: 100%;
        text-align: start;
    }

    .list_item {
        position: relative;
        padding-left: 36px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19 / 16 * 100%;
        color: #FFFFFF;


        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &::before {
            content: url(../images/faq/list_check.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.choose_meal {
    @include adaptiv-vaule("padding-top", 30, 60, 1);
    @include adaptiv-vaule("padding-bottom", 100, 60, 1);
    background-color: $green;
    display: none;
    text-align: center;

    .choose_meal_content {
        text-align: center;
    }

    .choose_meal_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 42, 32, 1);
        @include adaptiv-vaule("margin-bottom", 20, 10, 1);
        letter-spacing: -1px;
        text-transform: capitalize;
        color: $pink;
    }

    .choose_meal_schedule {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiv-vaule("margin-bottom", 65, 60, 1);
    }

    .schedule_img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .select_plan {
        display: grid;
        grid-template: 1fr / repeat(6, 1fr);
        justify-content: space-between;
        @include adaptiv-vaule("margin-bottom", 70, 35, 1);

        @include media ("<widescreen") {
            grid-template: 1fr / 1fr;
        }
    }

    .schedule_day {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 18, 14, 1);
        color: #FFFFFF;
    }

    .meal_column {
        text-align: center;

        &.clicked {
            .meal_item {
                opacity: 0.5;
            }

            .meal_item_active {
                opacity: 1;

                .selected {
                    display: block;
                }
            }
        }

        @include media ("<widescreen") {
            margin-bottom: 35px;
        }

        &:not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.4);

            @include media ("<widescreen") {
                border-right: none;
            }
        }
    }

    .meal_items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 60px;

        @include media ("<widescreen") {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 35px;
        }
    }

    .meal_item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 170px;
        @include adaptiv-vaule("width", 190, 0, 1);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        text-align: center;
        padding: 40px 12px 12px 12px;
        position: relative;

        @include media ("<widescreen") {
            width: 150px;
            margin: 0;
            margin-bottom: 35px;
        }
    }

    .platinum_meal {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #C1A875;
        box-shadow: 0px 0px 30px rgba(123, 109, 32, 0.6);
    }

    .meal_column_title {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 24, 18, 1);
        line-height: 140%;
        color: #FFFFFF;
        @include adaptiv-vaule("padding-bottom", 20, 10, 1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);

        &:not(:last-child) {
            @include adaptiv-vaule("margin-bottom", 60, 35, 1);
        }
    }

    .meal_item_img {
        width: 72px;
        height: 72px;
        @include adaptiv-vaule("height", 72, 52, 1);
        @include adaptiv-vaule("width", 72, 52, 1);
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, 50%);

        @include media ("<desktop") {
            top: -40%;
        }

        @include media ("<tablet") {
            top: -30%;
        }

        // img {
        //     filter: drop-shadow(4px 20px 60px #393230);
        //     border-radius: 1000px;
        // }
    }

    .tip {
        font-weight: 500;
        font-size: 12px;
        text-transform: capitalize;
        color: $black;
        background-color: $pink;
        border-radius: 100px;
        padding: 2px 5px;
        display: inline-block;
        margin-bottom: 5px;
    }

    .platinum {
        background: linear-gradient(0deg, #C1A875, #C1A875), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, rgba(255, 255, 255, 0.6) 95.95%), linear-gradient(76.82deg, #9EAEB2 11.6%, #7E8886 48.06%, #728489 91.31%);
        background-blend-mode: color, overlay, normal;
        box-shadow: 0px 0px 36px rgba(123, 109, 32, 0.6);
    }

    .select_dot {
        @include adaptiv-vaule("height", 24, 18, 1);
        @include adaptiv-vaule("width", 24, 18, 1);
        border-radius: 50%;
        overflow: hidden;
        background-color: $white;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .selected {
        display: none;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        overflow: hidden;
        background-color: $green;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
    }

    .show_selected {
        display: block;
    }

    .meal_item_title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }

    .meal_btn {
        background-color: $pink;
        max-width: 220px;
        width: 100%;
        margin: 0 auto;
        font-weight: 600;
        font-size: 18px;
        text-transform: capitalize;
        color: #272727;
        padding: 15px;
        display: inline-block;
    }

    .meal_btn_active{
        position:fixed;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .planSilver {
        display: grid;
        grid-template: 1fr / repeat(3, 215px);
        justify-content: center;

        @include media ("<tablet") {
            grid-template: 1fr / repeat(3, 1fr);
        }

        @include media ("<phone_max") {
            grid-template: 1fr/ 1fr;
        }

        .meal_column {

            &:not(:last-child) {
                border-right: 1px solid rgba(255, 255, 255, 0.4);

                @include media ("<phone_max") {
                    border: none;
                }

            }
        }
    }

    .planGold {
        display: grid;
        grid-template: 1fr / repeat(5, 215px);
        justify-content: center;

        @include media ("<desktop") {
            grid-template: 1fr/ 1fr;
        }


        .meal_column {

            &:not(:last-child) {
                border-right: 1px solid rgba(255, 255, 255, 0.4);

                @include media ("<desktop") {
                    border: none;
                }

            }
        }
    }

}

.application {
    background-color: $black;
    @include adaptiv-vaule("padding-top", 140, 60, 1);
    @include adaptiv-vaule("padding-bottom", 140, 60, 1);
    position: relative;
    overflow: hidden;

    .line_desktop {
        position: absolute;
        left: 0;
        bottom: 0;

        @include media ("<phone") {
            display: none;
        }
    }

    .line_phone {
        position: absolute;
        right: 0;
        top: -8%;
        display: none;

        @include media ("<phone") {
            display: block;
        }
    }

    .application_content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 1;

        @include media ("<desktop") {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .application_text {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media ("<desktop") {
            width: 100%;
            align-items: center;
            text-align: center;
        }
    }

    .application_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 42, 37, 1);
        line-height: 148%;
        letter-spacing: -1px;
        text-transform: capitalize;
        color: $pink;
        @include adaptiv-vaule("margin-bottom", 30, 25, 1);
    }

    .service_text {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 20px;
    }

    .service_location {
        margin-bottom: 130px;

        @include media ("<desktop") {
            margin-bottom: 50px;
        }
    }

    .location_wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .location_body {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .location_img {
        width: 22px;
        height: 22px;
        margin-right: 10px
    }

    .location_name {
        @include adaptiv-vaule("font-size", 20, 15, 1);
        color: #FFFFFF;
    }

    .contact_data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media ("<desktop") {
            align-items: center;
        }
    }

    .hidden {
        display: none;

        @include media ("<desktop") {
            display: flex;
        }
    }

    .visible {
        @include media ("<desktop") {
            display: none;
        }
    }

    .contact_tip {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .contact_title {
        font-size: 28px;
        color: #FFFFFF;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }


    form {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @include media ("<desktop") {
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
        }
    }

    .data_wrap {
        display: flex;
        flex-direction: column;
        width: 47%;
        margin-bottom: 20px;

        @include media ("<phone_max") {
            width: 100%;
        }
    }

    .input_name {
        font-weight: 600;
        font-size: 13px;
        text-transform: capitalize;
        color: $white;
        position: relative;
        left: 15px;
        top: 10px;
        background-color: $black;
        padding: 2px;
        width: max-content;
        z-index: 2;
    }

    .data {
        background-color: transparent;
        border: 1px solid $white;
        padding: 15px;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        color: rgba(157, 157, 155, 0.8);

        &:focus {
            border: 1px solid $pink;
        }

        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            color: rgba(157, 157, 155, 0.8);
        }
    }

    .form_btn {
        background-color: $pink;
        border: none;
        max-width: 210px;
        width: 100%;
        padding: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        text-transform: capitalize;
        color: #272727;

        @include media ("<desktop") {
            margin: 0 auto;
        }

        @include media ("<phone") {
            max-width: 100%;
        }
    }

    .data_option {
        font-weight: 500;
        font-size: 16px;
        color: rgba(157, 157, 155, 0.8);
        text-transform: capitalize;
    }

    .custom-select {
        position: relative;
        font-family: Arial;
    }

    .custom-select select {
        display: none;
    }

    .select-selected {
        background-color: transparent;
    }

    .select-selected:after {
        position: absolute;
        content: url(../images/home_page/arrow_form.svg);
        top: 15px;
        right: 20px;
        width: 15px;
        height: 10px;
        transition: all .3s ease;
    }

    .select-selected.select-arrow-active:after {
        transform: rotateZ(180deg) translateY(-100%);
        top: 20px;
        right: 25px;
        transition: all .3s ease;
    }

    .select-items div,
    .select-selected {
        font-weight: 500;
        font-size: 16px;
        color: rgba(157, 157, 155, 0.8);
        border: 1px solid $white;
        padding: 15px;
        width: 100%;
        cursor: pointer;
        text-align: start;
        text-transform: capitalize;
        font-family: 'Montserrat';
    }

    .select-items {
        position: absolute;
        background-color: $black;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .select-hide {
        display: none;
    }

    .select-items div:hover,
    .same-as-selected {
        background-color: $green;
        color: $white;
    }
}