.menu_page {
    @include adaptiv-vaule("padding-top", 120, 60, 1);
    @include adaptiv-vaule("padding-bottom", 110, 50, 1);
    background-color: $black;

    .menu_content {
        text-align: center;
        position: relative;
        z-index: 2;
    }

    .menu_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 92, 56, 1);
        line-height: 103 / 92 * 100%;
        color: rgba(249, 192, 172, 0.9);
        mix-blend-mode: normal;
        @include adaptiv-vaule("margin-bottom", 80, 40, 1);
        position: relative;
        z-index: 3;

        &::before {
            content: '';
            position: absolute;
            @include adaptiv-vaule("width", 380, 220, 1);
            height: 100%;
            background-color: $black;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $pink;
            z-index: -2;
        }
    }

    .menu_items {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiv-vaule("gap", 30, 15, 1);

        @include media ("<desktop") {
            flex-wrap: wrap;
        }
    }

    .active_scrollMenu {
        background-color: $black;
        z-index: 5;

        .item {
            height: 100px;
            background: rgba(0, 0, 0, 0.54);
            backdrop-filter: blur(20.5px);

            @include media ("<desktop") {
                height: 60px;
            }

            &::before {
                background: rgba(0, 0, 0, 0.54);
                backdrop-filter: blur(20.5px);
            }
        }

        .active {
            &::before {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) -31.82%, rgba(0, 0, 0, 0.7) 130.99%);
                backdrop-filter: none;
            }
        }
    }

    .item {
        @include adaptiv-vaule("height", 180, 160, 1);
        @include adaptiv-vaule("width", 200, 160, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include adaptiv-vaule("padding-top", 15, 10, 1);
        @include adaptiv-vaule("padding-bottom", 15, 10, 1);
        @include adaptiv-vaule("padding-right", 15, 10, 1);
        @include adaptiv-vaule("padding-left", 15, 10, 1);
        transition: all .3s linear;

        @include media ("<phone") {
            width: 47%;
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) -31.82%, rgba(0, 0, 0, 0.7) 130.99%);
            top: 0;
            left: 0;
            z-index: 1;
        }

        &:hover {
            transform: scale(1.1);
            transition: all .3s linear;
        }
    }

    .anchor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .item_title {
        position: relative;
        z-index: 2;
        font-weight: 700;
        @include adaptiv-vaule("font-size", 32, 24, 1);
        line-height: 62 / 42 * 100%;
        letter-spacing: -1px;
        text-transform: capitalize;
        color: $white;
    }
}



.menu_body {
    text-align: center;

    .container {
        overflow: hidden;
    }

    .menu_positions {
        @include adaptiv-vaule("padding-top", 120, 60, 1);
        @include adaptiv-vaule("padding-bottom", 110, 50, 1);
        position: relative;
    }

    .line_left {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .line_right {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .menu_positions_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 64, 32, 1);
        line-height: 103 / 92 * 100%;
        color: rgba(249, 192, 172, 0.9);
        margin-bottom: 40px;
        position: relative;
        z-index: 3;

        &::before {
            content: '';
            position: absolute;
            @include adaptiv-vaule("width", 445, 200, 1);
            height: 100%;
            background-color: $green;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $pink;
            z-index: -2;
        }
    }

    .menu_items {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        gap: 20px;

        @include media ("<desktop") {
            grid-template: 1fr / repeat(auto-fit, minmax(230px, 1fr));
            gap: 15px;
        }

        @include media ("<phone") {
            grid-template: 1fr / repeat(auto-fit, minmax(160px, 1fr));
        }
    }

    .menu_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $pink;
        border-radius: 32px;
        @include adaptiv-vaule("padding-top", 120, 35, 1);
        @include adaptiv-vaule("height", 340, 200, 1);
        @include adaptiv-vaule("padding-right", 10, 5, 1);
        @include adaptiv-vaule("padding-left", 10, 5, 1);
        @include adaptiv-vaule("margin-top", 140, 60, 1);
        padding-bottom: 10px;
        margin-bottom: 20px;
        position: relative;
        transition: all .3s ease-out;

        &:hover {
            border: 0px solid transparent;
            transition: all .3s ease-out;

            .item_descr_wrap {
                height: 100%;
                padding: 40px 0 20px 0;
                @include adaptiv-vaule("padding-right", 15, 10, 1);
                @include adaptiv-vaule("padding-left", 15, 10, 1);
                transition: all .3s ease-out;
                bottom: 0;

                @include media ("<phone") {
                    padding-bottom: 15px;
                }
            }
        }
    }

    .menu_item_img {
        position: absolute;
        top: -40%;
        left: 50%;
        z-index: 3;
        transform: translateX(-50%);
        border-radius: 50%;
        overflow: hidden;
        @include adaptiv-vaule("width", 240, 100, 1);
        @include adaptiv-vaule("height", 240, 100, 1);

        @include media ("<tablet") {
            top: -30%;
        }
    }

    .item_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 24, 16, 1);
        line-height: 36 / 24 * 100%;
        text-transform: capitalize;
        color: $pink;
        margin-bottom: 20px;
    }

    .tip {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 16, 12, 1);
        line-height: 32 / 16 * 100%;
        text-transform: capitalize;
        color: $black;
        background-color: $pink;
        border-radius: 100px;
        @include adaptiv-vaule("padding-top", 5, 0, 1);
        @include adaptiv-vaule("padding-bottom", 5, 0, 1);
        @include adaptiv-vaule("padding-right", 15, 8, 1);
        @include adaptiv-vaule("padding-left", 15, 8, 1);
        display: inline-block;
        position: relative;
    }

    .platinum {
        background: linear-gradient(0deg, #C1A875, #C1A875), linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, rgba(255, 255, 255, 0.6) 95.95%), linear-gradient(76.82deg, #9EAEB2 11.6%, #7E8886 48.06%, #728489 91.31%);
        background-blend-mode: color, overlay, normal;
        box-shadow: 0px 0px 36px rgba(123, 109, 32, 0.6);
    }

    .item_descr_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        height: 0;
        text-align: center;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(42.5px);
        border-radius: 32px;
        padding: 0;
        overflow: hidden;
        transition: all .3s ease-out;
    }

    .item_descr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .component_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 24, 16, 1);
        letter-spacing: -1px;
        text-transform: capitalize;
        color: $pink;
        text-align: center;
        margin-bottom: 10px;
    }

    .component {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 14, 12, 1);
        line-height: 28 / 18 * 100%;
        text-transform: capitalize;
        color: $white;
        padding-left: 10px;
        position: relative;
        text-align: start;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $white;

        }

        &:not(:last-child) {
            @include adaptiv-vaule("margin-bottom", 10, 5, 1);
        }
    }

    .black {
        background-color: $black;

        .menu_item_img {
            filter: drop-shadow(4px 20px 60px #393230);
            border-radius: 1000px;
        }

        .menu_positions_title {
            &::before {
                background-color: $black;
            }
        }
    }

    .green {
        background-color: $green;

        .menu_item_img {
            filter: drop-shadow(4px 20px 50px #2C3724);
            border-radius: 1000px;
        }
    }
}