<header id="header">
    <div class="cont">
        <div class="header-content">
            <div class="logo">
                <a href="#" class="logo-img">
                    <img src="./images/header/header-logo.svg" alt="image not found">
                    <img src="./images/header/logo-name.svg" alt="image not found">
                </a>
            </div>
            <nav class="nav">
                <ul class="menu">
                    <li class="menu-item"><a href="#">Home</a></li>
                    <li class="menu-item"><a href="#">About Us</a></li>
                    <li class="menu-item"><a href="#">Services</a></li>
                    <li class="menu-item"><a href="#">Pages</a></li>
                    <li class="menu-item"><a href="#">Contact Us</a></li>
                </ul>
            </nav>
            <div class="header-burger">
                <span></span>
            </div>
        </div>
    </div>
</header>