<header id="header">
    <div class="cont">
        <div class="header-top">
            <div class="header-logo">
                <a href="#">
                    <img src="./images/header/logo.svg" alt="image not found">
                </a>
            </div>
            <nav class="links">
                <ul>
                    <li><a href="#">Адресная система РФ </a> </li>
                    <li><a href="#">Документация </a></li>
                    <li><a href="#">Публикации </a></li>
                    <li><a href="#" class="open-popup">Вход</a></li>
                </ul>
            </nav>
            <div class="burger">
                <span></span>
            </div>
        </div>
        <div class="header-bot">
            <div class="head-text">
                <h1>Подсказки по всем адресам РФ для вашего сайта</h1>
                <p>Актуальная база почтовых адресов Российской Федерации для продаж, аналитики и логистики</p>
            </div>
            <div class="search-box">
                <div class="img-item">
                    <img src="./images/header/img.svg" alt="image not found">
                </div>
                <div class="box">
                    <form class="form">
                        <label>
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10.6855 2.33087C8.24464 -0.109956 4.27202 -0.109956 1.8312 2.33087C-0.609097 4.77222 -0.609097 8.74431 1.8312 11.1857C4.00481 13.3587 7.39011 13.5916 9.82934 11.8947C9.88067 12.1375 9.99813 12.3693 10.187 12.5582L13.7416 16.1128C14.2597 16.6298 15.0967 16.6298 15.6121 16.1128C16.1296 15.5953 16.1296 14.7583 15.6121 14.2424L12.0575 10.6867C11.8696 10.4994 11.6373 10.3814 11.3945 10.3301C13.0924 7.89031 12.8596 4.50554 10.6855 2.33087ZM9.5632 10.0634C7.74092 11.8857 4.77521 11.8857 2.95346 10.0634C1.13223 8.24111 1.13223 5.27594 2.95346 3.45365C4.77521 1.6319 7.74092 1.6319 9.5632 3.45365C11.3855 5.27594 11.3855 8.24111 9.5632 10.0634Z" />
                            </svg>
                            <input type="search" name="search">
                        </label>
                    </form>
                    <div class="card">
                        <div class="text">
                            <h6>Код КЛАДР</h6>
                            <p>7700000000004920001</p>
                        </div>
                        <div class="text">
                            <h6>Код ФИАС</h6>
                            <p>15df9883-6081-4647-882e-079769342ba3</p>
                        </div>
                        <div class="text">
                            <h6>Код ОКАТО</h6>
                            <p>45296569000</p>
                        </div>
                        <div class="text">
                            <h6>Код ОКТМО</h6>
                            <p>45917000</p>
                        </div>
                        <div class="text">
                            <h6>Код налоговой</h6>
                            <p>7724</p>
                        </div>
                        <div class="text">
                            <h6>Подпись</h6>
                            <p>дом</p>
                        </div>
                    </div>
                </div>
                <div class="sub-text">
                    <p>Полный список параметров находится в <a href="#">Документации</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>