<footer id="footer">
    <div class="cont">
        <div class="footer-content">
            <div class="footer-top">
                <div class="social">
                    <a class="logo" href="#">
                        <img class="logo-img" src="./images/header/header-logo.svg" alt="image not found">
                        <img src="./images/header/logo-name.svg" alt="image not found">
                    </a>
                    <p class="social-description">
                        We are the leading architect and interior design firm in the world.
                    </p>
                    <div class="social-logos">
                        <a href="#" class="icons">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                        <a href="#" class="icons">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                        <a href="#" class="icons">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                        <a href="#" class="icons">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </div>
                </div>
                <div class="pages">
                    <h2 class="title">Pages</h2>
                    <ul class="menu">
                        <li class="item"><a href="#">
                                Style Guide
                            </a></li>
                        <li class="item"><a href="#">
                                Protected
                            </a></li>
                        <li class="item"><a href="#">
                                Licenses
                            </a></li>
                        <li class="item"><a href="#">
                                Changelog
                            </a></li>
                        <li class="item"><a href="#">
                                404
                            </a></li>
                    </ul>
                </div>
                <div class="explore">
                    <h2 class="title">Explore</h2>
                    <ul class="menu">
                        <li class="item"><a href="#">
                                About Us
                            </a></li>
                        <li class="item"><a href="#">
                                Recent Blog
                            </a></li>
                        <li class="item"><a href="#">
                                Pricing Plan
                            </a></li>
                        <li class="item"><a href="#">
                                Our Projects
                            </a></li>
                        <li class="item"><a href="#">
                                Contact Us
                            </a></li>
                    </ul>
                </div>
                <div class="contact">
                    <h2 class="title">Contact</h2>
                    <a class="map-link" href="https://goo.gl/maps/qU1ySokyuXeC5nVJA" target="_blank">53, East Birchwood
                        Ave. Brooklyn, New York 11201, USA.</a>
                    <a href="mailto:contact@interno.com" class="mail">contact@interno.com</a>
                    <a class="tel" href="tel:(123)456-7890">(123) 456 - 7890</a>
                </div>
            </div>
            <div class="footer-bottom">
                <p class="copyright terms">Copyright © Interno | Designed by <a href="#">Victorflow</a></p>
                <p class="templates terms">Templates - Powered by <a href="#">Webflow</a></p>
            </div>
        </div>
    </div>
</footer>