header {
    position: absolute;
    z-index: 5;
    width: 100%;

    .header_content {
        padding: 25px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<tablet") {
            padding: 10px 0;
        }
    }

    .logo {
        width: 101px;

        svg {
            fill: $white;
            stroke: $white;
            position: relative;
            z-index: 2;

            path {
                stroke-dasharray: 500;
                stroke-dashoffset: 0;
                animation: peak 4s ease-out;
            }

            .text {
                stroke: none;
                animation: text 3s ease-out;
            }
        }

        @keyframes text {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes peak {

            0% {
                stroke-dashoffset: 550;
                fill: none;
            }

            40% {
                stroke-dashoffset: 1000;
            }

            80% {
                stroke-dashoffset: 1100;
            }

            100% {
                stroke-dashoffset: 1100;
                fill: $white;
            }
        }
    }

    .nav-menu,
    .nav {
        display: flex;
        align-items: center;
    }

    .nav {
        @include media ("<tablet") {
            position: absolute;
            top: -100vh;
            right: 0;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.85);
            width: 50%;
            height: 100vh;
            justify-content: center;
            transition: all 0.5s ease;
            padding: 60px 30px;
        }

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .nav-menu {
        @include adaptiv-vaule("margin-right", 45, 5, 1);

        @include media ("<tablet") {
            flex-direction: column;
            margin: 0 0 30px 0;
            padding: 0 46px;
            overflow: auto;
        }
    }

    .menu-item {
        @include adaptiv-vaule("margin-left", 45, 10, 1);

        @include media ("<tablet") {
            margin: 0 0 25px 0;
        }

        a {
            color: $white;
            font-weight: 600;
            padding: 10px 15px;
            border-radius: 10px;
            @include adaptiv-vaule("font-size", 20, 16, 1);

            @include media ("<tablet") {
                color: $black;
                padding: 0 10px;
                font-size: 36px;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.85);
                color: $black;

                @include media ("<tablet") {
                    background: none;
                }
            }
        }
    }

    .header-btn {
        a {
            color: $black;
            font-weight: 600;
            font-size: 20px;
            border-radius: 10px;
            background: $white;
            transition: all 0.3s ease;
            padding: 10px 15px;

            @include media ("<tablet") {
                color: $black;
                font-size: 36px;
            }

            @include media ("<phone") {
                font-size: 24px;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.6);

                @include media ("<tablet") {
                    background: none;
                }
            }
        }
    }

    .burger_menu {
        display: none;
        width: 28px;
        height: 21px;
        position: relative;
        top: -2px;
        cursor: pointer;
        z-index: 3;

        @include media ("<tablet") {
            display: block;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: $white;
            transition: all 0.4s ease;
        }

        span {
            position: absolute;
            width: 100%;
            height: 3px;
            background: $white;
            top: 9px;
            left: 0;
            transition: all 0.4s ease;
            opacity: 1;
            animation: fly_back 0.7s ease;
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0;
        }
    }

    .burger_active {
        &::after {
            transform: rotate(-45deg);
            bottom: 9px;
            background: $black;
        }

        &::before {
            transform: rotate(45deg);
            top: 9px;
            background: $black;
        }

        span {
            opacity: 0;
            visibility: hidden;
            animation: fly 0.7s ease;
            background: $black;
        }
    }

    @keyframes fly {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: rotate(360deg);
        }
    }

    @keyframes fly_back {
        0% {
            opacity: 0;
            transform: rotate(360deg);
        }

        100% {
            opacity: 1;
        }
    }

    .menu_active {
        top: 0;
    }
}