<header id="header">
    <div class="cont">
        <div class="header-content">
            <div class="logo-img">
                <a class="logo" href="#">
                    <img src="./images/header/header-logo.svg" alt="image not found">
                    <p>Locus</p>
                </a>
            </div>
            <nav class="nav">
                <ul class="nav-menu">
                    <li class="menu-item"> <a href="#">Home</a></li>
                    <li class="menu-item"> <a href="#">Contact</a></li>
                    <li class="menu-item"> <a href="#">Location</a></li>
                    <li class="menu-item"> <a href="#">About Us</a></li>
                </ul>
                <div class="header-btn-wrap">
                    <a class="header-btn" href="#">Sign Up</a>
                </div>
            </nav>
            <div class="header-burger">
                <span></span>
            </div>
        </div>
    </div>
</header>