body {
    font-family: 'Montserrat', sans-serif;
}

.cont{
    max-width: 1188px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0; 
    pointer-events: none;
    transition: 0.5s all;
    z-index: 2;

}

.popup-bg.active{
    opacity: 1;
    pointer-events: all; 
    transition: 1s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) ;
    background: #fff;
    width: 300px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #156963;
    

    button{
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 18px;
        border: 2px solid #156963;
        background: #156963;
        cursor: pointer;
        text-transform: uppercase;
        transition: 0.5s all;

        &:hover {
            background: #fff;
            color:#156963;
            transition: 0.5s all;
        }
    }

    input{
        height: 40px;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 5px;
        border: 1px solid #cfd0d3;
        padding: 5px;

        &:focus{
            border-bottom: 1px solid #000;
        }
    }

    label{
        width: 100%;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column-reverse;
    }

    .label__text {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #000;
        margin-bottom: 10px;
    }
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &::after{
        content: '\00D7';
        color: #156963;
    }
}

.slick-list{
    overflow: hidden;
}

.slick-track{
    display: flex;
    align-items: flex-start;
}

.main-section{
    @include adaptiv-vaule("padding-bottom", 140, 40, 1);
    height: 700px;

    @include media ("<desktop"){
        height: auto;
    }
}

.main-content{
    display: flex;
    justify-content: flex-end;
    position: relative;

    @include media ("<desktop"){
        flex-direction: column;
        align-items: center;
    }

    .main-img{
        position: absolute;
        top: -200px;
        left: -100px;

        @include media ("<desktop"){
            position:static;
            margin-bottom: 30px;
        }

        img{
            width: 50vw;
            height: 750px;

            @include media ("<desktop"){
                width: 100%;
                height: 100%;
            }
        }
    }

    .slider{
        position: relative;
        width: 50%;

        @include media ("<desktop"){
           width: 100%;
           
        }
    }

    .arrows{
        display:flex;

        @include media ("<tablet"){
            display: none;
        }
    }

    .prev,.next{
        position: absolute;
        bottom: -226px;
        cursor: pointer;
        padding: 40px 50px;

        @include media ("<desktop"){
            position:static;
        }

        &:hover{
            background: #156963;

            h3{
                color: #fff;
            }
        }

        p{
            font-weight: 500;
            @include adaptiv-vaule("font-size", 24, 18, 1);
            color: #9e9e9e;
            margin-bottom: 10px;
        }

        svg{
            fill: #9e9e9e;
            vertical-align: -2px;
        }

        h3{
            color: #156963;

        }
    }

    .prev{
        right: 31%;

        svg{
           margin-right: 15px;
        }
    }

    .next{
        right: 0;

        svg{
            margin-left: 15px;
        }
    }

    .main-info{
        display: flex;
        flex-direction: column;

        @include media ("<desktop"){
            text-align: center;
            align-items: center;
        }

        h1{
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            line-height: 83px;
            color: #156963;
            max-width: 520px;
        }

        p{
            @include adaptiv-vaule("font-size", 18, 16, 1);
            line-height: 178%;
            color: #2C1500;
            opacity: 0.8;
            max-width: 500px;
            margin-right: 65px;

            @include media ("<desktop"){
                width: 100%;
                margin-right:0; 
            }
        }
    }
}

.icons{
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);

    .icon-content{
        display: flex;
        justify-content: space-between;

        @include media ("<desktop"){
            flex-wrap: wrap;
             justify-content: center;
        }

        @include media ("<889px"){
            justify-content: center;
        } 
    }

    .icon-item{
        max-width: 268px;
        border: 1px solid #E0E0E0;
        padding: 15px 20px;

        @include media ("<desktop"){
            margin-bottom: 30px;
            margin-right: 15px;
        }

        @include media ("<tablet"){
           
            &:nth-child(even){
                margin-right: 0;
            }
        }

        @include media ("<549px"){
            margin: 0 0 15px 0;
        }

        .icon-img{
            margin-bottom: 15px;
        }

        .icon-text{
            p{
                font-size: 10px;
                line-height: 16px;
                color: #2C1500;
                max-width: 205px;
            }
        }
    }
}

.plants{
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);
}

.plant-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 20px;

    select{
        padding: 8px 36px 8px 12px;
        font-size: 12px;
        cursor: pointer;
    }
}

.plant-content{
    display: flex;
    justify-content: space-between;
    @include adaptiv-vaule("margin-bottom", 90 , 40, 1);
    border-top: 1px solid #E0E0E0;

    @include media ("<tablet"){
        flex-wrap: wrap;
        justify-content: center;
    }

    .plant-item{
        text-align: center;


        a{
            font-weight: 600;
            
            &:hover{
                text-decoration: underline;
            }
        }

        .img-plant{
            margin-bottom: 20px;
        }
    }
}

.buy-plant{
    display: flex;
    justify-content: space-between;

    @include media ("<desktop"){
        flex-direction: column;
        align-items: center;
    }

    img{
        object-fit: cover;

        @include media ("<desktop"){
            width: 100%;
        }
    }

    .item-1{
        max-width: 600px;
        padding-right: 20px;

        h2,p{
            max-width: 500px;

            @include media ("<desktop"){
                max-width: 100%;
            }
        }

        @include media ("<desktop"){
            margin-bottom: 40px;
            max-width: 100%;
            padding-right: 0;
            max-width: 80%;
        }

        @include media ("<tablet"){
            max-width: 100%;
        }

        .sub-item-1{
            margin-bottom: 30px;
        }

        .sub-item-2{
            height: 50%;

            img{
                height: 100%;
            }
        }

        h2{
            @include media ("<desktop"){
                text-align: center;
            }
        }

        p{
            @include adaptiv-vaule("font-size", 16, 14, 1);
            line-height: 175%;
            color: #2C1500;
            opacity: 0.8;

            @include media ("<desktop"){
                text-align: center;
            }
        }
    }
    .item-2{
        
        @include media ("<desktop"){
            img{
                @include adaptiv-vaule("height", 500, 150, 1);
            }
        }

        @include media ("<tablet"){
            width: 100%;
        }
    }
}

.shop{
    @include adaptiv-vaule("padding-bottom", 80, 30, 1);

    .shop-content{
        display: flex;
        background: #F3F4F6;

        .item-1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include adaptiv-vaule("padding-left", 100, 20, 1);
            @include adaptiv-vaule("margin-right", 50, 15, 1);
            padding-top: 20px;
            padding-bottom: 20px;

            @include media ("<phone"){
                text-align: center;
                align-items: center;
            }

            h2{
                max-width: 580px;
            }

            a{
                background: #156963;
                padding: 10px 0;
                text-align: center;
                max-width: 155px;

                @include media ("<phone"){
                    display: flex;
                    justify-content: center;
                }

                &:hover{
                    background: #134946;
                    color: #fff;
                }
            }
        }

        .item-2{

            img{
                object-fit: cover;
                height: 100%;

                @include media ("<phone"){
                    display: none;
                }
            }
        }
    }
}