header{
    padding: 40px 0;
    font-family: 'Nunito', sans-serif;
}


.cont{
    max-width: 1188px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-logo{
        z-index: 1;
    }
}

.header-links{
    display: flex;
    align-items: center;
    z-index: 2;

    .link{
        @include adaptiv-vaule("margin-right", 45, 15, 1);

        &:last-child{
            margin-right: 0;
        }
    }

    .basket,.search{
 
        &:hover{
            transition: 0.4s;
            transform: rotateY(180deg);
        } 

    }

    .div{
        display: flex;
    }

    .signup,.signin{
        margin-right: 0;

        a{
            color:#156963;
            font-weight: 800;
            padding: 10px 30px;
            @include adaptiv-vaule("font-size", 14, 12, 1);

            &:hover{
                background: #156963;
                color: #ffffff;
            }
        }
    }
}