<footer id="footer">
    <div class="blur_circle_blue"></div>
    <div class="cont">
        <div class="footer_content">
            <div class="footer_top">
                <a href="#" class="logo">
                    <img src="./images/footer/footer_logo.svg" alt= "image not found" >
                </a>
                <nav class="nav">
                    <ul class="nav-menu">
                        <li class="menu-item">
                            <a class="link" href="#">Головна</a>
                        </li>
                        <li class="menu-item">
                            <div class="control">
                                <a class="link" href="#">Наша продукція</a>
                                <a class="arrow" onclick="event.preventDefault()" href="#">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10.8047 6.5286C10.5444 6.26825 10.1223 6.26825 9.86193 6.5286L8 8.39052L6.13807 6.5286C5.87772 6.26825 5.45561 6.26825 5.19526 6.5286C4.93491 6.78894 4.93491 7.21105 5.19526 7.4714L7.5286 9.80474C7.78894 10.0651 8.21105 10.0651 8.4714 9.80474L10.8047 7.4714C11.0651 7.21105 11.0651 6.78894 10.8047 6.5286Z"
                                            fill="#454545" />
                                    </svg>
                                </a>
                            </div>
                            <ul class="sub-menu">
                                <li class="sub-item">
                                    <a class="link" href="#">Наша продукція</a>
                                </li>
                                <li class="sub-item">
                                    <a class="link" href="#">Наша продукція</a>
                                </li>
                                <li class="sub-item">
                                    <a class="link" href="#">Наша продукція</a>
                                </li>
                                <li class="sub-item">
                                    <a class="link" href="#">Наша продукція</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="link" href="#">Контакти</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer_bot">
        <p class="copyright">2022© ТОВ “Хім.-Паритет”.  All rights reserved.</p>
    </div>
</footer>