<footer id="footer">
    <div class="blur_circle_blue"></div>
    <div class="cont">
        <div class="footer_content">
            <div class="footer_top">
                <a href="index.html" class="logo">
                    <img src="./images/footer/footer_logo.svg" alt= "image not found" >
                </a>
                <nav class="nav">
                    <ul class="nav-menu">
                        <li class="menu-item">
                            <a class="link" href="index.html">Головна</a>
                        </li>
                        <li class="menu-item">
                            <a class="link" href="our_production.html">Наша продукція</a>
                        </li>
                        <li class="menu-item">
                            <a class="link" href="#contact">Контакти</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer_bot">
        <p class="copyright">2022© ТОВ “Хім.-Паритет”.  All rights reserved.</p>
    </div>
</footer>