body{
    background: #eae3d92d;
}

.cont{
    max-width: 1220px;
    width: 100%;
    margin:  0 auto;
    padding: 0 10px;
}

.life{
    @include adaptiv-vaule("padding-top", 40, 20, 1);
    @include adaptiv-vaule("padding-bottom", 80, 30, 1);
    text-align: center;

    .cont{
        max-width: 1840px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

.life-content{

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiv-vaule("margin-bottom", 20 , 10, 1);
    }

    .title{

        h1{
            font-weight: bold;
            @include adaptiv-vaule("font-size", 64, 32, 1);
            letter-spacing: -3px;
            @include adaptiv-vaule("margin-bottom", 30 , 15, 1);
        }
    }

    .text{

        p{
            display: inline-block;
            border-bottom: 2px solid $green;
            @include adaptiv-vaule("font-size", 24, 16, 1);
            line-height: 28px;
            @include adaptiv-vaule("margin-bottom", 55 , 15, 1);
            position: relative;
        }
    }

    .life-bg{
        max-width: 100%;
        position: relative;
        @include adaptiv-vaule("height", 800, 300, 1);

        img{
            border-radius:5px;
        }

        .card{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            right: 20px;
            top: 0;
            max-width: 200px;
            min-height: 125px;
            background: $white;
            border-radius: 0 0 5px 5px;
            padding: 5px;

            @include media ("<tablet"){
                max-width: 100px;
                min-height: 60px;
            }

            p{
                font-weight: 500;
                letter-spacing: -0.04em;
                line-height: 110%;
                @include adaptiv-vaule("font-size", 16, 10, 1);
            }

            .card-img{
                width: 30px;
                height: 30px;
                margin-bottom: 5px;
            }
        }

        .date{
            position: absolute;
            display: flex;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            
            p{
                margin-right: 10px;
                color: $white;
                letter-spacing: -0.02em;
                font-weight: 500;
                @include adaptiv-vaule("font-size", 16, 10, 1);
                background: rgba(0, 0, 0, 0.6);
                backdrop-filter: blur(20px);
                border-radius: 5px;
                padding: 5px 12px;

                span{
                    color: $green;
                    padding-left: 5px;
                    letter-spacing: 2px;
                }

                &:last-child{
                    margin-right: 0
                }
            }
        }
    }
}

.cards{
    @include adaptiv-vaule("padding-bottom", 160, 30, 1);
    
    .cards-content{
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
        flex: 0 1 50%;

        @include media ("<desktop"){
            flex: 1 1 100%;
        }
    }

    .item{
        padding: 10px 10px;

        @include media ("<desktop"){
            padding: 5px 0;
        }

        .item-body{
            position: relative;
            padding: 0 10px;
            max-width: 580px;
            min-height: 320px;

            @include media ("<desktop"){
                max-width: 100%;
            }

            .text-item{
                background: rgba(0, 0, 0, 0.6);
                backdrop-filter: blur(16px);
                border-radius: 5px;
                padding: 6px 10px;
                color: $white;
            }
            
            img{
                border-radius: 5px;
            }
            
            h4{
                position: absolute;
                bottom: 60px;
                left: 20px; 
                font-weight: 500;
                @include adaptiv-vaule("font-size", 28, 18, 1);
                line-height: 32px;
                letter-spacing: -0.02em;
            }
    
            p{
                position: absolute;
                @include adaptiv-vaule("font-size", 20, 10, 1);
                line-height: 26px;
                left: 20px;
                bottom: 20px;
            }
        }
        
    }
}

.map{
    @include adaptiv-vaule("padding-bottom", 170, 30, 1);

    .map-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .title{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;

        h2{
            @include adaptiv-vaule("margin-bottom", 40 , 20, 1);
        }

        p{
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 15px;
            position: relative;
            margin: 0 16px 16px 16px;
        }
    }

    .map-img{
        max-width: 930px;
        width: 100%;
        margin-bottom: 20px;
    }

    .text{
        @include adaptiv-vaule("font-size", 20, 12, 1);
        line-height: 26px;
        max-width: 620px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .btn{
        border: 1px solid rgba(119, 56, 68, 0.2);
        border-radius: 12px;
        padding: 15px;
        cursor: pointer;
        
        a{
            color: inherit;
        }

        @include media (">tablet"){       
            &:hover{

                svg{
                    fill:$white;
                }
            }
        }

        svg{
            vertical-align: -5px;
            margin-right: 8px;
            fill:$brown;
        }
    }
}


.slide{
    .slider-item{
        width: 1320px;
        height: 42vw;
        @include adaptiv-vaule("margin-right", 10, 5, 1);
        @include adaptiv-vaule("margin-left", 10, 5, 1);
       

        @include media ("<tablet"){
            height: 60vw;
        }
    }

    .img-item{

        img{
            border-radius: 5px;
        }
    }

    .slick-arrow{
        position: absolute;
        top: 50%;  
        @include adaptiv-vaule("width", 80, 1, 1);
        @include adaptiv-vaule("height", 80, 1, 1);
        border-radius: 50%;
        z-index: 3;
        font-size: 0;
        border: none;
    }

    .slick-prev{      
        left: 80px;
        background: url(../images/view/prev.svg)center no-repeat;
        background-color: rgba(0, 0, 0, 0.48);
        transform: translatey(-50%);
        backdrop-filter: blur(24px);
    }
    .slick-next{
        right: 80px;
        background: url(../images/view/next.svg)center no-repeat;
        background-color: rgba(0, 0, 0, 0.48);
        transform: translatey(-50%);
        backdrop-filter: blur(24px);
    }

    .slick-dots{
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom:20px;

        button{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color:$white;
            background-color: rgba(0, 0, 0, 0.48);
        }

        li{
            list-style: none;
        }

    } 
}


.view{
    @include adaptiv-vaule("padding-bottom", 100, 30, 1);

    .title{
        text-align: center;
        @include adaptiv-vaule("margin-bottom", 40, 20, 1);
    }

    .slider-view{
        position: relative;
    }
}

.play-title{
    color:$white;
    background-color: rgba(0, 0, 0, 0.48);
    padding-right: 15px;

} 

.special{
    @include adaptiv-vaule("padding-bottom", 16, 30, 1);

    .card{
        background: $white;
        border-radius: 12px;
        display: flex;
        @include adaptiv-vaule("padding-top", 50, 10, 1);
        @include adaptiv-vaule("padding-bottom", 50, 10, 1);
        @include adaptiv-vaule("padding-right", 60, 15, 1);
        @include adaptiv-vaule("padding-left", 60, 15, 1);

        @include media ("<desktop"){
            flex-direction: column;
            align-items: center;
        }

        .img-item{
            width: 450px;
            height: 520px;

            @include media ("<tablet"){
                display: none;
            }
        }
    }

    .card-text{
        padding-right: 10px;

        .title{
            display: flex;
            flex-direction: column-reverse;

            h2{
                letter-spacing: -0.04em;
                @include adaptiv-vaule("font-size", 48, 24, 1);
                margin-bottom: 25px;
            }

            p{
                color:$brown;
                letter-spacing: 0.12em;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
        }

        .list{
            @include adaptiv-vaule("padding-bottom", 40, 15, 1);

            li{
                @include adaptiv-vaule("font-size", 20, 12, 1);
                letter-spacing: -0.01em;
                line-height: 26 / 20 *100%;
                
                &:not(:last-child){
                    margin-bottom: 10px;
                }

                &::before{
                    content: url(../images/special/arrow.svg);
                    margin-right: 15px;
                }
            }
        }

        .form{
            border-top: 1px solid #EAE3D9;
            padding-top: 15px;
            display: flex;
            flex-direction: column;

            @include media ("<tablet"){
                text-align: center;
            }

            p{
                font-weight: 500;
                letter-spacing: -0.3px;
                font-size: 16px;
                margin-bottom: 12px;
            }

            .contact{
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                &:focus+label{
                    border: 1px solid $primary;
                }

                @include media ("<tablet"){
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }

                .number{
                    background: #F5F3F0;
                    border-radius: 12px;
                    max-width: 260px;
                    padding: 15px;
                    margin-right: 15px;

                    &:hover{
                        border: 1px solid $brown;
                    }

                    &:focus+input{
                        border: 1px solid $brown;
                    }

                    @include media ("<tablet"){
                        margin-bottom: 15px;
                    }
                    @include media ("<phone"){
                        width: 100%;
                    }

                    input{
                        text-align: start;
                        background: #F5F3F0;
                        border: none;
                        outline: none;
                        padding: 0;
                        width: 100%;                       
                    }
                }

                .btn{
                    background: $brown;
                    color: $white;
                    padding: 15px 25px;
                    font-weight: 500;
                    @include adaptiv-vaule("font-size", 20, 14, 1);
                    line-height: 20px;

                    &:hover{
                        background: $white;
                        color: $brown;
                        border: 1px solid $brown;
                    }
                }
            }

            .data{
                p{
                    font-size: 12px;
                    line-height: 120%;
                    color: $grey;
                }
            }
        }
        
    }
}

.river-line,.park-line{
    @include adaptiv-vaule("padding-top", 80, 30, 1);
    @include adaptiv-vaule("padding-bottom", 80, 30, 1);
    background: $blue;

    .content{
        display: flex;
        justify-content: space-between;
        @include adaptiv-vaule("margin-bottom", 40 , 20, 1);

        @include media ("<tablet"){
            flex-direction: column;
        }
    }

    .title{
        max-width: 400px;
        
        .title-top{
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .title-img{
                margin-left: 10px;
                width: 72px;
                height: 32px;
                @include adaptiv-vaule("width", 72, 40, 1);
                @include adaptiv-vaule("height", 32, 25, 1);
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        h2{
            color: $white;
        }


        p{
            color: $white;
            letter-spacing: -0.01em;

            @include media ("<tablet"){
                margin-bottom: 15px;
            }
        }
    }

    .btn{
        background: #FFFFFF;
        color: #1A1A1A;
        font-weight: 500;
        @include adaptiv-vaule("font-size", 20, 14, 1);

        &:hover{
            background:#d1cdcd;
        }
    }

    .slider-river{
        position: relative;

        .img-item{
            position: relative;
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        p{
            position: absolute;
            color:$white;
            z-index: 2;
            bottom:40px;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate(-50%);
            @include adaptiv-vaule("font-size", 20, 10, 1);

            @include media ("<tablet"){
                display: none;
            }

        }
    }
}


.park-line{
    background:$green;
}

.lobby{
    @include adaptiv-vaule("padding-top", 160, 40, 1);
    @include adaptiv-vaule("padding-bottom", 160, 40, 1);

    .lobby-content{
        text-align: center;
    }

    .group{
        margin-bottom: 12px;
    }

    .title{
        @include adaptiv-vaule("margin-bottom", 50 , 30, 1);
    }

    .card-item{
        background: $white;
        padding: 40px 20px 20px 20px;
        border-radius: 12px;
        box-shadow: 0px 20px 48px rgba(234, 227, 217, 0.32);
    }

    .card-title{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        h2{
            letter-spacing: -0.03em;
            line-height: 100%;
        }

        img{
            margin-right: 20px;
        }
    }

    .tags{
        display: flex;
        gap: 8px;
        @include adaptiv-vaule("margin-bottom", 40 , 25, 1);

        @include media ("<desktop"){
            flex-wrap: wrap;
        }

        .tag{
            background: #F7F1E9;
            border-radius: 5px;
            padding: 8px 16px;
            text-align: start;

            span{
                @include adaptiv-vaule("font-size", 20, 16, 1);
                line-height: 100%;
                letter-spacing: -0.01em;
                color: $primary;
            }

            img{
                margin-right: 7px;
            }
        }
    }

    .card-img{
        display: flex;
        gap: 12px;
    }
}

.aparts{
    @include adaptiv-vaule("padding-bottom", 160, 40, 1);

    .title{
        text-align: center;
        @include adaptiv-vaule("margin-bottom", 60 , 30, 1);

        h2{
            line-height: 100%;
            text-align: center;
            letter-spacing: -3px;
        }
    }

    span{
        border-bottom: 2.5px solid $green;
    }

    .item{
        background: $white;
        display: flex;
        @include adaptiv-vaule("padding", 20, 10, 1);
        box-shadow: 0px 20px 48px rgba(234, 227, 217, 0.32);
        border-radius: 12px;

        &:not(:last-child){
            margin-bottom: 12px;
        }

        @include media ("<tablet"){
            flex-direction: column;
        }
    }

    .item-text{
        width: 50%;
        @include adaptiv-vaule("padding", 40, 0, 1);
        display: flex;
        flex-direction: column;

        @include media ("<tablet"){
            width: 100%;
            margin-bottom: 20px;
        }

        h3{
            line-height: 111%;
            letter-spacing: -1px;
            margin-bottom: 20px;
        }

        p{
            flex: 1 1 auto;
            max-width: 410px;
            @include adaptiv-vaule("font-size", 20, 16, 1);
            line-height: 150%;
            letter-spacing: -0.01em;
            @include adaptiv-vaule("margin-bottom", 80 , 20, 1);
        }
    }

    .img-item{
        width: 50%;

        @include media ("<tablet"){
            width: 100%;
        }

        img{
            width: 100%;
            height: 100%;
        }
    }
}

.panorama{
    @include adaptiv-vaule("padding-bottom", 160, 40, 1);

    .cont{
        max-width: 1800px;
    }

    .panorama-content{
        text-align: center;

        .title{
            max-width: 772px;
            margin: 0 auto;
            @include adaptiv-vaule("margin-bottom", 50 , 30, 1);

            h2{
                margin-bottom: 20px;
            }

            p{
                @include adaptiv-vaule("font-size", 24, 18, 1);
                line-height: 133%;
                text-align: center;
                letter-spacing: -0.01em;
                margin-bottom: 30px;
            }
        }

        .panorama-img{

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.comfort{
    @include adaptiv-vaule("padding-bottom", 80, 40, 1);
}

.test{
    @include adaptiv-vaule("padding-bottom", 160, 40, 1);

    .test-content{
        background: $green;
        border-radius: 12px;
    }

    .text{
        max-width: 772px;
        margin: 0 auto;
        text-align: center;
        padding: 60px 10px;

        h2{
            @include adaptiv-vaule("font-size", 48, 24, 1);
            letter-spacing: -0.04em;
            color: $white;
            margin-bottom: 15px;
        }

        p{
            font-weight: 500;
            max-width: 640px;
            margin: 0 auto;
            @include adaptiv-vaule("font-size", 28, 16, 1);
            line-height: 114%;
            letter-spacing: -0.02em;
            color: #E7E9D3;
            margin-bottom: 40px;
        }

        .btn{
            background: $primary;
            color: $white;
            padding: 15px 25px;
            transition: all 0.5s ;

            &:hover{
                background:$white;
                color: $primary;
            }
        }
    }

    .test-img{
        display: flex;
        width: 100%;  

        @include media ("<tablet"){
            display: none;
        }

        .img-item{
            &:not(:last-child){
                margin-right: 5px;
            }
        }
    }
}

.repair{
    @include adaptiv-vaule("padding-bottom", 160, 40, 1);

    .title{
        text-align: center;

        h2{
            margin-bottom: 20px;
        }

        p{
            display: inline-block;
            border-bottom: 2px solid $green;
            @include adaptiv-vaule("margin-bottom", 65 , 30, 1);
        }
    }

    .cards{
        display: flex;
        justify-content: space-between;

        @include media ("<1160px"){
            flex-direction: column;
        }

        .item{
            max-width: 380px;
            min-height: 470px;
            padding: 8px;
            background: #FFFFFF;
            border-radius: 12px;

            @include media ("<1160px"){
                display: flex;
                max-width: none;
            }

            @include media ("<tablet"){
                flex-direction: column;
                min-height: 100%;

                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }

        .img-item{
            margin-bottom: 5px;
            max-width: 364px;
            min-height: 222px;

            @include media ("<1160px"){
                max-width: 100%;
                height: 100%;
            }

            

            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius:8px;
            }
        }

        .text{
            padding: 16px;
            height: 100%;

            @include media ("<1160px"){
                max-width: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:start;
            }

            h4{
                line-height: 114%;
                letter-spacing: -0.02em;
                margin-bottom: 10px;

                br{
                    @include media ("<1160px"){
                        display: none
                    }
                }
            }

            p{
                @include adaptiv-vaule("font-size", 20, 16, 1);
                line-height: 150%;
                letter-spacing: -0.01em;
            }
        }
    }
}