header{
    @include adaptiv-vaule("padding-top", 25, 10, 1);
    @include adaptiv-vaule("padding-bottom", 25, 10, 1);
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media ("<500px"){
        justify-content: center;
    }
}

.logo{
    display: flex;
    align-items: center;

    p{
        color: $grey;
        @include adaptiv-vaule("padding-left", 20, 10, 1);
        @include adaptiv-vaule("font-size", 14, 10, 1);
        line-height: 120%;
    }
}

.contact{
    text-align: end;

    @include media ("<500px"){
        display: none;
    }

    a{
        font-family: "TT Travels";
        color: $primary;
        font-weight: 500;
        font-size: 16px;    
        letter-spacing: -0.02em;
        position: relative;

        &:hover{

            &::after{
                transition: 0.4s;
                border-bottom: 1px solid rgb(26, 26, 26);
            }
        }

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            bottom: -2px;
            left: 0;
            border-bottom: 1px solid rgba(26, 26, 26, 0.1);

            
        }       
    }

    p{
        color: $green;
        font-family: Inter;
        font-weight: 500;
        font-size: 16px;
        margin-top: 4px;
        position: relative;

        &::before{
            position: absolute;
            content: '';
            width: 4px;
            height: 4px;
            background: $green;
            border-radius: 50%;
            left: 48px;
            top: 49%;

        }
    }
}