.post {
    border: 1px solid $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include adaptiv-vaule("padding-top", 30, 25, 1);
    @include adaptiv-vaule("padding-bottom", 30, 25, 1);
    @include adaptiv-vaule("padding-right", 25, 15, 1);
    @include adaptiv-vaule("padding-left", 25, 15, 1);
    position: relative;

    @include media ("<tablet_sm") {
        flex-direction: row;
    }

    .slide_img {
        // max-width: 315px;
        width: 100%;
        @include adaptiv-vaule("height", 285, 145, 1);
        position: relative;
        margin-bottom: 25px;

        @include media ("<tablet_sm") {
            margin: 0 15px 0 0;
            width: 48%;
        }
    }

    .slide_text {
        width: 100%;

        @include media ("<tablet_sm") {
            width: 48%;
        }

        .info {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            @include media ("<375px") {
                flex-wrap: wrap;
            }
        }

        .info_wrap {
            display: flex;
            align-items: center;

            @include media ("<375px") {
                margin-bottom: 5px;
            }

            &:first-child {
                margin-right: 15px;

                @include media ("<tablet_sm") {
                    margin-right: 10px
                }
            }
        }

        .info_img {
            @include adaptiv-vaule("height", 20, 15, 1);
            @include adaptiv-vaule("width", 20, 15, 1);
            margin-right: 5px;
        }

        .info_item {
            @include adaptiv-vaule("font-size", 14, 12, 1);
        }

        .post_title {
            @include adaptiv-vaule("font-size", 24, 16, 1);
            margin-bottom: 12px;
        }

        .post_descr {
            margin-bottom: 15px;
            @include adaptiv-vaule("font-size", 18, 12, 1);
        }

        .more {
            display: flex;
            align-items: center;
            font-weight: 600;
            @include adaptiv-vaule("font-size", 16, 12, 1);
            line-height: 110%;
            letter-spacing: -0.03em;
            color: $yellow;

            &:hover {
                img {
                    transform: translateX(10px);
                    transition: all .3s linear;
                }
            }

            img {
                width: 7px;
                height: 14px;
                margin-top: 2px;
                margin-left: 10px;
                transition: all .3s linear;

                @include media ("<tablet_sm") {
                    width: 6px;
                    height: 10px;
                    margin-bottom: 2px
                }
            }
        }
    }
}

.post_swiper {

    .swiper-pagination-progressbar {
        background-color: #DCDCDC;

        .swiper-pagination-progressbar-fill {
            background-color: $yellow;
        }
    }
}