header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $gray;
    @include adaptiv-vaule("padding-top", 25, 10, 1);
    @include adaptiv-vaule("padding-bottom", 25, 10, 1);

    .header_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 6;
    }

    .logo_link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .logo_img {
        margin-right: 23px;
        width: 55px;
        height: 51px;
    }

    .logo_title {
        font-weight: 600;
        font-size: 18px;
        @include adaptiv-vaule("font-size", 18, 16, 1);
        line-height: 23 / 18 * 100%;
        color: $black;
    }

    .logo_subtitle {
        font-weight: 400;
        font-size: 10px;
        line-height: 13 / 10 * 100%;
        color: $black;

        @include media ("<tablet") {
            display: none;
        }
    }

    .nav {
        @include media ("<tablet_max") {
            position: fixed;
            z-index: 5;
            top: 0;
            right: -100%;
            transition: all .3s linear;
            height: 100vh;
            width: 60%;
            background-color: $white;
            padding: 85px 15px 50px 15px;
        }

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .nav_active {
        right: 0;
        transition: all .3s linear;
    }

    .nav_menu {
        display: flex;
        align-items: center;

        @include media ("<tablet_max") {
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            overflow: auto;
        }
    }

    .menu_item {
        @include adaptiv-vaule("margin-left", 70, 0, 1);

        @include media ("<tablet_max") {
            width: 100%;
            margin: 0 0 20px 0;

            &:not(:last-child) {
                padding-bottom: 20px;
                border-bottom: 1px solid #DCDCDC;
            }
        }
    }

    .menu_link {
        font-weight: 600;
        font-size: 14px;
        line-height: 18 / 14 * 100%;
        color: $black;
        padding-bottom: 5px;
    }

    .menu_link_active {
        position: relative;

        @include media ("<tablet_max") {
            color: $yellow;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $yellow;

            @include media ("<tablet_max") {
                display: none;
            }

        }
    }

    .btn_item {
        padding: 10px 30px;
    }

    .header_burger {
        display: none;
        width: 24px;
        height: 20px;
        position: relative;
        top: -2px;
        cursor: pointer;
        z-index: 6;

        @include media ("<tablet_max") {
            display: block;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: $black;
            transition: all 0.4s ease;
            border-radius: 7px;
        }

        span {
            position: absolute;
            border-radius: 7px;
            width: 50%;
            height: 3px;
            background: $black;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            transition: all 0.4s ease;
            opacity: 1;
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0;
        }
    }

    .burger_active {
        span {
            width: 100%;
        }
    }

    .contact_popup {
        position: fixed;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: $white;
        box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
        max-width: 870px;
        height: max-content;
        width: calc(100% - 10px);
        text-align: center;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
        opacity: 0;
        transition: all .3s ease-out;
        @include adaptiv-vaule("padding-top", 60, 60, 1);
        @include adaptiv-vaule("padding-bottom", 30, 20, 1);

        @include media ("<tablet") {
            height: calc(100% - 20px);
        }

        .yellow_btn {
            border: none;
            max-width: 130px;
            width: 100%;
            padding: 15px;
            margin: 0 auto;
        }
    }

    .popup_active {
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        transition: all .3s ease-out;
        border-radius: 0px;
    }

    .popup_content {
        position: relative;
        z-index: 3;
        overflow: auto;
        width: 100%;
        height: 100%;
        @include adaptiv-vaule("padding-left", 60, 10, 1);
        @include adaptiv-vaule("padding-right", 60, 10, 1);
    }

    .popup_container {
        display: none;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .cont_active {
        display: block;
    }

    .popup_img_top {
        position: absolute;
        top: -50px;
        left: -70px;
        z-index: -1;

        @include media ("<tablet") {
            display: none;
        }
    }

    .popup_img_bottom {
        position: absolute;
        right: -60px;
        bottom: -8%;
        z-index: -1;

        @include media ("<tablet") {
            display: none;
        }
    }

    .close_item {
        position: absolute;
        top: 5%;
        right: 5%;
        cursor: pointer;

        &:hover {
            svg {
                fill: $yellow;
                transition: all .3s ease-in;
            }
        }

        svg {
            fill: #0F1729;
            transition: all .3s ease-in;
        }
    }

    .popup_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 36, 20, 1);
        line-height: 62 / 48 * 100%;
        color: $black;
        margin-bottom: 5px;
    }

    .popup_descr{
        margin-bottom: 35px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
        z-index: 3;
    }

    .form_body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 35px;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .input_wrap {
        width: 48%;
        text-align: start;

        @include media ("<tablet") {
            width: 100%;

            &:first-child{
                margin-bottom: 25px;
            }
        }
    }

    .data_title {
        font-size: 18px;
        line-height: 23 / 18 * 100%;
        color: $gray_3;
        @include adaptiv-vaule("margin-bottom", 15, 10, 1);
        display: inline-block;
    }

    .data_text {
        width: 100%;
        padding: 15px 20px 15px 25px;
        @include adaptiv-vaule("padding-left", 25, 15, 1);
        border: 1px solid $black;
        background-color: $white;
        color: $black;
        @include adaptiv-vaule("font-size", 18, 16, 1);
        line-height: 23 / 18 * 100%;

        &:not(:last-child) {
            @include adaptiv-vaule("margin-bottom", 20, 10, 1);
        }

        &:focus {
            background-color: #FFF9E7;
            border: 1px solid $yellow;
            transition: all .3s ease-in;
        }

        &::placeholder {
            @include adaptiv-vaule("font-size", 18, 16, 1);
            line-height: 23 / 18 * 100%;
            color: #919191;
        }
    }

    .area_text {
        height: 130px;
    }

    .checkbox_wrap {
        @include adaptiv-vaule("margin-bottom", 25, 15, 1);
    }

    .custom_radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom_radio+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .custom_radio+label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #F4F3F3;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    .custom_radio:checked+label::before {
        background-color: $white;
        border: 1px solid $yellow;
        background-image: url(../images/header/radio_bg.svg);
        background-size: 14px 14px;
    }

    .custom_checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom_checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .custom_checkbox+label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #F4F3F3;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        transition: all .3s ease;
    }

    .custom_checkbox:checked+label::before {
        background-color: $yellow;
        background-image: url(../images/header/check.svg);
        transition: all .3s ease;
    }

    .argee {
        cursor: pointer;
    }

    .link_terms {
        text-decoration: underline;
        margin-left: 5px;
    }

    .ep_label {
        cursor: pointer;
        @include adaptiv-vaule("font-size", 18, 16, 1);
        line-height: 130%;
        color: #353A3F;
    }
    
    .label1{
        margin-right: 30px;
    }

}