.faq {

    .container {
        max-width: 100%;
        padding: 0;
    }

    .faq_text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: $pink;
        position: relative;
        overflow: hidden;
        z-index: 2;
        @include adaptiv-vaule("padding-left", 70, -20, 1);
        @include adaptiv-vaule("padding-right", 45, -20, 1);

        @include media ("<desktop") {
            width: 100%;
            padding: 80px 20px;
            text-align: center;
        }
    }

    .line_left {
        position: absolute;
        top: 0;
        left: 0;
    }

    .line_right {
        position: absolute;
        right: 0;
        bottom: 100px;
    }

    .faq_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 48, 40, 1);
        line-height: 64 / 48 * 100%;
        letter-spacing: -1px;
        text-transform: uppercase;
        color: $green;
    }

    .faq_content {
        display: grid;
        grid-template: 1fr/ 40% 60%;

        @include media ("<desktop") {
            grid-template: 1fr / 1fr;
        }
    }

    .faq_page_content {
        background-color: $green;
        @include adaptiv-vaule("padding-top", 100, 40, 1);
        @include adaptiv-vaule("padding-bottom", 100, 40, 1);
        @include adaptiv-vaule("padding-left", 70, -40, 1);
        @include adaptiv-vaule("padding-right", 70, -40, 1);
        position: relative;
        z-index: 1;

        @include media ("<desktop") {
            width: 100%;
            @include adaptiv-vaule("padding-left", 70, 20, 1);
            @include adaptiv-vaule("padding-right", 70, 20, 1);
        }
    }

    .tabs {
        border-bottom: 1px solid rgba(255, 255, 255, 0.39);
        padding-bottom: 5px;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    .open_status {
        min-width: 12px;
        min-height: 12px;
        position: relative;
        margin-right: 10px;
        margin-left: 20px;
    }

    .vertical {
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%) rotate(0deg);
        transition: all .3s linear;
    }

    .horizontal {
        height: 1px;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .open_active {

        .vertical {
            transform: rotate(90deg);
            transition: all .3s linear;
        }
    }

    .line {
        position: absolute;
        background-color: $pink;
    }

    .tab_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 24, 18, 1);
        line-height: 32 / 24 * 100%;
        letter-spacing: -1px;
        text-transform: capitalize;
        color: $pink;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .tab_content {
        padding: 0;
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        font-weight: 500;
        @include adaptiv-vaule("font-size", 18, 14, 1);
        line-height: 25 / 18 * 100%;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
        transition: all .4s linear;
    }

    .show {
        height: auto;
        transition: all .4s linear;
        padding: 30px 0 20px 0;
        opacity: 1;
        overflow: visible;
        visibility: visible;
    }

    .card_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu_card {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        min-height: 100%;
        @include adaptiv-vaule("gap", 20, 1, 1);
        flex-wrap: wrap;
        margin-bottom: 20px;

        @include media ("<tablet") {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            @include adaptiv-vaule("gap", 20, 25, 1);
        }

        @include media ("<phone") {
            grid-template-rows: repeat(3, 1fr);
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        @include adaptiv-vaule("padding-top", 25, 0, 1);
        @include adaptiv-vaule("padding-bottom", 20, 0, 1);
        @include adaptiv-vaule("padding-right", 25, 0, 1);
        @include adaptiv-vaule("padding-left", 25, 0, 1);

        @include media ("<desktop") {
            @include adaptiv-vaule("padding-top", 25, 20, 1);
            @include adaptiv-vaule("padding-bottom", 20, 20, 1);
            @include adaptiv-vaule("padding-right", 25, 10, 1);
            @include adaptiv-vaule("padding-left", 25, 10, 1);
        }
    }

    .gold {
        position: relative;
    }

    .tip {
        position: absolute;
        top: -5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $pink;
        border-radius: 8px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 15px;
        color: $green;
        white-space: nowrap;
    }

    .card_title_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include adaptiv-vaule("padding-bottom", 25, 15, 1);
        @include adaptiv-vaule("margin-bottom", 25, 15, 1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .card_title {
        font-weight: 600;
        font-size: 24px;
        line-height: 34 / 24 * 100%;
        color: $white;
    }

    .card_price {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 32, 26, 1);
        line-height: 45 / 32 * 100%;
        text-transform: uppercase;
        color: $white;
    }

    .card_list {
        flex: 1 1 auto;
        height: 100%;
    }

    .list_item {
        position: relative;
        padding-left: 36px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19 / 16 * 100%;
        color: #FFFFFF;


        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &::before {
            content: url(../images/faq/list_check.svg);
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    .notice {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 18, 16, 1);
        line-height: 25 / 18 * 100%;
        color: #F9C0AC;
        margin-bottom: 10px;
    }

    .card_tip {
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 22 / 16 * 100%;
        color: rgba(255, 255, 255, 0.6);
    }
}