@font-face {
    font-family: "TT Travels";
    src: url("../fonts/TTTravels-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "TT Travels";
    src: url("../fonts/TTTravels-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "TT Travels";
    src: url("../fonts/TTTravels-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeueCyr-Roman.ttf");
    font-style: normal;
    font-weight: 400;
}

