.ibg{
    position: relative;
    
    img{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.btn{
    display: inline-flex;
    border-radius: 12px;
    transition: 0.4s;
    padding: 15px;
    border: none;

    @include media (">tablet"){

        &:hover{
            background: $brown;
            color: $white;
        }
    }
}

.slick-list{
    overflow: hidden;
} 

.slick-track{
    display: flex;
    align-items: flex-start;
}