html,
body {
    height: 100%;
    font-family: 'Jost';
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex: 1 1 auto;
}

.btn {
    background: #292F36;
    border-radius: 18px;
    padding: 22px 35px;
    color: $white;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.72px;
    transition: all 0.4s ease;

    svg {
        vertical-align: -2px;
        margin-left: 15px;
    }

    path {
        stroke: $golden;
    }

    @include media ("<tablet") {
        font-size: 16px;
    }

    &:hover {
        background: $golden;

        path {
            stroke: $black;
        }
    }
}

.cont {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include media ("<phone") {
        padding: 0 5px;
    }
}

.body_lock {
    overflow: hidden;
}


/* ----------------------#Main-section------------------------- */

.main-section {
    @include adaptiv-vaule("padding-bottom", 170, 70, 1);

    .main-content {
        display: flex;
        position: relative;
        z-index: 1;
        @include adaptiv-vaule("margin-bottom", 170, 60, 1);
    }

    .main-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 0px 0px 0px 290px;
        object-fit: cover;
        overflow: hidden;

        @include media ("<tablet") {
            border-radius: 0;
        }
    }

    .main-text {
        max-width: 600px;
        min-height: 830px;
        display: flex;
        align-items: center;

        @include media ("<tablet") {
            min-height: 500px;
            text-align: center;
            margin: 0 auto;
        }
    }

    .title {
        padding: 150px 0;
    }

    .headline {
        font-size: 80px;
        letter-spacing: 0.22px;
        margin-bottom: 20px;

        @include media ("<widescreen") {
            font-size: 64px;
        }

        @include media ("<tablet") {
            font-size: 48px;
        }

        @include media ("<phone") {
            font-size: 36px;
        }
    }

    .description {
        font-size: 22px;
        margin-bottom: 35px;
        color: $gray;

        @include media ("<tablet") {
            font-size: 16px;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    .card {
        text-align: center;
        max-width: 320px;
        margin: 0 15px;
        margin-bottom: 30px;


        @include media ("<phone") {
            max-width: 100%;
        }
    }

    .card-title {
        font-size: 25px;
        line-height: 39 / 25 *100%;
        letter-spacing: 0.22px;
        color: $black;
        margin-bottom: 20px;

        @include media ("<tablet") {
            font-size: 18px;
            margin-bottom: 15px;
        }
    }

    .card-description {
        font-size: 22px;
        line-height: 33 / 22 * 100%;
        letter-spacing: 0.22px;
        color: $gray;
        margin-bottom: 40px;

        @include media ("<tablet") {
            font-size: 16px;
            margin-bottom: 25px;
        }
    }

    .sub-btn {
        font-size: 18px;
        letter-spacing: 0.36px;
        color: $gray;
        padding: 15px;
        border-radius: 10px;
        transition: all 0.4s ease;

        &:hover {
            background: $black;
            color: $white;
        }

        img {
            margin-left: 10px;
            vertical-align: -2px;
        }
    }
}


/* ----------------------#Design------------------------- */


.design {
    @include adaptiv-vaule("padding-bottom", 140, 50, 1);

    .design-content {
        display: flex;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .design-text {
        width: 45%;
        margin-right: 30px;

        @include media ("<desktop") {
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .design-title {
        font-size: 50px;
        line-height: 65 / 50 * 100%;
        letter-spacing: 0.22px;
        margin-bottom: 40px;

        @include media ("<widescreen") {
            font-size: 36px;
            margin-bottom: 30px;
        }

        @include media ("<desktop") {
            font-size: 28px;
            margin-bottom: 20;
        }

        @include media ("<tablet") {
            font-size: 24px;
        }
    }

    .design-decription {
        font-size: 22px;
        line-height: 33 / 22 * 100%;
        letter-spacing: 0.22px;
        margin-bottom: 40px;
        color: $gray;

        @include media ("<widescreen") {
            font-size: 18px;
        }

        @include media ("<desktop") {
            font-size: 16px;
        }

        @include media ("<tablet") {
            margin-bottom: 25px;
        }
    }

    .tel {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        @include media ("<desktop") {
            justify-content: center;
            margin-bottom: 30px;
        }

        @include media ("<tablet") {
            margin-bottom: 20px;
        }

        .tel-img {

            svg {
                margin-right: 20px;

                &:hover {
                    fill: $black;

                    path {
                        transition: all 0.3s ease;
                        fill: $black;
                    }
                }
            }
        }

        .number {
            margin-bottom: 10px;
        }

        p {
            font-size: 24px;
            letter-spacing: 0.22px;
            color: $gray;

            @include media ("<widescreen") {
                font-size: 18px;
            }

            @include media ("<tablet") {
                font-size: 16px;
            }
        }
    }

    .design-img {
        width: 54%;
        border-radius: 0px 326px 0px 123px;
        overflow: hidden;

        @include media ("<desktop") {
            text-align: center;
            width: 100%;
        }

        @include media ("<phone") {
            display: none;
        }
    }
}


/* ----------------------#Reviews------------------------- */

.reviews {
    @include adaptiv-vaule("padding-bottom", 110, 50, 1);

    .reviews-content {
        background: #F4F0EC;
        border-radius: 70px;
        padding: 100px 50px 120px 50px;
        @include adaptiv-vaule("padding-top", 100, 25, 1);
        @include adaptiv-vaule("padding-bottom", 120, 15, 1);
        @include adaptiv-vaule("padding-right", 50, 10, 1);
        @include adaptiv-vaule("padding-left", 50, 10, 1);
    }

    .reviews-title {
        font-size: 45px;
        line-height: 58 / 45 * 100%;
        letter-spacing: 0.22px;
        text-align: center;
        margin-bottom: 50px;

        @include media ("<widescreen") {
            margin-bottom: 35px;
            font-size: 38px;
        }

        @include media ("<desktop") {
            font-size: 26px;
            margin-bottom: 25px;
        }

        @include media ("<tablet") {
            font-size: 22px;
        }
    }

    .cards-review {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card {
        background: $white;
        border-radius: 30px;
        width: 32%;
        @include adaptiv-vaule("padding-top", 50, 15, 1);
        @include adaptiv-vaule("padding-bottom", 30, 15, 1);
        @include adaptiv-vaule("padding-right", 50, 10, 1);
        @include adaptiv-vaule("padding-left", 30, 10, 1);
        margin-bottom: 30px;

        @include media ("<desktop") {
            width: 48%;
        }

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .head {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    .portrait {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        margin-right: 20px;
        overflow: hidden;
    }

    .name {
        font-size: 25px;
        letter-spacing: 0.22px;
        margin-bottom: 8px;

        @include media ("<widescreen") {
            font-size: 18px;
        }

        @include media ("<tablet") {
            font-size: 16px;
        }
    }

    .location {
        font-size: 18px;
        letter-spacing: 0.22px;
        color: $gray;

        @include media ("<tablet") {
            font-size: 16px;
        }
    }

    .review {
        font-size: 20px;
        letter-spacing: 0.22px;
        line-height: 30 / 20 * 100%;
        color: $gray;

        @include media ("<widescreen") {
            font-size: 18px;
        }

        @include media ("<tablet") {
            font-size: 16px;
        }
    }
}



/* ----------------------#Brands------------------------- */


.brands {
    @include adaptiv-vaule("padding-bottom", 110, 50, 1);

    .brands-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .brand-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        margin: 0 15px 40px 15px;
    }
}

/* ----------------------#Projects------------------------- */


.projects {
    @include adaptiv-vaule("padding-bottom", 140, 50, 1);

    .projects-content {
        text-align: center;
    }

    .project-title {
        font-size: 47px;
        letter-spacing: 0.22px;
        margin-bottom: 20px;

        @include media ("<widescreen") {
            font-size: 38px;
        }

        @include media ("<desktop") {
            font-size: 28px;
        }

        @include media ("<tablet") {
            font-size: 24px;
        }

        @include media ("<phone") {
            font-size: 18px;
        }
    }

    .project-description {
        font-size: 22px;
        letter-spacing: 0.22px;
        margin: 0 auto;
        margin-bottom: 70px;
        max-width: 780px;

        @include media ("<desktop") {
            font-size: 18px;
            margin-bottom: 50px;
        }

        @include media ("<tablet") {
            font-size: 16px;
            margin-bottom: 35px;
        }
    }

    .projects-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: start;

        @include media ("<600px") {
            justify-content: center;
        }
    }

    .block {
        margin-bottom: 60px;
        width: 49%;

        @include media ("<tablet") {
            margin-bottom: 35px;
        }

        @include media ("<600px") {
            width: 100%;
        }
    }

    .block-img {
        border-radius: 0px 80px 0px 0px;
        margin-bottom: 25px;
        position: relative;
        overflow: hidden;
        padding: 0 0 128% 0;
    }

    .block-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        h3 {
            letter-spacing: 0.22px;
            font-size: 24px;
            margin-bottom: 8px;

            @include media ("<desktop") {
                font-size: 18px;
            }

            @include media ("<tablet") {
                font-size: 16px;
            }
        }

        span {
            letter-spacing: 0.22px;
            font-size: 22px;


            @include media ("<desktop") {
                font-size: 16px;
            }

            @include media ("<tablet") {
                font-size: 14px;
            }
        }

        .project-btn {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: #F4F0EC;
            transition: all 0.4s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 0 15px;

            @include media ("<desktop") {
                width: 50px;
                height: 50px;
                padding: 15px 23px;
            }

            &:hover {
                background: $golden;
            }
        }
    }
}

/* ----------------------#Numbers------------------------- */

.numbers {
    @include adaptiv-vaule("padding-top", 150, 30, 1);
    @include adaptiv-vaule("padding-bottom", 150, 30, 1);
    @include adaptiv-vaule("margin-bottom", 140, 50, 1);
    background: #F4F0EC;

    .number-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<desktop") {
            flex-wrap: wrap;
        }
    }

    .number-block {
        text-align: center;
        width: 300px;

        @include media ("<desktop") {
            width: 50%;
            margin-bottom: 60px;
        }

        @include media ("<phone") {
            width: 100%;
            margin-bottom: 25px;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: -10%;
                width: 1px;
                height: 120%;
                background: $golden;

                @include media ("<desktop") {
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%);
                    width: 40%;
                    height: 1px;
                }
            }
        }

        &:last-child {
            position: relative;

            @include media ("<desktop") {

                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%);
                    width: 50%;
                    height: 1px;
                    background: $golden;

                    @include media ("<phone") {
                        display: none;
                    }
                }
            }

            @include media ("<phone") {
                margin-bottom: 0;
            }

            .number-description {

                @include media ("<phone") {
                    margin-bottom: 0;
                }
            }
        }
    }

    .number {
        letter-spacing: 1.7px;
        @include adaptiv-vaule("font-size", 85, 24, 1);
        color: $golden;
        margin-bottom: 20px;

        @include media ("<tablet") {
            margin-bottom: 10px;
        }
    }

    .number-description {
        font-size: 22px;
        letter-spacing: 0.22px;

        @include media ("<desktop") {
            margin-bottom: 30px;
            font-size: 18px;
        }
    }
}


/* ----------------------#Blog------------------------- */

.blog {
    @include adaptiv-vaule("margin-bottom", 100, 50, 1);

    .blog-content {
        text-align: center;
    }

    .blog-titile {
        @include adaptiv-vaule("font-size", 48, 32, 1);
        letter-spacing: 0.22px;
        margin-bottom: 20px;
    }

    .blog-description {
        font-size: 22px;
        letter-spacing: 0.22px;
        color: $gray;
        @include adaptiv-vaule("margin-bottom", 47, 35, 1);
    }

    .blog-cards {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 32.5%;
        padding: 20px 20px 50px 20px;
        border: 1px solid #E7E7E7;
        border-radius: 62px;
        margin-bottom: 40px;
        text-align: start;

        @include media ("<desktop") {
            width: 48%;
        }

        @include media ("<600px") {
            width: 100%;
            padding: 10px 10px 40px 10px;
            margin-bottom: 20px;
        }
    }

    .blog-img {
        border-radius: 45px 45px 0px 0px;
        margin-bottom: 15px;
        position: relative;
        overflow: hidden;
        padding: 0 0 90% 0;

        .img-title {
            position: absolute;
            bottom: 30px;
            left: 25px;
            padding: 10px;
            background: $white;
            border-radius: 8px 8px 8px 0px;
            letter-spacing: 0.22px;
        }
    }


    .card-title {
        font-size: 25px;
        letter-spacing: 0.5px;
        line-height: 140%;
        margin-bottom: 35px;
        flex: 1 1 auto;

        @include media ("<widescreen") {
            font-size: 20px;
        }
    }

    .data {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin-right: 10px;
            color: $gray;
            font-size: 16px;
            letter-spacing: 0.22px;
        }

        a {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #F4F0EC;
            border-radius: 50%;
            transition: all 0.3s ease;

            @include media ("<tablet") {
                width: 30px;
                height: 30px;
            }

            &:hover {
                background: $golden;
            }
        }
    }
}


/* ----------------------#Join------------------------- */

.join {
    @include adaptiv-vaule("margin-bottom", 130, 40, 1);

    .join-content {
        text-align: center;
        @include adaptiv-vaule("padding-top", 100, 40, 1);
        @include adaptiv-vaule("padding-bottom", 100, 40, 1);
        background: $black;
        border-radius: 70px;

        @include media ("<tablet") {
            border-radius: 50px;
        }
    }

    .join-title {
        color: $white;
        @include adaptiv-vaule("font-size", 50, 24, 1);
        margin-bottom: 15px;
    }

    .join-description {
        @include adaptiv-vaule("font-size", 22, 18, 1);
        color: $white;
        margin-bottom: 30px;

        @include media ("<tablet") {
            margin-bottom: 20px;
        }
    }

    .btn {
        background: $golden;

        &:hover {
            background: $white;
            color: $black;

            path {
                stroke: $golden;
            }
        }

        path {
            transition: all 0.4s ease;
            stroke: $black;
        }
    }
}