<header id="header">
    <div class="header-content">
        <div class="logo">
            <a class="logo-img" href="index.html"><img src="./images/header/logo.svg" alt="image not found"></a>
            <img class="name-logo" src="./images/header/name-logo.svg" alt="image not found">
            <div class="header-burger">
                <span></span>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <a href="local-seo.html">Local SEO</a>
                </li>
                <li>
                    <a href="guarantee.html">Guarantee</a>
                </li>
                <li>
                    <a href="price.html">Pricing</a>
                </li>
                <li>
                    <a href="studies.html">Cases</a>
                </li>
                <li>
                    <a href="busines.html">About</a>
                </li>
            </ul>
            <a class="call" href="#">Request Call</a>
        </nav>

    </div>
</header>