<header id="header">
    <div class="header-content">
        <div class="logo">
            <div class="logo-img">
                <img src="./images/header/logo.svg" alt="image not found">
            </div>
            <div class="name-logo">
                <img src="./images/header/name-logo.svg" alt="image not found">
            </div>
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <a href="#">Local SEO</a>
                </li>
                <li>
                    <a href="#">Guarantee</a>
                </li>
                <li>
                    <a href="#">Pricing</a>
                </li>
                <li>
                    <a href="#">Cases</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
            <div class="call">
                <a href="#">Request Call</a>
            </div>
        </nav>
        <div class="header-burger">
            <span></span>
        </div>
    </div>
</header>