<header id="header">
    <div class="header-content">
        <div class="logo">
            <div class="logo-img">
                <a href="#">
                    <img src="./images/header/logo.svg" alt="image not found">
                </a>
            </div>
            <div class="name-logo">
                <a href="#">
                    <img src="./images/header/name-logo.svg" alt="image not found">
                </a>
            </div>
            <div class="burger-wrap">
                <div class="header-burger">
                    <span></span>
                </div>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <a href="#">Local SEO</a>
                </li>
                <li>
                    <a href="#">Guarantee</a>
                </li>
                <li>
                    <a href="#">Pricing</a>
                </li>
                <li>
                    <a href="#">Cases</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
            <a class="call" href="#">Request Call</a>
        </nav>

    </div>
</header>