header {
    position: relative;
}

.header-content {
    @include adaptiv-vaule("padding-top", 85, 15, 1);
    @include adaptiv-vaule("padding-bottom", 105, 15, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-img {
        z-index: 2;
    }

    .logo {
        display: flex;
        align-items: center;


        p {
            font-weight: 800;
            font-size: 35px;
            color: $blue;
            margin-left: 10px;

        }
    }

    .nav {
        display: flex;
        align-items: center;
        transition: all 0.5s ease;

        @include media ("<desktop") {
            position: absolute;
            flex-direction: column;
            justify-content: center;
            z-index: 1;
            width: 40%;
            height: 100vh;
            right: -100vw;
            top: 0;
            padding: 70px 30px 40px 30px;
            background: rgba(255, 255, 255, 0.8);
        }

        @include media ("<tablet") {
            width: 50%;
        }

        @include media ("<phone") {
            width: 100%;
            background: rgba(255, 255, 255, 1);
        }
    }

    .nav-menu {
        display: flex;
        align-items: center;

        @include media ("<desktop") {
            flex-direction: column;
            overflow: auto;
            margin-bottom: 20px;
            width: 100%;
        }
    }

    .menu-item {
        @include adaptiv-vaule("margin-left", 85, 25, 1);

        @include media ("<desktop") {
            margin: 0 0 20px 0;
        }

        a {
            font-size: 25px;
            transition: all 0.3s ease;
            position: relative;

            @include media ("<1285px") {
                font-size: 18px;
            }

            @include media ("<desktop") {
                font-size: 30px;
            }

            &:hover {
                color: $blue;
                font-weight: 700;

                &::after {
                    position: absolute;
                    content: '';
                    width: 55%;
                    height: 6px;
                    border-radius: 21px;
                    background: $golden;
                    left: 50%;
                    transform: translate(-50%);
                    bottom: -7px;
                }
            }
        }
    }

    .header-btn-wrap {
        @include adaptiv-vaule("margin-left", 220, 1, 1);

        @include media ("<desktop") {
            margin: 0;
        }
    }

    .header-btn {
        background: #58A9A5;
        border-radius: 15px;
        padding: 20px 88px;
        color: $white;
        font-weight: 500;
        font-size: 25px;
        transition: all 0.3s ease;
        display: inline-block;

        @include media ("<1285px") {
            font-size: 18px;
            padding: 20px 50px;
        }

        &:hover {
            background: $golden;
        }
    }

    .header-burger {
        display: none;
        width: 28px;
        height: 21px;
        position: relative;
        top: -2px;
        cursor: pointer;
        z-index: 3;

        @include media ("<desktop") {
            display: block;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: $blue;
            transition: all 0.4s ease;
        }

        span {
            position: absolute;
            width: 100%;
            height: 3px;
            background: $blue;
            top: 9px;
            left: 0;
            transition: all 0.4s ease;
            opacity: 1;
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0;
        }
    }

    .burger_active {
        &::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }

        &::before {
            transform: rotate(45deg);
            top: 9px;
        }

        span {
            opacity: 0;
            visibility: hidden;
        }
    }

    .menu_active {
        right: 0;
    }
}