.ibg{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn_wrap_blue {
    a{
        background: $blue;
        padding: 20px 25px;
        border-radius: 90px;
        min-width: 200px;
        transition: all 0.3s ease;
        color: $white;
        font-size: 14px;
        font-weight: 600;
        line-height: 16 / 14 * 100%;

        &:hover {
            background: $green;
        }
    }

    svg {
        width: 15px;
        height: 15px;
        margin-left: 15px;
        vertical-align: -3px;
    }

   
}


.cont {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include media ("<phone") {
        padding: 0 30px;
    }
}

.blue_word {
    font-style: normal;
    color: $blue;
}

.big-circle,
.small-circle,
.middle-circle {
    position: absolute;
    border: 1px solid #7A7B7E;
    border-radius: 50%;
}

.blur_circle_blue,
.blur_circle_green {
    position: absolute;
    opacity: 0.4;
    z-index: 2;
}

.blur_circle_blue {
    bottom: -35%;
    left: -22%;
    width: 950px;
    height: 760px;
    background: radial-gradient(50% 50% at 50% 50%, #191D7A 25%, rgba(51, 59, 145, 0) 100%);
    transform: rotate(-75deg);
}

.blur_circle_green {
    top: 3%;
    right: -25%;
    width: 830px;
    height: 665px;
    background: radial-gradient(50% 50% at 50% 50%, #197A63 5%, rgba(51, 145, 100, 0) 100%);
    transform: rotate(105deg);
}

.big-circle {
    @include adaptiv-vaule("width", 400, 300, 1);
    @include adaptiv-vaule("height", 400, 300, 1);
    animation: about_rotate 4s linear infinite;

    .small-circle {
        width: 25px;
        height: 25px;
    }
}

.middle-circle {
    width: 60px;
    height: 60px;
    animation: scale 4s ease-in-out infinite;
}