<header id="header">
    <div class="cont">
        <div class="header_content">
            <a href="index.html" class="logo">Cash Trinity<span>.</span></a>
            <nav class="nav">
                <ul class="nav_menu">
                    <li class="menu_item"> <a class="link" href="#lending">Why private lending?</a></li>
                    <li class="menu_item"> <a class="link" href="#work">How it works</a></li>
                    <li class="menu_item"> <a class="link" href="#">Invest now</a></li>
                    <li class="menu_item"> <a class="link" href="#">Compound Interest calculator</a></li>
                </ul>
            </nav>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
    </div>
</header>