<header id="header" class="transparent">
    <div class="cont">
        <div class="header_content">
            <a href="index.html" class="logo">Cash Trinity<span>.</span></a>
            <nav class="nav">
                <ul class="nav_menu">
                    <li class="menu_item"> <a class="link" href="index.html#lending">Why private lending?</a></li>
                    <li class="menu_item"> <a class="link" href="index.html#work">How it works</a></li>
                    <li class="menu_item"> <a class="link" href="index.html#form_tab">Invest now</a></li>
                    <li class="menu_item"> <a class="link" href="calculator.html#calc">Compound Interest calculator</a></li>
                </ul>
            </nav>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
    </div>
</header>