html{
    scroll-behavior: smooth;
}

.cont{
    max-width: 1144px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}


.main-section{
    
    .main-content{
        @include adaptiv-vaule("padding-top", 25, 10, 1);
        border-top: 1px solid #e5e5e5;
    }

    .links{
        margin-bottom: 20px;

        @include media ("<desktop"){
            margin-bottom: 0;
        }

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media ("<desktop"){
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }
            
        }

        li{
            list-style: none;
            margin-left: 20px;

            @include media ("<desktop"){
                margin-bottom: 10px;
            }

                &:first-child{
                    margin-left: 0;
                }
            
            a{
                text-transform: uppercase;
                font-size: 16px;
                color:#262626;
                

                &:hover{
                    color: #48974c;
                }
            }
        }
    }
}

.main-title{

    .title-slider{
        position: relative;

        .slick-dots{
            display: flex;
            position: absolute;
            bottom:100px;
            left: 22%;

            @include media ("<tablet"){
                left: 50%;
                transform: translate(-50%);
            }

            button{
                border-radius:50%;
                font-size: 0;
                border: none;
                background: #fff;
                width: 15px;
                height: 15px;
                margin-right: 10px;
                opacity: 0.5;
                transition: 0.4s;
            }
        }

        .slick-active{

            button{
                opacity: 1;
            }
        }
    }
    
    .slider-item{
        height: 100%;
        position: relative;

        .img-item{
            width: 100%;
            min-height: 600px;
        }
    }


    .title-text{
        position: absolute;
        top: 80px;
        left: 20%;
        z-index: 5;
        max-width: 550px;
        background: $white;
        @include adaptiv-vaule("padding-top", 40,15, 1);
        @include adaptiv-vaule("padding-bottom", 40, 15, 1);
        @include adaptiv-vaule("padding-right", 40, 15, 1);
        @include adaptiv-vaule("padding-left", 40, 15, 1);

        @include media ("<tablet"){
            left: 50%;
            transform: translate(-50%);
            width: 90%;
        }

        h1{
            @include adaptiv-vaule("margin-bottom", 35 , 15, 1);
        }

        p{
            @include adaptiv-vaule("font-size", 16, 12, 1);
            line-height: 28 / 16 *100%;
        }
    }

   
} 


.article{
    background:#f8f8f8;
    padding: 30px 0 150px 0;
}

.button-bot{

    @include media ("<desktop"){
        display:none;
    }

    .btn{
        background: #48974c;
        color: #fff;
        padding: 20px 55px;
        margin-left: 25px;

        &:hover{
            color: #48974c;
            background: #fff;
        }
    }
}

.article-content{
    display: flex;
    margin-bottom: 25px;

    @include media ("<desktop"){
        flex-direction: column;
    }

    
}

.article-cards{
    margin-right: 30px; 
    width: 50%;
    height: 100%;

    @include media ("<desktop"){
        display: flex;
        width: 100%;
    }

    @include media("<800px"){
        flex-direction: column;
        align-items:center;
    }

    .card-item{
        max-width: 552px;
        height: 100%;
        background: #fff;
        height: auto;
        padding: 25px;

        &:not(:last-child){
            margin-bottom: 30px;
        }

        @include media ("<desktop"){

            &:not(:last-child){
                margin-right: 20px;
            }
        }

        @include media("<800px"){
            &:not(:last-child){
                margin-right: 0;
            }
        }
    }

    .img-item{
        margin-bottom: 15px;
        min-height: 340px;
        max-width: 510px;
    }

    .card-text{

        .data{
            margin-bottom: 10px;

            span{
                color: #a6a6a6;
                font-size: 14px;
                vertical-align: middle;
                &::before{
                    content: url(../images/article/data.svg);
                    color: #a6a6a6;
                    margin-right: 5px;

                }
            }
        }

        h3{
            font-style: italic;
            font-weight: 600;
            margin-bottom: 15px;
            line-height: 24 / 16 * 100%;
        }

        p{
            font-size: 14px;
            color: #737373;
            margin-bottom: 15px;
            line-height: 26 / 14 *100%;
        }
    }

    .links{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media("<800px"){
            flex-direction: column;
        }

        .button{

            a{
                font-weight: 700;
            }
            @include media("<800px"){
                margin-bottom: 15px;
            }
        }

        .media{

            a{

                &:not(:last-child){
                    margin-right: 10px;
                }
            }
        
            svg{
                fill: #ccc;
                transition: 0.4s;

                &:hover{
                    fill: #48974c;
                }
            }
        }
    }
}

.article-slider{
    width: 50%;
    height: 100%;
    position: relative;

    @include media ("<desktop"){
        width: 100%;
    }

    .slider-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        @include media ("<desktop"){
            margin-bottom: 15px;
        }
    }
    
    .card{
        padding: 25px;
        background: #fff;
        width: 100%;
        border: 1px solid #e5e5e5;

        .card-img{
            margin-bottom: 15px;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .card-text{

            h4{
                font-style: italic;
                font-weight: 600;
                margin-bottom: 10px;
            }

            p{
                color: #737373;
                margin-bottom: 15px;
                line-height: 26 / 16 * 100%;
                @include adaptiv-vaule("font-size", 16, 14, 1);
            }

            a{
                color: #48974c;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;

                ion-icon{
                    color: #fff;
                    background: #48974c;
                    border-radius:50%;
                    vertical-align: -2px;
                    margin-right: 5px;
                }
            }
        }
    }

    .slick-dots{
        position: absolute;
        bottom: -90px;
        left: 30px;
        display: flex;
        justify-content: center;

        @include media ("<desktop"){
            bottom:-70px;
        }
        
        li{
            list-style: none;
        }

        button{
            background: #fff;
            border: none;
            width: 60px;
            height: 60px;
            transition: 0.4s;
            margin-right: 10px;

            @include media ("<tablet"){
                width: 40px;
                height: 40px;
            }
        }
    }

    .slick-arrow{
        position: absolute;
        bottom: -70px;
        font-size: 0;
        width: 15px;
        height: 15px;
        border: none;
        background: transparent;

        @include media ("<desktop"){
            bottom:-50px;
        }
    }

    .slick-prev{
        left: 0px;

        &::before{
            content: url(../images/article/prev.svg);
            width: 15px;
            height: 15px;
        }
    }

    .slick-next{
        right: 0px;
        &::after{
            content: url(../images/article/next.svg);
            width: 15px;
            height: 15px;
        }
    }

    .slick-active{

        button{
            background: #48974c;
            color: #fff;
        }
    }
}


.build{
    background: url(../images//build/bukidimg.jpg) 0 0/100% 100% no-repeat;
    height: 35vh;

    .cont{
        height: 100%;
    }

    .build-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    .button{
        display: flex;
        align-items: center;
        margin-bottom: 70px;

        @include media ("<phone"){
            flex-direction: column;
            align-items: flex-start;
        }

        p{
            background: #fff;
            padding: 20px 50px;
        }

        a{
            color: #fff;
            background: #48974c;

            &:hover{
                color: #48974c;
                background: #fff;
            }
        }
    }
}

.banner{
    @include adaptiv-vaule("padding-top", 70, 25, 1);
    @include adaptiv-vaule("padding-bottom", 70, 25, 1);
    background: #f8f8f8;
}

.banner-content{
    display: flex;

    @include media ("<tablet"){
        flex-direction: column;
    }


    .blcok-1{
        flex: 1 1 auto;
        background: #fff;
        max-width: 360px;
        padding: 30px;
        margin-right: 30px;

        @include media ("<tablet"){
            margin-right: 0;
            margin-bottom: 20px;
            max-width: 100%;
            text-align:center;
        }
    }

    .block-2{
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items:center;
        background: #fff;
    }

    .blcok-1,.block-2{

        h4{
            @include adaptiv-vaule("margin-bottom", 25 ,15, 1);
            font-style: italic;
            font-weight: 600;
        }
    }
}

