footer{
    background: #404040;
    @include adaptiv-vaule("padding-top", 50, 15, 1);
    padding-bottom: 15px;

    .footer-top{
        display: flex;
        justify-content: space-between;
        @include adaptiv-vaule("padding-bottom", 60, 20, 1);

        @include media ("<desktop"){
            flex-wrap: wrap;
        }

        @include media ("<tablet"){
            flex-direction: column;
            align-items:center;
            text-align: center;
        }

        .footer-title{
            width: 40%;

            @include media ("<desktop"){
                flex: 100%;
                text-align: center;
                margin-bottom: 20px;
                width: 100%;
            }
            
            h2{
                margin-bottom: 15px;
            }

            h6{
                line-height: 24 / 16 *100%;
            }

            h2,h6{
                color: #ffff;
            }
        }

        .links{
            width: 30%;

            @include media ("<tablet"){
                width: 100%;
                margin-bottom: 20px;
            }


            li{
                margin-bottom: 20px;

                a{
                    color: #ffff;
                    text-transform: uppercase;
                }
            }
        }

        .media{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @include media ("<tablet"){
                align-items: center;
            }

            .top-links{
                margin-bottom:40px;

                a:not(:last-child){
                    margin-right: 25px;
                }

                svg{
                    fill: #808080;
                    transition: 0.4s;

                    &:hover{
                        fill: #48974c;
                    }
                }
            }

            
        }
    }

    .footer-bot{
        border-top: 1px solid #808080;
        padding-top: 15px;

        @include media ("<tablet"){
            text-align: center;
        }

        .copy{
            p{
                color: #999999;
                font-size: 14px;
            }
        }
    }

}