header{
    @include adaptiv-vaule("padding-top", 50, 15, 1);
    @include adaptiv-vaule("padding-bottom", 50, 20, 1);
    text-align: center;
}

.header-title{

    h2{
        margin-bottom: 15px;
        line-height: 100%;
        color:#262626;
    }

    h6{
        font-style: italic;
        color: #595959;
    }
}