.yellow_btn {
    background-color: $yellow;
    transition: all .3s ease;
    font-weight: 600;
    @include adaptiv-vaule("font-size", 18, 16, 1);
    line-height: 23 / 18 * 100%;
    border: none;
    padding: 15px;
    max-width: 170px;
    width: 100%;
    display: inline-block;
    text-align: center;

    &:hover {
        background-color: #FFD964;
    }
}

.yellow_word{
    color: $yellow;
}

.data_title {
    font-size: 18px;
    line-height: 23 / 18 * 100%;
    color: $gray_3;
    @include adaptiv-vaule("margin-bottom", 15, 10, 1);
}

.data_text {
    width: 100%;
    padding: 15px 20px 15px 25px;
    @include adaptiv-vaule("padding-left", 25, 15, 1);
    border: 1px solid $black;
    background-color: $white;
    color: $black;
    @include adaptiv-vaule("font-size", 18, 16, 1);
    line-height: 23 / 18 * 100%;

    &:focus {
        background-color: #FFF9E7;
        border: 1px solid $yellow;
        transition: all .3s ease-in;
    }

    &::placeholder {
        @include adaptiv-vaule("font-size", 18, 16, 1);
        line-height: 23 / 18 * 100%;
        color: #909090;
    }
}

.black_btn {
    font-weight: 600;
    @include adaptiv-vaule("font-size", 18, 16, 1);
    line-height: 23 / 18 * 100%;
    color: #FFFFFF;
    background-color: $black;
    border: none;
    padding: 15px;
    max-width: 170px;
    width: 100%;
    border:  1px solid $black;
    transition: all .3s ease;

    &:hover{
        transition: all .3s ease;
        color: $black;
        background-color: $white;
    }
}

.ibg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_wrap {
    position: relative;

    @include media ("<tablet") {
        display: flex;
        flex-direction: column-reverse;
        align-items: center
    }

    .video_body {
        max-width: 1010px;
        width: 100%;
        max-height: 565px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        margin-top: 35px;
    }
    
    video {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        position: relative;
    }
    
    .play {
        border: none;
        background-color: transparent;
        border-radius: 50%;
        overflow: hidden;
        width: 130px;
        height: 120px;
        @include adaptiv-vaule("width", 130, 70, 1);
        @include adaptiv-vaule("height", 120, 60, 1);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
    
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .video_text {
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
    
        @include media ("<tablet") {
            position: static;
            transform: translate(0);
        }
    }
    
    .video_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 24, 18, 1);
        line-height: 31 / 24 * 100%;
        color: $yellow;
        margin-bottom: 15px;
    }
    
    .video_descr {
        @include adaptiv-vaule("font-size", 18, 16, 1);
        line-height: 23 / 18 * 100%;
        color: $white;
    
        @include media ("<tablet") {
            color: $black;
        }
    }
}


