header {
    padding: 40px 0;

    @include media ("<desktop") {
        padding: 20px 0;
    }

    .header_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo,
    .menu_item,
    .contact_btn,
    .lang_btn {
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
    }

    .logo {
        margin-right: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        min-width: max-content;
        position: relative;
        z-index: 3;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;

        @include media ("<desktop") {
            position: fixed;
            top: 0;
            right: -100%;
            transition: $all_03;
            height: 100vh;
            background-color: $whiteFD;
            flex-direction: column;
            justify-content: center;
            z-index: 2;
        }

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .menu_active {
        right: 0;
        transition: $all_03;
    }

    .item_active{
        font-weight: 700;
    }

    .nav_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiv-vaule("gap", 70, 0, 1);

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .menu_item {
        @include media ("<desktop") {
            margin-bottom: 50px;
        }
    }

    .contact_btn {
        padding: 15px;
        background-color: #E3E3E3;
        @include adaptiv-vaule("width", 195, 100, 1);
        text-align: center;
        transition: $all_03;

        @include media ("<desktop") {
            width: 200px;
            margin-bottom: 70px;
        }

        &:hover {
            background-color: $orange;
            transition: $all_03;
        }
    }

    .social_links{
        display: none;

        @include media ("<desktop") {
            display: block;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 35px;
        }
    }

    .lang_btn {
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin-right: 5px;
        }

        img {
            margin-bottom: 5px;
        }
    }

    .header_burger {
        display: none;
        width: 25px;
        height: 20px;
        position: relative;
        cursor: pointer;
        z-index: 3;

        @include media ("<desktop") {
            display: block;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: $black;
            transition: all 0.4s ease;
        }

        span {
            position: absolute;
            width: 50%;
            height: 3px;
            background: $black;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            transition: all 0.4s ease;
            opacity: 1;
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0;
        }
    }

    .burger_active {
        &::after {
            transform: rotate(-45deg);
            bottom: 8px;
        }

        &::before {
            transform: rotate(45deg);
            top: 9px;
        }

        span {
            opacity: 0;
            visibility: hidden;
        }
    }
}