<header id="header">
    <div class="circle">
        <img src="./images/header/circle.svg" alt= "image not found" >
    </div>
    <div class="ellipse"></div>
    <div class="container">
        <div class="header_content">
            <div class="logo">
                <a href="index.html" class="logo_link">
                    <img src="./images/logo.png" alt="image not found">
                </a>
            </div>
            <div class="menu_container"></div>
            <nav class="nav">
                <ul class="nav-menu">
                    <li class="menu-item"> <a class="menu_link" href="#">Home</a></li>
                    <div class="dropdown">
                        <a href="#" class="dropbtn menu_link">Aufhellung
                            <img src="./images/header/arrow.svg" alt="image not found">
                        </a>
                        <div class="dropdown_content_wrap">
                            <div class="dropdown-content">
                                <a class="dropdown_link" href="tooth_jewellery.html">Zahnaufhellung</a>
                                <a class="dropdown_link" href="home_bleaching.html">Homebleaching</a>
                                <a class="dropdown_link" href="teeth_whitening.html">Zahnschmuck</a>
                            </div>
                        </div>
                    </div>
                    <li class="menu-item"> <a class="menu_link" href="#">About us</a></li>
                    <li class="menu-item"> <a class="menu_link" href="price.html">Preise</a></li>
                    <li class="menu-item"> <a class="menu_link" href="#">Studio und Kontakten</a>
                    </li>
                </ul>
                <a href="#" class="booking_btn">Book now</a>
            </nav>
            <div class="burger_wrap">
                <div class="header_burger">
                    <span></span>
                </div>
            </div>

        </div>
    </div>
</header>