body {
    background-color: $white;
    font-family: 'Arimo';
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include media ("<phone") {
        padding: 0 10px;
    }
}