body {
    background-color: $white;
    font-family: 'Arimo';
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

@keyframes bottom_border {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.body_lock {
    overflow: hidden;
}

.ibg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include media ("<phone") {
        padding: 0 10px;
    }
}

.blue_text {
    color: $blue;
}

.gray_text {
    opacity: 0.5;
}

.blue_btn {
    min-width: 270px;
    display: inline-block;
    background-color: $blue;
    border-radius: 8px;
    padding: 18px;
    text-align: center;
    color: $white;
    border: 2px solid $blue;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s ease;

    &:hover {
        background-color: $white;
        border: 2px solid $blue;
        color: $blue;
        transition: all .3s ease;
    }
}

.white_btn {
    max-width: 270px;
    min-width: 270px;
    display: inline-block;
    background-color: $white;
    border-radius: 8px;
    padding: 18px;
    text-align: center;
    color: $blue;
    border: 2px solid $blue;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s ease;

    &:hover {
        background-color: $blue;
        border: 2px solid $white;
        color: $white;
        transition: all .3s ease;
    }
}

.main_content {
    @include adaptiv-vaule("padding-top", 175, 120, 1);
    @include adaptiv-vaule("padding-bottom", 100, 80, 1);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 150%;
        width: 1px;
        top: -50%;
        right: 10%;
        background-color: $gray_3;
    }

    &::after {
        content: '';
        position: absolute;
        height: 150%;
        width: 1px;
        top: -50%;
        right: 41%;
        background-color: $gray_3;
    }

    .main_text {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        @include media ("<desktop") {
            flex-direction: column;
            align-items: center;
        }
    }

    .main_title {
        max-width: 960px;
        margin-right: 30px;
        @include adaptiv-vaule(" margin-right", 30, 0, 1);

        @include media ("<desktop") {
            margin: 0 0 35px 0;
            text-align: center;
        }
    }
}

.main_img {
    height: 470px;
    @include adaptiv-vaule("height", 470, 270, 1);
    width: 100%;
    position: relative;

    @include media ("<phone") {
        display: none;
    }
}

.main_phone_img {
    display: none;

    @include media ("<phone") {
        display: block;
        height: 270px;
        width: 100%;
        position: relative;
    }
}

.about_us {
    background-color: $blue;
    @include adaptiv-vaule("padding-top", 130, 80, 1);
    @include adaptiv-vaule("padding-bottom", 130, 70, 1);
}

.about_us_content {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: flex-start;
    @include adaptiv-vaule("column-gap", 50, 5, 1);
    color: $white;

    @include media ("<desktop") {
        grid-template: 1fr / 1fr;
        max-width: 80%;
        margin: 0 auto;
        justify-items: center;
    }

    @include media ("<tablet") {
        max-width: 100%;
    }

    .tip {
        font-weight: 700;
        display: inline-block;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        font-size: 16px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .about_us_title {
        max-width: 530px;
        color: $white;

        @include media ("<desktop") {
            margin-bottom: 30px;
            max-width: 100%;
        }
    }

    .about_us_items {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        @include adaptiv-vaule("column-gap", 80, 5, 1);
        @include adaptiv-vaule("row-gap", 60, 25, 1);

        @include media ("<desktop") {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 1;
            grid-template: 1fr / 1fr;
            margin-bottom: 40px;
        }
    }

    .item {
        border-top: 1px solid $gray_3;
        padding-top: 20px;
    }

    .item_title {
        margin-bottom: 10px;
        color: $white;
    }

    .item_descr {
        font-weight: 500;
        font-size: 16px;
        line-height: 175%;
        color: $gray;
    }

    .white_btn {
        font-weight: 700;
        margin-top: -60px;

        @include media ("<desktop") {
            margin: 0;
        }

        @include media ("<phone") {
            max-width: 100%;
            min-width: 100%;
        }
    }
}

.propos {
    @include adaptiv-vaule("padding-top", 130, 80, 1);
    @include adaptiv-vaule("padding-bottom", 130, 80, 1);

    .propos_content {
        display: grid;
        grid-template: 1fr 1fr / repeat(auto-fit, minmax(330px, 30%));
        justify-content: center;
        @include adaptiv-vaule("column-gap", 65, 0, 1);
        @include adaptiv-vaule("row-gap", 70, 25, 1);

        @include media ("<tablet") {
            grid-template: 1fr / repeat(auto-fill, minmax(330px, 80%));
        }

        @include media ("<phone") {
            grid-template: 1fr / repeat(auto-fill, minmax(100%, 100%));
        }
    }

    .propos_item {
        @include adaptiv-vaule("padding-top", 30, 25, 1);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 70%;
            height: 1px;
            background-color: $gray_3;
        }

        .item_img {
            width: 54px;
            height: 54px;
            @include adaptiv-vaule("margin-bottom", 25, 15, 1);

            @include media ("<tablet") {
                width: 36px;
                height: 36px;
            }
        }

        .item_title {
            margin-bottom: 10px;
        }

        .item_descr {
            font-weight: 500;
            @include adaptiv-vaule("font-size", 16, 14, 1);
            line-height: 175%;
            color: $gray_2;
            letter-spacing: -0.01em;
        }
    }
}

.award {
    @include adaptiv-vaule("padding-top", 100, 80, 1);
    @include adaptiv-vaule("padding-bottom", 100, 80, 1);
    background-color: $blue;

    .award_content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .award_text {
        width: 55%;
        color: $white;
        margin-right: 30px;

        @include media ("<desktop") {
            width: 85%;
            margin: 0 0 60px 0;
        }

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .award_title {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 34, 28, 1);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: $white;
        text-transform: capitalize;
        @include adaptiv-vaule("margin-bottom", 15, 25, 1);
    }

    .note {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        letter-spacing: -0.01em;
        padding: 15px 0 15px 15px;
        border-left: 1px solid $white;
        @include adaptiv-vaule("margin-bottom", 15, 25, 1);
    }

    .award_descr {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 175%;
        color: $gray;
        margin-bottom: 40px;
        max-width: 545px;

        @include media ("<desktop") {
            max-width: 100%;
        }
    }

    .white_btn {

        @include media ("<phone") {
            min-width: 100%;
        }
    }

    .award_img {
        width: 40%;

        @include media ("<desktop") {
            width: 80%;
        }

        @include media ("<phone") {
            width: 100%;
        }
    }
}

.cards {
    @include adaptiv-vaule("padding-top", 130, 80, 1);
    @include adaptiv-vaule("padding-bottom", 130, 80, 1);
    background-color: #F2F4F8;

    .cards_content {
        display: grid;
        justify-content: center;
        grid-template: 1fr / repeat(auto-fit, minmax(420px, 426px));
        column-gap: 20px;
        row-gap: 25px;

        @include media ("<phone") {
            grid-template: 1fr / repeat(auto-fit, minmax(100%, 100%));
        }
    }

    .card {
        background-color: $white;
        border-radius: 14px;
        @include adaptiv-vaule("padding-top", 40, 35, 1);
        @include adaptiv-vaule("padding-bottom", 40, 35, 1);
        @include adaptiv-vaule("padding-right", 30, 24, 1);
        @include adaptiv-vaule("padding-left", 30, 24, 1);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
    }

    .card_img {
        width: 62px;
        height: 62px;
        margin-bottom: 10px;

        @include media ("<tablet") {
            width: 42px;
            height: 42px;
        }
    }

    .card_title {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 22, 18, 1);
        letter-spacing: -0.03em;
        text-transform: capitalize;
        @include adaptiv-vaule("padding-bottom", 20, 15, 1);
        @include adaptiv-vaule("margin-bottom", 25, 20, 1);
        border-bottom: 1px solid $gray;
    }

    .pack {
        color: $gray_2;
    }

    .card_descr {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 18, 14, 1);
        line-height: 144%;
        letter-spacing: -0.01em;
        color: $gray_4;
        @include adaptiv-vaule("margin-bottom", 30, 25, 1);
        max-width: 300px;
    }

    .text_wrap {
        flex: 1 1 auto;
    }

    .package_list {
        text-align: start;
        margin-bottom: 25px;
    }

    .list_item {
        @include adaptiv-vaule("font-size", 16, 14, 1);
        font-weight: 500;
        line-height: 125%;
        color: $gray_2;
        padding-left: 30px;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &::before {
            content: url(../images/cards/check.svg);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    .fee_wrap {
        @include adaptiv-vaule("margin-bottom", 25, 50, 1);
        text-align: start;
        width: 100%;
    }

    .fee {
        text-align: start;

        @include adaptiv-vaule("font-size", 16, 14, 1);
        font-weight: 700;
        line-height: 150%;
    }

    .blue_btn,
    .white_btn {
        min-width: 100%;
    }

    .blue_btn {
        margin-bottom: 15px;
    }
}

.faq {
    @include adaptiv-vaule("padding-top", 130, 80, 1);
    @include adaptiv-vaule("padding-bottom", 130, 80, 1);

    .faq_title {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 68, 42, 1);
        @include adaptiv-vaule("margin-bottom", 60, 35, 1);
        color: $blue;
        text-transform: uppercase;
    }

    .tab_wrapper {
        margin-bottom: 45px;
    }

    .tab_title {
        padding: 20px 0;
        position: relative;
        cursor: pointer;

        @include media ("<phone") {
            padding-right: 75px;
        }

        &::after {
            content: url(../images/tabs/arrow.svg);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            transition: all .3s linear;
        }
    }

    .tab_active {
        &::after {
            transform: rotateX(180deg) translateY(50%);
            transition: all .3s linear;
        }
    }

    .tabs {
        position: relative;

        &:not(:first-child) {
            border-top: 1px solid $gray;
        }
    }

    .tab_content {
        padding: 0;
        opacity: 0;
        max-height: 0;
        font-weight: 500;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 150%;
        letter-spacing: -0.01em;
        color: $gray_2;
        transition: all .3s ease;
    }

    .show {
        max-height: 100%;
        transition: all .3s ease;
        padding: 0 0 20px 0;
        opacity: 1;
    }

    .blue_btn {
        @include media ("<phone") {
            min-width: 100%;
        }
    }
}

.contact_us {
    @include adaptiv-vaule("padding-top", 130, 80, 1);
    @include adaptiv-vaule("padding-bottom", 130, 80, 1);
    background-color: #F9F9F9;

    .contact_us_content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .contatc_us_text {
        width: 40%;
        margin-right: 30px;

        @include media ("<tablet") {
            margin: 0 0 30px 0;
            width: 80%;
        }

        @include media ("<phone") {
            width: 100%;
        }
    }

    .contact_us_title {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 68, 42, 1);
        @include adaptiv-vaule("margin-bottom", 30, 20, 1);
        color: $blue;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 55px;

        @include media ("<tablet") {
            margin: 0;
        }
    }

    .link {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .link_img {
        margin-right: 13px;
        width: 24px;
        height: 24px;
    }

    .link_title {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        color: $black;
    }

    .mail_img {
        width: 280px;
        height: 230px;

        img {
            width: 100%;
            height: 100%;
        }

        @include media ("<tablet") {
            display: none;
        }
    }

    form {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media ("<tablet") {
            width: 80%;
        }

        @include media ("<phone") {
            width: 100%;
        }
    }

    .data_name {
        font-weight: 600;
        font-size: 12px;
        text-transform: capitalize;
        color: $gray_2;
        margin-bottom: 12px;
    }

    .data {
        border: 1px solid #DADDE5;
        border-radius: 8px;
        padding: 12px 16px;
        width: 100%;
        margin-bottom: 25px;

        &::placeholder {
            color: $gray_2;
            font-size: 14px;
        }

        &:focus {
            border: 1px solid $blue;
        }
    }

    .data_text {
        height: 140px;
    }

    .blue_btn {
        min-width: 100%;
    }
}

.faq_page {
    @include adaptiv-vaule("padding-top", 240, 110, 1);
    @include adaptiv-vaule("padding-bottom", 140, 80, 1);

    .faq_main_wrap {
        @include adaptiv-vaule("margin-bottom", 100, 60, 1);
        height: calc(100vh - 87px);
    }

    .faq_page_title {
        color: $black;
        text-transform: uppercase;
        max-width: 900px;
        font-weight: 700;
        @include adaptiv-vaule("font-size", 90, 48, 1);
        letter-spacing: -0.03em;
        line-height: 98%;
        @include adaptiv-vaule("margin-bottom", 100, 60, 1);
    }

    .faq_page_img {
        width: 100%;
        height: 350px;
        position: relative;
        overflow: hidden;
    }

    .tab_list {
        padding-left: 10px;
    }

    .tab_list_item {
        padding-left: 20px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $blue;
        }
    }

    .link {
        text-decoration: underline;
        color: $gray_2;
    }
}

.privacy_policy {
    @include adaptiv-vaule("padding-top", 240, 110, 1);
    @include adaptiv-vaule("padding-bottom", 100, 80, 1);

    .privacy_policy_head {
        @include adaptiv-vaule("margin-bottom", 100, 60, 1);
    }

    .privacy_policy_title {
        @include adaptiv-vaule("margin-bottom", 100, 60, 1);
        @include adaptiv-vaule("font-size", 90, 48, 1);
        letter-spacing: -0.03em;
        font-weight: 700;
        line-height: 98%;
    }

    .privacy_policy_img {
        position: relative;
        width: 100%;
        height: 350px;
    }

    .privacy_policy_content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
    }

    .content_body {
        width: 72%;
        margin-right: 30px;

        @include media ("<desktop") {
            width: 100%;
            margin: 0;
        }
    }

    .item_body {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    .body_title {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 26, 18, 1);
        line-height: 140%;
        letter-spacing: -0.03em;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid $gray_3;
    }

    .item_title {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        line-height: 160%;
        letter-spacing: -0.01em;
        margin-bottom: 10px;
    }

    .sub_item_title {
        @include adaptiv-vaule("font-size", 18, 16, 1);
        font-weight: 500;
        letter-spacing: -0.01em;
        line-height: 156%;
    }

    .item_descr {
        font-weight: 500;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 175%;
        letter-spacing: -0.01em;
        color: $gray_2;
    }

    .black {
        color: $black;
        font-weight: 500;

    }

    .item_list {
        padding-left: 10px;
    }

    .list_item {
        padding-left: 20px;
        position: relative;
        font-weight: 500;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 175%;
        letter-spacing: -0.01em;
        color: $gray_2;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $blue;
        }
    }

    .nav_table {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        

        @include media ("<desktop") {
            position: fixed;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            background-color:$white;
            border-radius:8px;
            padding: 20px 10px;
            align-items: center;
            text-align: center;
            width: 50%;
            box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
            overflow: auto;
            z-index: 3;
            max-height: 80%;
        }

        @include media ("<tablet") {
            width: 90%;
            padding: 15px 5px;
        }
    }

    .show_table{
        opacity: 1;
        visibility: visible;
    }

    .nav_table_title {
        @include adaptiv-vaule("font-size", 26, 18, 1);
        font-weight: 500;
        letter-spacing: -0.03em;
        margin-bottom: 25px;
    }

    .nav_table_link {
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-weight: 500;
        letter-spacing: -0.01em;
        color: $black;
        text-decoration: underline;

        &:not(:last-child){
            margin-bottom: 15px;
        }

        &:hover{
            color: $blue;
        }
    }

    .nav_btn{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1%;
        z-index: 3;
        display: none;

        @include media ("<desktop") {
            display: block;
        }
        
        @include media ("<phone") {
            padding: 9px;
        }
    }
}

.terms {

    .body_title {
        @include adaptiv-vaule("font-size", 20, 16, 1);
        letter-spacing: -0.01em;
        color: $black;
        font-weight: 500;
    }
}