header {
    padding: 20px 0;
    border-bottom: 1px solid $gray_3;
    background-color: $white;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;

    @include media ("<phone") {
        padding: 10px 0 15px 0;
    }

    .header_content {
        position: relative;
        z-index: 2;
    }

    .header_content,
    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-menu {
        @include media ("<desktop") {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .logo {
        @include adaptiv-vaule("width", 206, 150, 1);
        position: relative;
        z-index: 6;
    }

    .nav {

        @include media ("<desktop") {
            position: fixed;
            top: 0;
            right: -100%;
            height: 100%;
            width: 50%;
            transition: all .3s linear;
            z-index: 5;
            background-color: $white;
            padding: 90px 0 30px 0;
        }

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .nav-menu {
        @include media ("<desktop") {
            flex-direction: column;
            align-items: center;
            height: 100%;
            overflow: auto;
        }
    }

    .menu_active {
        right: 0;
        transition: all .3s linear;
    }

    .main_page_hide {
        display: none;

        @include media ("<desktop") {
            display: block;
        }
    }

    .menu-item {
        position: relative;
        z-index: 2;
        @include adaptiv-vaule("margin-left", 15, 1, 1);

        @include media ("<desktop") {
            margin: 0 0 30px 0;
        }

        &:hover {
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: -5px;
                background-color: $blue;
                animation: bottom_border .5s linear;
            }
        }
    }

    .button_wrap {
        display: flex;
        align-items: center;
    }

    button {
        border: none;
        background-color: transparent;
        padding: 0;
    }

    .btn_arrow{
        margin-left: 7px;
        margin-bottom: 2px;
        transition: all .3s ease;
    }

    .dropdown {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            bottom: -100%;
            left: 0;
            height: 30px;
            width: 100%;
            z-index: 2;
            background-color: transparent;
        }

        &:hover {
            .dropdown-content {
                border: 0.5px solid rgba(245, 239, 235, 0.4);
                padding: 5px;
                height: max-content;
                transition: all .3s linear;
            }

            .btn_arrow{
                transform: rotate(180deg);
                transition: all .3s ease;
            }
        }

        .menu-item {
            margin: 0;
            padding: 10px 20px;
            border-radius: 8px;

            &:hover {
                background-color: $white;

                &:after {
                    display: none;
                }
            }
        }
    }

    .dropdown-content {
        position: absolute;
        width: max-content;
        height: 0;
        overflow: hidden;
        top: 35px;
        left: -25px;
        background: #F4F6FE;
        border-radius: 12px;
        border: 0px solid rgba(245, 239, 235, 0.4);
        ;
        padding: 0;
        transition: all .3s linear;
    }

    .btn_item {
        border: 1px solid $blue;
        border-radius: 8px;
        background-color: #F2F3F8;
        transition: all .3s ease;

        &:hover {
            background-color: $blue;
            transition: all .3s ease;

            .menu_link {
                color: $white;
            }

            &::after {
                display: none;
            }

            @include media ("<desktop") {
                background-color: transparent;
                color: $gray_4;
            }

        }

        @include media ("<desktop") {
            border: none;
            background-color: transparent;
        }

        .menu_link {
            display: inline-block;
            padding: 12px;
            color: $blue;
            font-weight: 600;
            transition: all .3s ease;

            @include media ("<desktop") {
                padding: 0;
                color: $gray_4;
                font-weight: 500;
            }
        }
    }

    .menu_link {
        @include adaptiv-vaule("font-size", 16, 5, 1);
        transition: all .3s ease;
        color: $gray_4;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;

        @include media ("<desktop") {
            font-size: 20px;
        }
    }

    .item_active {
        color: $blue;
    }

    .burger_menu {
        display: none;

        @include media ("<desktop") {
            display: block;
            width: 24px;
            height: 18px;
            position: relative;
            z-index: 6;

            &::after,
            &::before,
            span {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $gray_4;
                transition: all .3s linear;
            }

            &::after {
                left: 0;
                bottom: 0;
            }

            &::before {
                top: 0;
                left: 0;
            }

            span {
                top: 8.5px;
                left: 0;
                transition: all .3s linear;
            }
        }
    }

    /*  .menu_active {
        display: block;
    } */

    .burger_active {
        &::before {
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(45deg);
            transition: all .3s linear;
        }

        &::after {
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(-45deg);
            transition: all .3s linear;
        }

        span {
            width: 0;
            transition: all .3s linear;
        }
    }
}

.no_line {

    &::before,
    &::after {
        display: none;
    }
}