@keyframes bottom_border {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


@keyframes borderAnim {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}