<header id="header">
    <div class="container">
        <div class="header_content">
            <div class="logo">
                <a class="logo_link" href="index.html"></a>
                <img class="logo_img" src="./images/header/logo_img.svg" alt="logo">
                <div class="logo_text">
                    <p class="logo_title">Unhealthy love</p>
                    <span class="logo_subtitle">Love, hate, and everything in between</span>
                </div>
            </div>
            <nav class="nav">
                <ul class="nav_menu" id="menu">
                    <li class="menu_item"> <a class="menu_link" href="index.html">Main page</a></li>
                    <li class="menu_item"> <a class="menu_link" href="about_us.html">About us</a>
                    </li>
                    <li class="menu_item"> <a class="menu_link" href="podcast_page.html">Podcast</a>
                    </li>
                    <li class="menu_item"> <a class="menu_link" href="blog_page.html">Blog</a></li>
                    <li class="menu_item"> <a class="menu_link btn_item popup_btn yellow_btn"
                            href="#">Contact
                            Us</a></li>
                </ul>
            </nav>
            <div class="header_burger">
                <span></span>
            </div>
        </div>
    </div>
    <div class="popup_container"></div>
    <div class="contact_popup">
        <div class="close_item">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7 5.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893C14.0976 0.683417 14.0976 1.31658 13.7071 1.70711L8.41421 7L13.7071 12.2929C14.0976 12.6834 14.0976 13.3166 13.7071 13.7071C13.3166 14.0976 12.6834 14.0976 12.2929 13.7071L7 8.41421L1.70711 13.7071C1.31658 14.0976 0.683417 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z" />
            </svg>
        </div>
        <div class="popup_content">
            <h2 class="popup_title"><span class="yellow_word">Join</span> Unhealthy Love:</h2>
            <p class="popup_descr">Starting your content creation journey is difficult, we remove the difficult. Everything is provided for you. Editing, uploading, marketing and promotion</p>
            <form>
                <div class="form_body">
                    <div class="input_wrap">
                        <label class="data_title" for="name">Enter your name</label>
                        <input id="name" class="data_text" placeholder="Name" type="text">
                        <label class="data_title" for="tel">Enter your phone</label>
                        <input id="tel" class="data_text" placeholder="+ xx - xxx- xxx - xx"
                            type="tel">
                        <label class="data_title" for="tel">Relevant videos that showcase
                            your
                            talent</label>
                        <input class="data_text" placeholder="Add links" type="text">
                        <div class="choose">
                            <input class="custom_radio" name="person" id="radio1" type="radio">
                            <label class="ep_label label1" for="radio1">Episode Host</label>
                            <input class="custom_radio" name="person" id="radio2" type="radio">
                            <label class="ep_label" for="radio2">Episode Guest</label>
                        </div>
                    </div>
                    <div class="input_wrap">
                        <label class="data_title" for="mail">Enter your email</label>
                        <input id="mail" class="data_text" placeholder="Unhealthylove@gmail.com"
                            type="email">
                        <label class="data_title" for="message">Message</label>
                        <textarea id="message" class="data_text area_text"
                            placeholder="Enter your message"></textarea>
                        <input type="checkbox" class="custom_checkbox" id="check" name="argree"
                            value="yes">
                        <label class="argee" for="check">I agree with the<a class="link_terms"
                                target="_blank" href="terms_and_conditions.html">Terms And
                                Conditions</a></label>
                    </div>
                </div>
                <button class="yellow_btn">Send</button>
            </form>
        </div>
    </div>
</header>