<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-top">
                <div class="footer-logo">
                    <a href="index.html">
                        <img src="./images/footer/footerlogo.svg" alt="image nor found">
                        <p>miratex house</p>
                    </a>
                </div>
                <div class="text">
                    <p>Наша команда берет на себя все: от разработки идеи и до реализации. Функциональность и традиции —
                        это то, что мы внедряем в каждый наш проект.</p>
                </div>
            </div>
            <div class="footer-middle">
                <div class="middle-tel">
                    <h3> <img src="/src/images/footer/line.svg" alt="image not found"> звоните</h3>
                    <div class="tel">
                        <a href="+4420 45770896">GB +4420 45770896</a>
                    </div>
                    <div class="tel">
                        <a href="+7 499 3227009">RU +7 499 3227009</a>
                    </div>
                    <div class="tel">
                        <a href="+48 784 806484">PL +48 784 806484</a>
                    </div>
                </div>
                <div class="middle-mail">
                    <h3> <img src="./images/footer/line.svg" alt="image not found"> пишите</h3>
                    <a href="info@miratexhouse.com">info@miratexhouse.com</a>
                </div>
                <div class="middle-adress">
                    <h3> <img src="./images/footer/line.svg" alt="image not found"> приезжайте</h3>
                    <p>Miratex House OU</p>
                    <p>Registry code 14940959</p>
                    <address>Address: Sepapaja 6, Tallinn</address>
                </div>
            </div>
        </div>
        <div class="footer-bot">
            <div class="link-1">
                <p>© MiratexHouse. all rights reserved</p>
            </div>
            <div class="link-2">
                <a href="#">Disclaimer</a>
                <a href="#">Investments risks</a>
                <a href="#">general loam tearms</a>
                <a href="#">risk warning</a>
                <a href="#">terms of use</a>
            </div>
        </div>
    </div>
</footer>