.body_lock{
    overflow: hidden;
}

.transparent{

    header{
        background-color: transparent; 
    }
}

.ibg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include media ("<phone") {
        padding: 0 10px;
    }
}

.yellow-btn {
    padding: 15px 35px;
    font-weight: 600;
    font-size: 16px;
    color: $black;
    background: $yellow;
    border-radius: 10px;
    display: inline-block;
    transition: all .3s ease;
    text-align: center;

    @include media ("<phone") {
        font-size: 14px;
    }

    &:hover {
        background: $yellow_h;
    }
}

.grey-btn {
    padding: 15px 35px;
    font-weight: 600;
    font-size: 16px;
    color: $white;
    background: $gray_02;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    transition: all .3s ease;
    text-align: center;

    @include media ("<phone") {
        font-size: 14px;
    }

    &:hover {
        background: #666565;
    }
}

.component-title {
    padding: 10px 0 10px 0;
    @include adaptiv-vaule("padding-right", 90, 40, 1);
    @include adaptiv-vaule("padding-left", 90, 40, 1);
    background: $black;
    @include adaptiv-vaule("font-size", 20, 15, 1);
    color: $white;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}