body {
    background-color: transparent;
}

.main_section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;

    @include media ("<desktop") {
        height: max-content;
    }

    .container {
        // max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    .main_swiper {
        width: 100%;
        height: 100%;

        .swiper-button-next,
        .swiper-button-prev {
            &::after {
                color: #000;
            }

            @include media ("<tablet") {
                display: none;
            }
        }

    }

    .swiper-slide {
        display: flex;
    }

    .slide {
        // padding: 20px;
        // @include adaptiv-vaule("padding-top", 100, 60, 1);
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        @include media ("<desktop") {
            padding-top: 100px;
        }

        @include media ("<tablet") {
            padding-top: 60px;
        }

        @include media ("<phone") {
            padding-left: 0;
            padding-right: 0;
        }

        img {
            height: 100%;
        }

        .slide_content {
            height: 100%;

            @include media ("<desktop") {
                height: 100%;
            }

            @include media ("<phone") {
                justify-content: flex-end;
            }
        }

        .slide_text {
            margin-right: 35px;

            @include media ("<phone") {
                padding: 0 10px;
            }
        }

        .slide_img_wrap {
            max-height: 800px;
            max-width: 800px;
            height: 100%;
            width: 100%;

            @include media (">1700px") {
                max-width: 1000px;
            }

            @include media ("<widescreen") {
                position: fixed;
                left: -100px;
            }

            @include media ("<desktop") {
                position: static;
            }

            @include media ("<phone") {
                height: 350px;
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .swiper-button-prev {
        left: 20px;
        opacity: 0.2;

        &::after {
            content: url(../images/arrow_prev.svg);
        }
    }

    .swiper-button-next {
        opacity: 0.2;
        right: 20px;

        &::after {
            content: url(../images/arrow_next.svg);
        }
    }

    .flex_slide {

        .slide_content {
            column-count: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            position: relative;
            z-index: 1;

            @include media ("<widescreen") {
                justify-content: flex-end;
            }

            @include media ("<desktop") {
                column-count: 1;
                flex-direction: column-reverse;
                justify-content: center;
            }
        }

        .slide_text {
            max-width: 520px;
            width: 45%;

            @include media ("<desktop") {
                margin: 0;
                width: calc(100% - 20px);
            }

        }

        .text {
            text-indent: 40px;
            color: #000;
            text-align: justify;
            @include adaptiv-vaule("font-size", 16, 14, 1);
            line-height: 130%;
            opacity: 0;
            transition: all 8s ease;

            @include media ("<tablet") {
                text-indent: 20px;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        .activeText {
            opacity: 1;
            transition: all 5s ease;
        }
    }

    .revert {

        .slide_content {
            flex-direction: row-reverse;

            @include media ("<desktop") {
                flex-direction: column-reverse;
            }
        }

        .slide_img_wrap {

            @include media ("<widescreen") {
                position: fixed;
                left: 55%;
                width: 640px;
            }

            @include media ("<desktop") {
                position: static;
            }

            @include media ("<phone") {
                width: 100%;
            }
        }

        .slide_text {
            margin-right: 0;
            @include adaptiv-vaule("margin-left", 80, 0, 1);
        }
    }

    .white_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        background-color: $white;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;

        @include media ("<desktop") {
            height: 100vh;
        }

        @include media ("<tablet") {
            padding-top: 60px;
        }

        @include media ("<tablet") {
            align-items: flex-start;
        }

        .title_wrap {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .slide_title {
            color: $black;
            @include adaptiv-vaule("font-size", 40, 24, 1);
            font-weight: 300;
            line-height: 130%;
            text-transform: uppercase;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        .author {
            color: $black;
            @include adaptiv-vaule("font-size", 22, 16, 1);
            font-weight: 300;
            width: 100%;
            text-align: end;
            font-style: italic;
            margin-right: 50px;

            @include media ("<desktop") {
                width: calc(100% - 20px);
                text-align: end;
            }

            @include media ("<tablet") {
                margin-right: 0;
            }
        }
    }

    .slide_1 {
        padding: 0;
        height: 100vh;
        position: relative;

        @include media ("<desktop") {
            overflow: hidden;
        }

        .container {
            width: 100%;
            height: 100%;
        }

        .image_wrap {
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        .slide_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }

        .artifact {
            position: absolute;
            width: 350px;
            height: 300px;
            left: 0;
            bottom: 0;

            @include media ("<desktop") {
                display: none;
            }
        }

        .slide_text_wrap {
            position: absolute;
            width: 100%;
            z-index: 1;
            padding: 0 10px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;

            @include media ("<laptop") {
                left: 63%;
            }

            @include media ("<desktop") {
                left: 50%;
            }

            @include media ("<phone") {
                bottom: 90px;
            }
        }

        .title_wrap {
            max-width: 410px;
            width: 100%;
            margin: 0 auto;

            @include media ("<phone") {
                width: calc(100% - 20px);
            }
        }

        .under_img {
            position: absolute;
            top: 48%;
            left: 55%;
            transform: translate(-50%, -50%);
            width: 850px;
            height: 240px;
            z-index: -1;

            @include media ("<tablet") {
                object-fit: cover;
                left: 50%;
                top: 60%;
            }
        }

        .slide_title {
            color: $black;
            font-size: 24px;
            @include adaptiv-vaule("font-size", 24, 18, 1);
            font-weight: 300;
            line-height: 124.383%;
            font-style: italic;
        }

        .main {
            max-width: 415px;
            width: 100%;
            text-align: start;
            position: relative;
        }

        .sign {
            text-align: end;
            font-weight: 600;
        }
    }

    .slide_2 {
        background: linear-gradient(90deg, #FBDB6B 0%, #F8EEE9 100%);

        .slide_2_img {
            position: absolute;
            right: 0;
            bottom: 50px;
            max-width: 835px;
            height: auto;
        }

        .slide_img_wrap {

            @include media ("<desktop") {
                bottom: -65%;
                left: 0;
            }
        }
    }

    .slide_3 {

        .title_wrap {
            max-width: 855px;
            margin: 0 auto;
        }

        .slide_title {

            &:nth-child(2) {
                @include adaptiv-vaule("margin-left", 160, 40, 1);
            }

            &:nth-child(3) {
                @include adaptiv-vaule("margin-left", 260, 60, 1);
            }

            &:nth-child(4) {
                @include adaptiv-vaule("margin-left", 60, 10, 1);
            }

            &:nth-child(5) {
                @include adaptiv-vaule("margin-left", 340, 50, 1);
            }
        }
    }

    .slide_4 {
        background: linear-gradient(90deg, #E4F2FF 0%, #749AD3 100%);

        .slide_4_img {
            position: absolute;
            left: 0;
            bottom: 0;
            width: auto;
            max-height: 90%;
        }

        .slide_img_wrap {

            @include media ("<desktop") {
                bottom: -48%;
                right: -10px;
            }
        }
    }

    .slide_5 {

        .title_wrap {
            max-width: 1000px;
            margin: 0 auto;
        }

        .slide_title {

            &:nth-child(2) {
                @include adaptiv-vaule("margin-left", 500, 80, 1);
            }

            &:nth-child(3) {
                @include adaptiv-vaule("margin-left", 240, 0, 1);
            }

            &:nth-child(5) {
                @include adaptiv-vaule("margin-left", 200, 90, 1);
            }

            &:nth-child(6) {
                @include adaptiv-vaule("margin-left", 70, 15, 1);
            }

            &:nth-child(7) {
                @include adaptiv-vaule("margin-left", 400, 150, 1);
            }
        }
    }

    .slide_6 {
        background: linear-gradient(90deg, #FBDB6B 0%, #F8EEE9 100%);

        .slide_6_img {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            max-width: 950px;
            height: auto;
        }


        .slide_img_wrap {

            @include media ("<desktop") {
                bottom: -55%;
                left: 0;
            }
        }
    }

    .slide_7 {

        .title_wrap {
            max-width: 1380px;
            margin: 0 auto;
        }

        .slide_title {

            &:nth-child(1) {
                @include adaptiv-vaule("margin-left", 250, 10, 1);

                @include media ("<phone") {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }

            &:nth-child(2) {
                @include adaptiv-vaule("margin-left", 160, 10, 1);
            }

            &:nth-child(3) {
                @include adaptiv-vaule("margin-left", 210, 10, 1);
            }

            &:nth-child(4) {
                @include adaptiv-vaule("margin-left", 170, 10, 1);
            }

            &:nth-child(5) {
                @include adaptiv-vaule("margin-left", 90, 10, 1);
            }

            &:nth-child(6) {
                @include adaptiv-vaule("margin-left", 130, 10, 1);
            }
        }
    }

    .slide_8 {
        background: linear-gradient(90deg, #E4F2FF 0%, #749AD3 100%);

        .slide_8_img {
            position: absolute;
            left: 75px;
            bottom: 45px;
            max-width: 500px;
            height: auto;
        }
    }

    .slide_9 {

        .title_wrap {
            max-width: 880px;
            margin: 0 auto;
        }

        .slide_title {

            &:nth-child(2) {
                @include adaptiv-vaule("margin-left", 30, 30, 1);
            }

            &:nth-child(3) {
                @include adaptiv-vaule("margin-left", 120, 60, 1);
            }

            &:nth-child(5) {
                @include adaptiv-vaule("margin-left", 380, 80, 1);
            }

            &:nth-child(6) {
                @include adaptiv-vaule("margin-left", 200, 80, 1);
            }
        }
    }

    .slide_10 {
        background: linear-gradient(90deg, #FBDB6B 0%, #F8EEE9 100%);

        .slide_10_img {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            max-width: 940px;
            height: auto;
        }

        .slide_img_wrap {

            @include media ("<desktop") {
                bottom: -55%;
                left: 0;
            }
        }
    }

    .slide_11 {

        .title_wrap {
            max-width: 880px;
            margin: 0 auto;
        }

        .slide_title {

            &:nth-child(1) {
                @include adaptiv-vaule("margin-left", 120, 30, 1);
            }

            &:nth-child(2) {
                @include adaptiv-vaule("margin-left", 260, 60, 1);
            }

            &:nth-child(3) {
                @include adaptiv-vaule("margin-left", 180, 50, 1);
            }

            &:nth-child(4) {
                @include adaptiv-vaule("margin-left", 130, 30, 1);
            }
        }
    }

    .slide_12 {
        background: linear-gradient(90deg, #E4F2FF 0%, #749AD3 100%);

        .slide_12_img {
            position: absolute;
            left: 0;
            bottom: 35px;
            max-width: 690px;
            height: auto;
        }


        .slide_img_wrap {

            @include media ("<desktop") {
                bottom: -40%;
                right: 0;
            }
        }
    }

    .slide_13 {

        .title_wrap {
            max-width: 880px;
            margin: 0 auto;
        }

        .slide_title {

            &:nth-child(1) {
                @include adaptiv-vaule("margin-left", 120, 30, 1);
            }

            &:nth-child(2) {
                @include adaptiv-vaule("margin-left", 260, 60, 1);
            }

            &:nth-child(3) {
                @include adaptiv-vaule("margin-left", 180, 50, 1);
            }

            &:nth-child(4) {
                @include adaptiv-vaule("margin-left", 130, 30, 1);
            }
        }
    }

    .slide_14 {
        background: linear-gradient(90deg, #FBDB6B 0%, #F8EEE9 100%);

        .slide_14_img {
            position: absolute;
            right: 0;
            bottom: 0;
            max-height: 690px;
        }

        .slide_img_wrap {

            @include media ("<desktop") {
                bottom: -45%;
                left: 0;
            }
        }

        .slide_text {
            margin-top: 50px;
        }
    }

    .slide_15 {

        .title_wrap {
            max-width: 780px;
            margin: 0 auto;
        }

        .slide_title {

            &:nth-child(2) {
                @include adaptiv-vaule("margin-left", 360, 60, 1);
            }

            &:nth-child(3) {
                @include adaptiv-vaule("margin-left", 50, 50, 1);
            }

            &:nth-child(4) {
                @include adaptiv-vaule("margin-left", 130, 30, 1);
            }

            &:nth-child(5) {
                @include adaptiv-vaule("margin-left", 360, 60, 1);
            }

            &:nth-child(6) {
                @include adaptiv-vaule("margin-left", 180, 30, 1);
            }
        }
    }

    .slide_16 {
        background: linear-gradient(90deg, #E4F2FF 0%, #749AD3 100%);

        .slide_16_img {
            position: absolute;
            left: 0;
            bottom: 0;
            max-height: 1100px;
            height: 100%;
            max-width: 555px;
            width: 100%;
        }

        .slide_img_wrap {

            @include media ("<desktop") {
                bottom: -43%;
                right: 0;
            }
        }
    }

    .slide_17 {

        .title_wrap {
            max-width: 900px;
            margin: 0 auto;
        }

        .slide_title {

            &:nth-child(1) {
                text-align: end;
                max-width: 400px;
            }

            &:nth-child(2) {
                @include adaptiv-vaule("margin-left", 140, 50, 1);
            }

            &:nth-child(4) {
                @include adaptiv-vaule("margin-left", 130, 30, 1);
            }

            &:nth-child(5) {
                @include adaptiv-vaule("margin-left", 300, 60, 1);
            }

            &:nth-child(6) {
                @include adaptiv-vaule("margin-left", 180, 30, 1);
            }
        }
    }

    .slide_18 {
        background: linear-gradient(90deg, #FBDB6B 0%, #F8EEE9 100%);

        .slide_18_img {
            position: absolute;
            top: 0;
            right: 0;
        }

        .slide_img_wrap {

            @include media ("<desktop") {
                left: 0;
            }
        }

        .slide_text {
            margin-top: 50px;

            @include media ("<phone") {
                margin-top: 0;
            }
        }
    }

    .slide_19 {

        .title_wrap {
            max-width: 1150px;
            margin: 0 auto;
        }

        .slide_title {

            &:nth-child(1) {
                text-align: start;
                @include adaptiv-vaule("margin-left", 500, 0, 1);
            }

            &:nth-child(2) {
                @include adaptiv-vaule("margin-left", 160, 0, 1);
            }

            &:nth-child(4) {
                @include adaptiv-vaule("margin-left", 315, 0, 1);
            }

            &:nth-child(5) {
                @include adaptiv-vaule("margin-left", 160, 0, 1);
            }

            &:nth-child(6) {
                @include adaptiv-vaule("margin-left", 315, 0, 1);
            }

            &:nth-child(7) {
                @include adaptiv-vaule("margin-left", 160, 0, 1);
            }
        }
    }

    .slide_20 {
        background: linear-gradient(90deg, #E4F2FF 0%, #749AD3 100%);

        .slide_20_img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10%;
            max-width: 420px;
            max-height: 525px;

            @include media ("<desktop") {
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .slide_img_wrap {

            @include media ("<desktop") {
                right: 0;
            }
        }
    }

    .slide_21 {
        display: grid;
        place-items: center;
        height: 100vh;
        position: relative;

        @include media ("<desktop") {
            padding: 0;
        }

        .white_under {
            position: absolute;
            top: 49%;
            left: 53%;
            transform: translate(-50%, -50%);
            max-width: 785px;
            width: 100%;
            max-height: 350px;
            z-index: 1;
        }

        .slide_21_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .slide_text {
            max-width: 500px;
            margin: 0 auto;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

.main_history {
    background: radial-gradient(149.35% 94.22% at 50% 9.11%, #F8F2E8 0%, #D5C5AD 100%);
    width: 100%;
    height: 100dvh;
    padding: 220px 0 140px 0;
    overflow: hidden;
    position: relative;

    @include media('<desktop') {
        height: 100%;
        padding-top: 180px;
        padding-bottom: 20px;
    }

    .container {
        height: 100%;
    }

    .main_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: soft-light;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include media('<desktop') {
            flex-direction: column;
            gap: 20px;
        }
    }

    .container {
        max-width: 1270px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .main_title {
        color: #2F2619;
        font-family: "Gabriela";
        @include adaptiv-vaule("font-size", 102, 56, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -5.1px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        width: 100%;
        position: relative;
        z-index: 2;

        .title_elem {
            display: inline-block;

            &:nth-child(1) {
                @include adaptiv-vaule("margin-left", 90, 0, 1);
            }

            &:nth-child(3) {
                @include adaptiv-vaule("margin-left", 90, 0, 1);
            }
        }
    }

    .person {
        max-width: 500px;
        max-height: 900px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -10%;
        z-index: 1;

        @include media('<desktop') {
            position: static;
            max-height: 650px;
            transform: translateY(0);
        }
    }
}

.history_1 {
    margin-top: -60px;
    position: relative;
    z-index: 1;
    height: 1515px;
    @include adaptiv-vaule("height", 1515, 0, 1);

    @include media('>1530px') {
        margin-top: -100px;
    }

    @include media('<tablet') {
        height: 650px;
    }

    .main_bg {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .title {
        color: #2F2619;
        text-align: center;
        font-family: Gabriela;
        @include adaptiv-vaule("font-size", 52, 34, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        max-width: 980px;
        width: calc(100% - 30px);
        margin: 0 auto;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

        @include media('>1530px') {
            font-size: 72px;
            max-width: 1300px;
        }

        @include media('<tablet') {
            top: 6%;
        }
    }

    .text {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1210px;
        width: calc(100% - 30px);
        mix-blend-mode: darken;
    }
}

.history_2 {
    @include adaptiv-vaule("padding-top", 100, 50, 1);
    @include adaptiv-vaule("padding-bottom", 100, 50, 1);

    .container {
        max-width: 1270px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include adaptiv-vaule("gap", 120, 20, 1);

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .text_content {
        max-width: 640px;
        width: 100%;
    }

    .text_title {
        color: #2F2619;
        text-align: center;
        font-family: Gabriela;
        @include adaptiv-vaule(" font-size", 52, 32, 1);
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-weight: 400;
    }

    .text {
        color: #2F2619;
        text-align: justify;
        font-family: Gabriela;
        font-size: 20px;
        line-height: 130%;
        text-indent: 35px;
    }

    .text_1 {
        margin-bottom: 10px;
    }

    .history_2_img {
        max-width: 440px;
        width: 100%;
    }
}

.history_3 {
    @include adaptiv-vaule("height", 1005, 300, 1);
    position: relative;

    @include media('<tablet') {
        height: 930px;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
        max-width: 1240px;
        width: calc(100% - 30px);
        position: absolute;
        @include adaptiv-vaule(" top", 100, -50, 1);
        left: 50%;
        transform: translateX(-50%);

        @include media('<desktop') {
            flex-direction: column;
            top: 50px;
        }
    }

    .text_title {
        max-width: 505px;
        width: 100%;
        color: #2F2619;
        font-family: Gabriela;
        @include adaptiv-vaule(" font-size", 52, 32, 1);
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;

        @include media('<desktop') {
            max-width: 100%;
        }

        @include media('<tablet') {
            text-align: center;
        }
    }

    .text_wrap {
        max-width: 670px;

        width: 100%;

        @include media('<desktop') {
            max-width: 100%;
        }
    }

    .text {
        color: #2F2619;
        text-align: justify;
        font-family: Gabriela;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-indent: 30px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.history_4 {
    @include adaptiv-vaule("padding-top", 100, 50, 1);
    @include adaptiv-vaule("padding-bottom", 100, 50, 1);


    .container {
        max-width: 1270px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .history_4_img {
        max-width: 790px;
        width: 100%;
    }

    .text_content {
        max-width: 505px;
        width: 100%;

        @include media('<desktop') {
            max-width: 100%;
        }
    }

    .text {
        color: #2F2619;
        text-align: justify;
        font-family: Gabriela;
        font-size: 20px;
        line-height: 130%;
        text-indent: 30px;
    }

    .text_1 {
        margin-bottom: 5px;
    }

    .author {
        display: inline-block;
        text-align: end;
        color: #2F2619;
        text-align: right;
        font-family: Gabriela;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        margin-top: 40px;
    }
}

.history_5 {

    position: relative;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .container {
        max-width: 1270px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 15px;
        @include adaptiv-vaule("padding-top", 160, 60, 1);
        @include adaptiv-vaule("padding-bottom", 160, 60, 1);
    }

    .content {
        max-width: 585px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        color: #2F2619;
        font-family: Gabriela;
        @include adaptiv-vaule(" font-size", 52, 32, 1);
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 40px;

        @include media('<tablet') {
            text-align: center;
        }
    }

    .text {
        color: #2F2619;
        text-align: justify;
        font-family: Gabriela;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-indent: 30px;
    }

    .text_1 {
        margin-bottom: 5px;
    }
}

.history_6 {
    @include adaptiv-vaule("padding-top", 150, 60, 1);
    @include adaptiv-vaule("padding-bottom", 150, 60, 1);
    position: relative;
    z-index: 1;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        @include media('<1440px') {
            object-fit: cover;
        }
    }

    .container {
        max-width: 1270px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media('<tablet') {
            flex-direction: column;
        }
    }

    .text_wrapper {
        width: 50%;
        text-align: end;

        @include media('<tablet') {
            width: 100%;
        }
    }

    .text_content {
        width: 310px;
        margin: 0 auto;

        @include media('<phone'){
            width: 100%;
        }
    }

    .poem_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-bottom: 20px;
        text-align: start;
    }

    .poem {
        color: #2F2619;
        font-family: Gabriela;
        font-size: 20px;
        line-height: 130%;
    }

    .author {
        color: #2F2619;
        font-family: Gabriela;
        font-size: 16px;
        line-height: 130%;
        display: inline-block;
        text-align: end;
        max-width: 260px;
        width: 100%;
    }

    .history_6_img {
        max-width: 605px;
        width: 100%;
    }
}

.history_7 {
    background-color: #0A0805;
    @include adaptiv-vaule("padding-top", 220, 150, 1);
    @include adaptiv-vaule("padding-bottom", 65, 30, 1);
    margin-top: -100px;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media('<desktop') {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .text_content {
        max-width: 685px;
        width: 100%;
        @include adaptiv-vaule("padding-left", 100, 15, 1);

        @include media('<desktop') {
            max-width: 100%;
            padding: 0 15px;
        }
    }

    .title {
        color: #FFF;
        font-family: Gabriela;
        @include adaptiv-vaule(" font-size", 52, 32, 1);
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .text {
        color: #FFF;
        font-family: Gabriela;
        font-size: 20px;
        line-height: 130%;
        font-weight: 400;
        text-indent: 30px;
        margin-bottom: 10px;
    }

    .history_7_img {
        width: 49%;

        @include media('<desktop') {
            width: 100%;
            max-width: 650px;
        }
    }
}

.contact {
    @include adaptiv-vaule("padding-top", 305, 70, 1);
    @include adaptiv-vaule("padding-bottom", 305, 70, 1);
    position: relative;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .container {
        max-width: 1270px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiv-vaule("gap", 80, 30, 1);
        max-width: 585px;
        width: 100%;
        margin: 0 auto;
    }

    .title {
        color: #FFF;
        text-align: center;
        font-family: Gabriela;
        @include adaptiv-vaule("font-size", 22, 26, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .white_btn {
        border-radius: 12px;
        background: #FFFDF9;
        padding: 24px;
        max-width: 370px;
        width: 100%;
        color: #0C0C0C;
        text-align: center;
        font-family: Gabriela;
        @include adaptiv-vaule("font-size", 18, 26, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        display: inline-block;
    }
}