
.slick-list{
    overflow: hidden;
}

.slick-track{
    display: flex;
    align-items: flex-start;
}

.text{
    
    p{
        font-size: 23px;
        line-height: 178%;
        max-width: 730px;
        margin: 0 auto;

    }
}