
footer{
    background: #C8A35F;
    padding: 45px 0 40px 0;

    @include media("<tablet"){
        padding: 30px 0 25px 0;
    }

    @include media("<phone"){
        padding: 20px 0 20px 0;
    }


}

.content{
    display: flex;
    justify-content: space-between;

    @include media("<tablet"){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @include media("<phone"){
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.logo-img{

    @include media("<tablet"){
        margin-bottom: 10px;
    }

    @include media("<phone"){
        margin-bottom: 10px;
    }
}

.connect-links{
    display: flex;
    flex-direction: column;

    @include media("<tablet"){
        margin-bottom: 10px;
    }

    @include media("<phone"){
        margin-bottom: 10px;
    }
    
    span{
        color: #FFFFFF;

        @include media("<tablet"){
            margin-bottom: 10px;
        }

        @include media("<phone"){
            margin-bottom: 5px;
        }
    }

    a{
        color: #000;

        @include media("<tablet"){
            display: flex;
            justify-content: center;
        }
    }

}


.phons{
    display: flex;
    flex-direction: column;
    
    a{
        color: #FFFFFF;

        @include media("<tablet"){
            margin-bottom: 5px;
        }

        @include media("<phone"){
            margin-bottom: 5px;
        }
    }
}