<header id="header">
    <div class="cont">
        <div class="header-content">
            <div class="main-logo">
                <a href="#">
                    <img src="./images/header/logo.svg" alt="image not found">
                </a>
            </div>
            <div class="header-links">
                <div class="search link">
                    <a href="#">
                        <img src="./images/header/search.svg" alt="image not found">
                    </a>
                </div>
                <div class="basket link">
                    <a href="#">
                        <img src="./images/header/shopping-cart.svg" alt="image not found">
                    </a>
                </div>
                <div class="signup link">
                    <a href="#" class="open-popup">Sign Up</a>
                </div>
                <div class="signin link">
                    <a href="#" class="open-popup">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</header>