.footer_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include adaptiv-vaule("padding-top", 60, 20, 1);
    @include adaptiv-vaule("padding-bottom", 60, 20, 1);

    @include media ("<desktop") {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    

    .logo {
        width: 23%;
        margin-right: 20px;

        @include media ("<desktop") {
            width: 100%;
            margin-bottom: 25px;
        }
    }

    .logo_img {
        @include adaptiv-vaule("margin-bottom", 40, 20, 1);
    }

    .work {
        font-family: 'SF Pro Display';
        font-weight: 600;
        font-size: 16px;
        line-height: 14 / 16 * 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10px;
    }

    .data {
        width: 17%;

        @include media ("<desktop") {
            width: 100%;
            margin-bottom: 25px;
        }
    }

    .data_info {
        font-family: 'Inter';
        font-size: 16px;
        line-height: 25 / 16 * 100%;
        color: $gray;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .contact {
        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media ("<desktop") {
            width: 100%;
            align-items: center;
            margin-bottom: 25px;
        }

        .contact_data {
            font-family: 'Inter';
            font-size: 16px;
            line-height: 25 / 16 * 100%;
            color: $gray;
            transition: all .3s ease;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:hover{
                color: #FFFFFF;
            }
        }
    }

    .title {
        font-family: 'SF Pro Display';
        font-weight: 600;
        font-size: 16px;
        line-height: 14 / 16 * 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    .socials_links{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .link_img {
        fill: $red;
    }

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid $red;
        border-radius: 50%;
        transition: all .3s ease;

        &:not(:last-child) {
            margin-right: 20px;
        }

        @include media ("<phone") {
            width: 40px;
            height: 40px;
        }

        &:hover {
            box-shadow:
                0 0 .1rem #fff,
                0 0 .2rem #fff,
                0 0 .3rem $red,
                0 0 .8rem $red,
                0 0 1rem $red,
                inset 0 0 1rem $red;
            transform: scale(1.1)
        }
    }
}