<header id="header" class="transparent">
    <div class="cont">
        <div class="header_content">
            <a href="index.html" class="logo">Cash Trinity<span>.</span></a>
            <div class="menu_body">
                <nav class="nav">
                    <ul class="nav_menu">
                        <li class="menu_item"> <a class="link link-close" href="index.html#lending">Why private lending?</a></li>
                        <li class="menu_item"> <a class="link link-close" href="index.html#work">How it works</a></li>
                        <li class="menu_item"> <a class="link link-close" href="index.html#form_tab">Invest now</a></li>
                        <li class="menu_item"> <a class="link link-close" href="calculator.html#calc">Compound Interest calculator</a></li>
                    </ul>
                </nav>
                <div class="popup_body">
                    <div class="popup_btn">
                        <a href="#" id="open_popup" class="login">Log In</a>
                    </div>
                    <div class="popup" id="popup">
                        <div class="popup_cont">
                            <div class="popup_content" id="popup_body">
                                <div class="popup_img">
                                    <img src="./images/header/popup_img.svg" alt= "image not found" >
                                </div>
                                <h2 class="popup_title">Please complete the investment form, so we can verify your identity and the information you provided.</h2>
                                <p class="popup_text">And after that you will receive your secure Log-in from our team.</p>
                                <a href="index.html#form_tab" class="popup_btn_content link-close">INVEST NOW</a>
                                <div id="close_popup" class="close_popup">
                                    <img src="./images/header/close.svg" alt= "image not found" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="burger_menu">
                    <span></span>
                </div>
            </div>
        </div>
        
    </div>
   
</header>