body {
    background-color: $whiteFD;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.body_lock {
    overflow: hidden;
}

.global_btn {
    color: $black;
    @include adaptiv-vaule("font-size", 20, 16, 1);
    padding: 15px;
    transition: $all_03;
    display: inline-block;

    &:hover {
        background-color: #FFB444;
    }
}

.main_section {
    position: relative;
    height: calc(100vh - 133px);

    @include media ("<desktop") {
        height: calc(100vh - 63px);
    }

    .main_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        height: 100%;
    }

    .content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    .main_title {
        color: $white;
        text-align: center;
        @include adaptiv-vaule("font-size", 60, 40, 1);
        font-weight: 400;
        line-height: 135%;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .social_links {
        position: absolute;
        right: 0;
        bottom: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;

        @include media ("<tablet") {
            position: static;
            flex-direction: row;
        }
    }

    .link {

        &:hover {
            svg {
                backdrop-filter: blur(2px);

                path {
                    transition: $all_03;
                    fill: $orange;
                    opacity: 1;
                }
            }
        }

        svg {
            path {
                transition: $all_03;
                fill: #828282;
                opacity: 0.6;

                @include media ("<tablet") {
                    opacity: 0.8;
                }
            }
        }
    }

    .scrolldown {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);

        svg {
            opacity: 0.6;
        }
    }

    .scroll_title {
        color: $whiteFC;
        font-size: 20px;
        margin-bottom: 15px;
        opacity: 0.6;
    }
}

.logo_section {
    @include adaptiv-vaule("padding-top", 50, 20, 1);
    @include adaptiv-vaule("padding-bottom", 50, 20, 1);

    .swiper-wrapper {
        align-items: center;
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;

    }

    .swiper-slide {
        svg {
            fill: #E3E3E3;
            transition: $all_03;

            &:hover {
                fill: $orange;
                transition: $all_03;
            }
        }
    }
}

.foryou_section {
    @include adaptiv-vaule("padding-top", 85, 60, 1);
    @include adaptiv-vaule("padding-bottom", 120, 45, 1);

    .content {
        text-align: center;
    }

    .foryou_title {
        color: $black;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 400;
        @include adaptiv-vaule("font-size", 40, 30, 1);
    }

    .orange_word {
        color: $orange;
    }

    .foryou_descr {
        max-width: 735px;
        margin: 0 auto;
        @include adaptiv-vaule("margin-bottom", 75, 40, 1);
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
    }

    .card_wrap {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        gap: 20px;

        @include media ("<desktop") {
            grid-template: 1fr / 1fr;
        }
    }

    .card {
        background-color: $gray_2;
        padding: 30px 0;
        @include adaptiv-vaule("padding-right", 30, 10, 1);
        @include adaptiv-vaule("padding-left", 30, 10, 1);
        display: flex;
        height: 100%;
        flex-direction: column;
        transition: $all_03;

        @include media (">desktop") {
            &:hover {
                background-color: $orange_2;
                transition: $all_03;

                .card_btn {
                    background-color: $orange;
                }
            }
        }

        @include media ("<desktop") {
            max-width: 350px;
            width: 100%;
            margin: 0 auto;
        }

        @include media ("<phone") {
            padding: 30px;
        }
    }

    .orangeHover {
        background-color: $orange_2;
        transition: $all_03;

        .card_btn {
            background-color: $orange;
        }
    }

    .card_title_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-bottom: 20px;
        height: 72px;

        @include media ("<desktop") {
            justify-content: flex-start;
        }
    }

    .title_img {
        min-width: 35px;
        min-height: 35px;
    }

    .card_title {
        text-align: start;
        text-transform: uppercase;
        color: $black;
        @include adaptiv-vaule("font-size", 30, 24, 1);
        font-weight: 400;
    }

    .card_text {
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        margin-bottom: 20px;
        text-align: start;
        flex: 1 1 auto;
    }

    .card_btn {
        background-color: #C2C2C2;
    }
}

.any_section {
    @include adaptiv-vaule("margin-top", 60, 45, 1);
    @include adaptiv-vaule("margin-bottom", 70, 40, 1);
    position: relative;
    height: 450px;

    @include media ("<desktop") {
        margin-bottom: 0;
    }

    .any_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include media ("<phone") {
            display: none;
        }
    }

    .any_bg_phone {
        display: none;

        @include media ("<phone") {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        height: 100%;
    }

    .content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    .any_img {
        margin-bottom: 30px;
    }

    .any_title {
        color: $white;
        @include adaptiv-vaule("font-size", 40, 30, 1);
        line-height: 136%;
        text-transform: uppercase;
        max-width: 780px;
        margin: 0 auto;
        text-align: center;
        font-weight: 400;
    }
}

.about_me_section {
    @include adaptiv-vaule("padding-top", 70, 40, 1);
    @include adaptiv-vaule("padding-bottom", 70, 45, 1);

    @include media ("<desktop") {
        background-color: $gray_2;

    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;

        @include media ("<desktop") {
            flex-direction: column
        }
    }

    .about_text {
        @include adaptiv-vaule("width", 645, 600, 1);
        @include adaptiv-vaule("padding-top", 90, -90, 1);
        @include adaptiv-vaule("padding-bottom", 90, -90, 1);
        @include adaptiv-vaule("padding-right", 90, -90, 1);
        @include adaptiv-vaule("padding-left", 90, -90, 1);
        background-color: $gray_2;
        position: relative;
        z-index: 1;

        @include media ("<desktop") {
            max-width: 580px;
            width: 100%;
            padding: 5px;
            margin-bottom: 35px;
        }
    }

    .title_wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include adaptiv-vaule("margin-bottom", 65, 20, 1);
    }

    .title_img {
        margin-right: 25px;
    }

    .title {
        @include adaptiv-vaule("font-size", 40, 30, 1);
        color: $black;
        text-transform: uppercase;
        font-weight: 400;
    }

    .descr {
        @include adaptiv-vaule("font-size", 20, 16, 1);
        color: $black;
        @include adaptiv-vaule("margin-bottom", 50, 35, 1);
    }

    .about_btn {
        background-color: $orange;
        min-width: 275px;
        text-align: center;

        &:hover {
            background-color: #FFB444;
        }
    }

    .about_img {
        width: 40%;
        filter: grayscale(100%);
        position: relative;
        @include adaptiv-vaule("left", -115, 145, 1);
        width: 580px;
        height: 690px;
        transition: $all_03;

        @include media ("<desktop") {
            position: static;
            max-width: 580px;
            width: 100%;
            height: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -25px;
            right: - 20px;
            width: 100%;
            height: 100%;
            border: 1px solid $black;
            z-index: -1;

            @include media ("<desktop") {
                display: none;
            }
        }

        &:hover {
            transition: $all_03;
            filter: grayscale(0);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.landscapres_section {
    @include adaptiv-vaule("padding-top", 80, 50, 1);
    @include adaptiv-vaule("padding-bottom", 70, 50, 1);
    overflow: hidden;

    .landscapres_title {
        color: $orange;
        text-transform: uppercase;
        @include adaptiv-vaule("font-size", 60, 40, 1);
        margin-bottom: 30px;
        font-weight: 400;
    }

    .landscapes_text {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .landscapes_descr {
        width: 65%;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        color: $black;
        margin-right: 25px;

        @include media ("<desktop") {
            margin-bottom: 30px;
            width: 100%;
        }
    }

    .landscapes_btn {
        background-color: #E3E3E3;
        min-width: 290px;
        text-align: center;

        @include media ("<phone") {
            min-width: 100%;
        }

        &:hover {
            background-color: $orange;
        }
    }

    .landscapes_swiper {
        @include adaptiv-vaule("padding-bottom", 70, 40, 1);
    }

    .swiper-slide {
        max-width: max-content;
    }

    .card_img {
        margin-bottom: 20px;

        @include media ("<phone") {
            height: 235px;
        }

        img {
            height: 100%;
        }
    }

    .card_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .title {
        margin-right: 15px;
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
    }

    .number {
        color: #A9A9A9;
        @include adaptiv-vaule("font-size", 20, 16, 1);
    }

    .swiper-horizontal>.swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        width: 35%;
        margin-bottom: 10px;

        @include media ("<desktop") {
            width: 100%;
            margin: 0;
        }
    }

    .btn_wrap {
        position: absolute;
        bottom: 20px;
        right: 0;
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<desktop") {
            display: none;
        }
    }

    .swiper-button-prev {
        &::after {
            content: url(../images/next.svg);
            transform: rotateY(180deg);
        }
    }

    .swiper-button-next {
        &::after {
            content: url(../images/next.svg);
        }
    }
}


.contact {
    @include adaptiv-vaule("margin-top", 70, 50, 1);
    position: relative;
    padding: 70px 0 85px 0;

    @include media ("<phone") {
        margin-top: 0;
    }

    .container {

        @include media ("<desktop") {
            padding: 0;
        }
    }

    .contact_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include media ("<desktop") {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .title_wrap {
        margin-top: 40px;
        width: 25%;

        @include media ("<desktop") {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
            width: 100%;
            margin: 0 0 50px 0;
            padding: 0 15px;
            @include adaptiv-vaule("padding-top", 150, 50, 1);
            @include adaptiv-vaule("padding-bottom", 150, 50, 1);
            position: relative;
        }
    }

    .title_bg_phone {
        display: none;

        @include media ("<desktop") {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    .contact_title {
        color: $white;
        @include adaptiv-vaule("font-size", 60, 40, 1);
        margin-bottom: 10px;
        font-weight: 400;
        text-transform: uppercase;

        @include media ("<desktop") {
            margin: 0;
        }
    }

    form {
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: $white;
        @include adaptiv-vaule("padding-top", 50, 0, 1);
        @include adaptiv-vaule("padding-bottom", 45, 0, 1);
        @include adaptiv-vaule("padding-right", 35, 0, 1);
        @include adaptiv-vaule("padding-left", 65, 0, 1);

        @include media ("<desktop") {
            flex-direction: column;
            width: 100%;
            padding: 0 15px;
        }
    }

    .wrap_inputs {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        width: 45%;
        height: 100%;

        @include media ("<desktop") {
            width: 100%;
        }
    }

    .data_text,
    .area_text {
        width: 100%;
        background-color: #F0F0F0;
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        padding: 15px;
        margin-bottom: 30px;
        border: none;
        transition: $all_03;

        &:focus {
            transition: $all_03;
            border: 1px solid $orange;
        }
    }

    .form_btn_phone {
        background-color: $orange;
        width: 100%;
        border: none;
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        padding: 15px;
        transition: $all_03;
        display: none;

        @include media ("<desktop") {
            display: block;
            margin-bottom: 30px;
        }
    }

    .form_btn_desk {
        background-color: $orange;
        width: 100%;
        border: none;
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        padding: 15px;
        transition: $all_03;
        display: inline-block;

        @include media ("<desktop") {
            display: none;
        }
    }

    .area_text {
        height: 130px;
    }

    .contact_info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .info_link {
        display: flex;
        align-items: center;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        color: #828282;
        letter-spacing: -0.2px;
        line-height: 130%;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        img {
            margin-right: 15px;
        }
    }

    .hover-link {
        transition: $all_03;

        &:hover {
            transition: $all_03;
            color: $orange;
        }
    }
}

.landscapes_page {


    .filter_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        gap: 15px;
    }

    .filter_item {
        cursor: pointer;
    }

    .gallery_wrap {
        column-count: 3;

        @include media ("<tablet") {
            column-count: 2;
        }

        @include media ("<phone") {
            column-count: 1;
        }
    }

    .gallery_item {
        display: inline-block;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .gallery_img {
        width: 100%;
        height: 100%;
    }
}

.about_me_page {

    .title {
        margin-bottom: 12px;
    }

    .tip {
        color: $orange;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-weight: 400;
        display: inline-block;
        @include adaptiv-vaule("margin-bottom", 50, 25, 1);
    }

    .about_img {
        filter: grayscale(0);

        @include media ("<desktop") {
            margin-bottom: 25px;
        }
    }

    .info_block {
        @include adaptiv-vaule("margin-bottom", 70, 35, 1);
        display: flex;
        align-items: center;

        @include media ("<desktop") {
            margin-bottom: 0;
        }
    }

    .info_text {
        position: relative;
        padding-left: 20px;
        width: 45%;
        color: $black;
        @include adaptiv-vaule("font-size", 20, 14, 1);
        font-weight: 400;

        &::before {
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $orange;
        }
    }

    .visible {
        display: block;

        @include media ("<desktop") {
            display: none;
        }
    }

    .hidden {
        display: none;
        max-width: 580px;
        width: 100%;

        @include media ("<desktop") {
            display: block;
            padding: 20px;
        }
    }
}

.started {
    @include adaptiv-vaule("padding-top", 50, 30, 1);
    @include adaptiv-vaule("padding-bottom", 80, 50, 1);
    position: relative;

    .started_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiv-vaule("margin-bottom", 60, 30, 1);
    }

    .how {
        color: $orange;
        text-align: center;
        font-family: 'Waterfall';
        @include adaptiv-vaule("font-size", 147, 120, 1);
        font-weight: 400;
    }

    .started_title {
        color: $white;
        @include adaptiv-vaule("font-size", 40, 20, 1);
        font-weight: 400;
        text-transform: uppercase;
    }

    .started_text {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        gap: 30px;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .text {
        width: 38%;
        color: #FFF;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-weight: 400;
        text-align: start;

        @include media ("<desktop") {
            width: 100%;
        }
    }
}

.hobby {
    @include adaptiv-vaule("padding-top", 130, 10, 1);
    @include adaptiv-vaule("padding-bottom", 130, 65, 1);
    height: 100%;

    .content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        height: 100%;

        @include media ("<desktop") {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    .hobby_main_img {
        width: 41%;
        height: 664px;
        position: relative;

        @include media ("<desktop") {
            width: 70%;
            height: 425px;
        }

        @include media ("<tablet") {
            width: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hobby_text_wrap {
        width: 58%;
        min-height: 100%;
        display: flex;
        flex-direction: column;

        @include media ("<desktop") {
            width: 100%;
        }
    }

    .text_wrap {
        max-width: 595px;
        width: 100%;
        margin: 0 auto;
        flex: 1 1 auto;
    }

    .hobby_title {
        color: $orange;
        font-family: 'Waterfall';
        @include adaptiv-vaule("font-size", 147, 120, 1);
        font-weight: 400;
    }

    .hobby_text {
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-weight: 400;
        margin-bottom: 37px;

        @include media ("<desktop") {
            margin: 0;
        }
    }

    .text_image {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<desktop") {
            display: none;
        }
    }

    .hobby_subimg {
        width: 49%;
        height: 235px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.expirience {
    @include adaptiv-vaule("padding-top", 130, 65, 1);

    .expirience_title {
        text-align: center;
        color: $black;
        @include adaptiv-vaule("font-size", 40, 30, 1);
        font-weight: 400;
        @include adaptiv-vaule("margin-bottom", 80, 70, 1);
    }

    .work_list {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include media ("<620px") {
            gap: 50px;
        }
    }

    .work_wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 60px;
        position: relative;

        @include media ("<tablet") {
            gap: 30px;
        }
    }

    .work_image {
        max-width: 420px;
        width: 100%;
        height: 213px;

        @include media ("<desktop") {
            display: none;
        }
    }

    .work_text {
        max-width: 510px;
        width: 100%;

        @include media ("<desktop") {
            max-width: 80%;
        }

        @include media ("<620px") {
            max-width: 100%;
        }
    }

    .progress {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media ("<desktop") {
            min-width: 135px;
        }

        @include media ("<620px") {
            min-width: max-content;
        }
    }

    .progress_title {
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-weight: 700;
        margin-bottom: 7px;
        text-transform: uppercase;
        text-align: center;
    }

    .progress_title_hidden {
        display: none;
        position: absolute;
        top: -30px;
        left: 0;
        margin: 0;

        @include media ("<620px") {
            display: block;
        }
    }

    .progress_title_visible {
        display: block;

        @include media ("<620px") {
            display: none;
        }
    }

    .progress_line {
        width: 2px;
        height: 280px;
        background-color: $gray_2;
    }

    .work_text {
        padding: 20px 30px;
        background-color: $gray_2;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 15px;
            left: -20px;
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-right: 20px solid $gray_2;
            border-bottom: 15px solid transparent;
        }
    }

    .orange_text {
        color: $orange;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .text_title {
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-weight: 700;
        margin-bottom: 10px;
    }

    .text_tip {
        color: #828282;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        margin-bottom: 10px;
        display: inline-block;
    }

    .description {
        color: $black;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        font-weight: 400;
    }

    .revert {
        flex-direction: row-reverse;

        @include media ("<desktop") {
            flex-direction: row;
        }

        .work_image {
            max-width: 510px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media ("<desktop") {
                display: none;
            }

            img {
                max-width: 420px;
            }
        }

        .work_text {
            max-width: 420px;

            @include media ("<desktop") {
                max-width: 80%;
            }

            @include media ("<620px") {
                max-width: 100%;
            }

            &::before {
                display: none;

                @include media ("<desktop") {
                    display: block;
                }
            }

            &::after {
                position: absolute;
                content: '';
                top: 15px;
                right: -20px;
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-left: 20px solid $gray_2;
                border-bottom: 15px solid transparent;

                @include media ("<desktop") {
                    display: none;
                }
            }
        }

        .progress_title_hidden {
            display: none;
            position: absolute;
            top: -30px;
            left: 0;
            margin: 0;

            @include media ("<620px") {
                display: block;
            }
        }

        .progress_title_visible {
            display: block;

            @include media ("<620px") {
                display: none;
            }
        }
    }
}