<header id="header">
    <div class="container">
        <div class="header_content">
            <a href="index.html" class="logo">Svjatoslav Skabarin</a>
            <nav class="nav">
                <ul class="nav_menu">
                    <li class="menu_item"> <a href="index.html">Main</a></li>
                    <li class="menu_item"> <a href="#">About me</a></li>
                    <li class="menu_item"> <a href="#">Landscapes</a></li>
                </ul>
                <a href="#" class="contact_btn">Contact</a>
                <div class="social_links">
                    <a href="#" class="link">
                        <img src="./images/social/instagram.svg" alt= "image not found" >
                    </a>
                    <a href="#" class="link">
                        <img src="./images/social/facebook.svg" alt= "image not found" >
                    </a>
                    <a href="#" class="link">
                        <img src="./images/social/twitter.svg" alt= "image not found" >
                    </a>
                </div>
                <div class="lang_btn">
                    <p>EU</p>
                    <img src="./images/arrow_down.svg" alt="image not found">
                </div>
            </nav>
            <div class="header_burger">
                <span></span>
            </div>
        </div>
    </div>
</header>