<footer id="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-logo">
                <img src="./images/Portgrouplogofooter.png" alt="image not found">
            </div>
            <div class="navigation">
                <h3>Location</h3>
                <address href="#">Adress</address>
            </div>
            <div class="contacts">
                <h3>Contact</h3>
                <a href="mail@agensy.com">mail@agensy.com</a>
                <a href="tel:+1 234 567 78 90">+1 234 567 78 90</a>
            </div>
        </div>
        <div class="footer-bot">
            <a href="#">Privacy Policy  | Coockies Policy</a>
            <a href="#">All rights reserved Prot Group</a>
            <a href="#">website by Krock DS</a>
        </div>
    </div>
</footer>