body {
    font-family: 'Lato', sans-serif;
}



.cont{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.main-section{
    background: #D44B4B;
    @include adaptiv-vaule("padding-top", 80, 15, 1);

    .main-content{
        display: flex;

        @include media ("<1247px"){
            flex-direction: column;
            align-items: center;
        }

        .text{
            max-width: 45%;
            color:#fff;
            padding-right: 20px;
            padding-bottom: 40px;

            @include media ("<1247px"){
                max-width: 100%;
                text-align: center;
                padding: 0;
                margin-bottom: 50px
            }

            p{
                @include adaptiv-vaule("font-size", 16, 14, 1);
            }

            h1{
                line-height: 114%;
                font-weight: 700;
                margin-bottom: 50px;

                @include media ("<1247px"){
                    @include adaptiv-vaule("line-height", 70, 30, 1);
                }

                span{
                    border: 1px solid #FFF;
                    border-radius:20px;
                    box-sizing: border-box;
                    padding: 0 10px 5px 10px;
                    
                }
            }

            .btn{
                color: #475658;
                @include adaptiv-vaule("font-size", 23, 18, 1);
                border: 1px solid #FFF;
                padding: 20px 45px;
                background: #FFFFFF;
                box-shadow: 2px 2px 4px #A1303C;
                border-radius: 10px;

                &:hover{
                    padding: 20px 65px;
                    background: #A1303C;
                    border: 1px solid #A1303C;
                    transition: all 0.4s ease;
                    color:#FFF;
                    transition-timing-function: cubic-bezier(0.75, -1, 0.21, -1);
                }

                @include media ("<1247px"){
                    border-radius: 20px;
                }

                @include media ("<tablet"){
                    width: 100%;
                }
            }
        }
    }
}

.cards{
    @include adaptiv-vaule("padding-top", 120, 50, 1);
    @include adaptiv-vaule("padding-bottom", 120 , 5, 1);



    .cards-content{
        display: flex;
        justify-content: space-between;

        @include media ("<desktop"){
            align-items: center;
            flex-direction:column;
        }

        .item{
            border: 1px solid#E0E0E0;
            border-radius: 5px 50px 50px 50px;
            position: relative;
            color: #475658;
            max-width: 380px;
            min-height: 380px;
            padding:  0 15px ;

            @include media ("<desktop"){
                margin-bottom: 40px;
            }

            h2{
                position: absolute;
                top: -40px;
                color:#03073C;
                font-weight: bold;
                font-size: 60px;
            }

            p{
                border: 1px solid#E0E0E0;
                border-radius:50px;
                font-size: 14px;
                padding: 15px 30px;
                margin: 40px;
            }

            .img-item{
                display: flex;
                justify-content: center;

            }
        }
    }
}

.risk{
    @include adaptiv-vaule("padding-top", 120, 15, 1);
    @include adaptiv-vaule("padding-bottom", 120 , 5, 1);

    .cont{
        max-width: 1040px;
    }

    .title{

        h2{
            color: #03073C;
            max-width: 680px;
            margin: 0 auto;
            text-align: center;
            line-height: 133%;
            @include adaptiv-vaule("font-size", 45, 18, 1);

            span{
                border: 1px solid #D44B4B;
                box-sizing: border-box;
                border-radius: 20px;
                padding: 0 10px 5px 10px;
                
            }
        }
    }

    .card{
        display: flex;
        border: 1px solid #F2F2F2;
        box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
        border-radius: 20px;
        margin-top: 70px;

        @include media ("<tablet"){
            flex-direction: column;
            align-items: center;
        } 

        .img-item{
            width: 30%;
            background: #D44B4B;
            margin-right: 70px;
            border-radius: 20px 0 0 20px;

            @include media ("<tablet"){
                @include adaptiv-vaule("height", 150, 80, 1);
                width: 100%;
                margin-right: 0;
                border-radius: 20px 20px 0 0;
            } 

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .text{
            color: #475658;
            max-width: 510px;
            padding: 10px;

            h6{
                @include adaptiv-vaule("margin-top", 70, 25, 1);
                @include adaptiv-vaule("margin-bottom", 70 ,15, 1);
                font-size: 16px;

                span{
                    color: #D44B4B;
                }
            }

            h3{
                color: #03073C;
                @include adaptiv-vaule("margin-bottom", 50 ,30, 1);
                @include adaptiv-vaule("font-size", 35, 18, 1);
            }

            a{
                background: #D44B4B;
                color:#FFFFFF;
                @include adaptiv-vaule("font-size", 23, 18, 1);
                box-shadow: 2px 2px 5px #F0F0F0;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                padding:20px 0;
                @include adaptiv-vaule("margin-bottom", 85 ,30, 1);  

                &:hover{
                    transition: all 0.5s ease;
                    background: #d42020;
        
                }
            }

            ol{
                margin: 0;
                padding: 0 0 0 15px;
                max-width: 350px;

                li{
                    line-height: 162%;
                    margin-bottom: 10px;
                    padding-left: 5px;
                    @include adaptiv-vaule("font-size", 16, 12, 1);
                }
            }

            p{
                max-width: 350px;
                @include adaptiv-vaule("font-size", 16, 12, 1);
                line-height: 162%;
            }
        }
    }
}

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0; 
    pointer-events: none;
    transition: 0.5s all;

}

.popup-bg.active{
    opacity: 1;
    pointer-events: all; 
    transition: 1s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) ;
    background: #fff;
    width: 300px;
    padding: 25px;
    border-radius: 5px;

    button{
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 18px;
        border: 2px solid #D44B4B;
        background: #D44B4B;
        cursor: pointer;
        text-transform: uppercase;
        transition: 0.5s all;

        &:hover {
            background: #fff;
            color:#D44B4B;
            transition: 0.5s all;
        }
    }

    input{
        height: 40px;
        font-size: 18px;
        border: none;
        outline: none;
        border-bottom: 1px solid #cfd0d3;

        &:focus{
            color: #121761;
            border-bottom: 1px solid #121761;
        }

        &:focus +.label__text{
            color: #121761;
        }
    }

    label{
        width: 100%;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column-reverse;
    }

    .label__text {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #cfd0d3;
        margin-bottom: 5px;
    }
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &::after{
        content: '\00D7';
        color: #d42020;
    }
}


/* --------------------------Page 2---------------------- */


.main-question{
    @include adaptiv-vaule("padding-top", 80, 40, 1);
    @include adaptiv-vaule("padding-bottom", 130, 50, 1);

    @include media ("<tablet"){
        padding-top: 15px;
    }

    .title{
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;

        @include media ("<tablet"){
            display: none;
        }

        h1{
            line-height: 133%;
            color: #03073C;

            span{
                color: #d42020;
            }
        }
    }

    .survey{
        max-width: 1040px;
        margin: 0 auto;
        border: 1px solid #F2F2F2;
        box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
        border-radius: 20px;
        padding: 20px 70px 50px 70px;

        @include media ("<desktop"){
            max-width: 100%;
        }
        @include media ("<tablet"){
            padding: 0;
            border: none;
        }

        p{
            font-size: 16px;
            color: #BDBDBD;
            border-bottom: 1px solid#F2F2F2;
            padding-bottom: 30px;
            margin-bottom: 75px;
        }

        form{

            .hidden-text{
                display: flex;
                position: relative;

                h3{
                    color: #121761;
                    margin-bottom: 70px; 
                }

                .img-item{
                    position: absolute;
                    top: -15px;
                    right: 120px;

                    svg{
                        circle,path{
                            stroke:#A8D0FB;
                        }

                        &:hover{
                            circle,path{
                            stroke:#D44B4B;
                            }
                        }
                    }
                }
            }

            .box{
                display: flex;

                @include media ("<desktop"){
                    flex-direction: column;
                }
                
                .box-1{
                    padding-right: 30px;
                    width: 100%;

                    @include media ("<desktop"){
                        padding-right: 0;
                    }

                    &:last-child{
                        padding-right: 0;
                    }


                    .custom-radio {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;

                        &:checked+label{

                            &::before{
                                border-color: #121761;
                                background-color: #121761;
                            }
                        }

                        &:disabled+label{

                            &::before{
                                background-color: #e9ecef;
                                border-color: #e9ecef;
                            }
                        }
                    }
                      
                    .custom-radio+label {
                        display: inline-flex;
                        align-items: center;
                        user-select: none;

                        &:not(:disabled),:not(:checked)+label{

                            &:hover{
                                &::before {
                                border-color: #A8D0FB;
                                }
                            }
                        }

                        &:not(:disabled):active+label{

                            &::before {
                                background-color: #121761;
                                border-color: #121761;
                            }
                        }

                        &:focus+label{
                            
                            &::before {
                                background-color: #121761;

                                &:not(:checked){
                                    border-color: #80bdff;
                                }
                            }
                        }

                        &::before{
                            content: '';
                            display: inline-block;
                            width: 22px;
                            height: 22px;
                            flex-shrink: 0;
                            flex-grow: 0;
                            border: 1px solid #121761;
                            border-radius: 50%;
                            margin-right: 15px;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 50% 50%;
                            z-index: 1;
                        } 

                    }
                }

                .label{
                    @include adaptiv-vaule("margin-bottom", 60 , 20, 1);
                    flex: 50%;
                    border: 1px solid#F2F2F2;
                    border-radius: 10px;
                    width:100%;
                    @include adaptiv-vaule("padding", 25 , 10, 1);

                    &:focus+input{
                        border: 1px solid #A8D0FB;
                    }

                    
                    label{
                        @include adaptiv-vaule("font-size", 18, 14, 1);
                        color: #333333;
                        cursor: pointer;
    
                    }

                    input{
                        margin-right: 15px;
                        cursor: pointer;
                    }
                }
            }

            .button{
                display: flex;
                justify-content: flex-end;

                button{
                    padding: 20px 100px;
                    background: #D44B4B;
                    border-radius: 10px;
                    border: 1px solid #D44B4B;
                    color:#fff;

                    &:hover{
                        color: #D44B4B;
                        background: #FFF;
                    }
                }
            }
        }
    }
}


