footer{
    font-family: 'Lato', sans-serif;
    background: #475658;
    @include adaptiv-vaule("padding-top", 60, 15, 1);
    @include adaptiv-vaule("padding-bottom", 60, 15, 1);
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media ("<550px"){
        display: flex;
        flex-direction: column;  
    }
    
    .logo{
         
        @include media ("<tablet"){
           display: none;
        }
    }

    .contact{

        @include media ("<550px"){
            width: 100%;
            text-align: center;
            @include adaptiv-vaule("margin-bottom", 30 , 15, 1);
            border-bottom: 1px solid#fff;
            padding-bottom: 15px;
        }

        .addres{
            @include media ("<550px"){
                order: 3;
            }
        }

        .tel{

            @include media ("<550px"){
                order: 1;
            }
        }
        
        address,a{
            color: #fff;
            font-size: 14px;
        }

        address{
            margin-bottom: 20px;

            &::before{
                content: url(../images/footer/location.svg);
                vertical-align: middle;
                margin-right: 15px;
                max-width: 30px;
            }
        }

        a{
            &::before{
                content: url(../images/header/phone.svg);
                vertical-align: middle;
                margin-right: 15px;
            }
        }
        
    }

    .time{

        @include media ("<550px"){
            order: 2;
            text-align: center;
        }

        h6{
            color: #fff;
            font-size: 16px;

            &::before{
                content: url(../images/footer/clock.svg);
                vertical-align: middle;
                margin-right: 15px;
            }
        }

        p{
            color: #fff;
            padding-left: 40px;
            margin-bottom: 15px;

            &:last-child{
                margin-bottom: 0;
            }

            @include media ("<550px"){
                padding-left: 0;
            }
        }
    }
}