@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFProDisplay-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFProDisplay-Semibold.ttf");
    font-style: normal;
    font-weight: 600;
}


