.case_template_main {
    @include adaptiv-vaule("padding-top", 155, 25, 1);
    @include adaptiv-vaule("padding-bottom", 55, 25, 1);

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .case_text {
        width: 50%;

        @include media ("<desktop") {
            width: 100%;
        }
    }

    .case_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 64, 40, 1);
        @include adaptiv-vaule("margin-bottom", 40, 25, 1);
        color: #222222;
    }

    .tip_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: max-content;
        @include adaptiv-vaule("margin-bottom", 40, 25, 1);

        @include media ("<tablet") {
            margin: 0 auto;
            margin-bottom: 10px;
            width: 100%;
        }
    }

    .tip {
        border-radius: 50px;
        width: 136px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        font-weight: 300;
        font-size: 14px;

        @include media ("<tablet") {
            margin-bottom: 15px;
            width: 105px;
        }

        &:nth-child(1) {
            background: transparent;
            transform: rotate(-3.45deg);
            color: $orange;
            border: 1px solid $orange;
        }

        &:nth-child(2) {
            background: $white;
            transform: rotate(3deg);
            border: 1px solid $gray;
        }

        &:nth-child(3) {
            background: $black;
            transform: rotate(-3.45deg);
            color: $white;
        }
    }

    .case_descr {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        line-height: 130%;
        color: #000000;
        margin-bottom: 30px;
    }

    .btn_wrap {
        border-radius: 100% 57% 35% 19% / 60% 53% 54% 100%;
        border: 1px solid $black;
        width: 240px;
        height: 70px;
        position: relative;

        @include media ("<tablet") {
            display: none;
        }

        &:hover {
            .app_btn {
                top: -1px;
                right: -1px;
                transition: all .3s ease;
            }
        }
    }

    .app_btn {
        transition: all .3s ease;
        border-radius: 100% 57% 35% 19% / 60% 53% 54% 100%;
        background-color: $orange;
        border: none;
        position: absolute;
        top: -7px;
        right: 7px;
        font-weight: 700;
        font-size: 20px;
        width: 240px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
    }

    .case_img {
        width: 45%;
        margin-right: -15px;
        position: relative;

        .bg {
            position: absolute;
            width: 80%;
            top: -15%;
            right: 0;
            z-index: -1;
        }
    }
}

.about_app {
    @include adaptiv-vaule("padding-top", 155, 25, 1);
    @include adaptiv-vaule("padding-bottom", 55, 25, 1);

    .about_app_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 32, 24, 1);
        color: $black;
        margin-bottom: 25px;
    }

    .about_app_descr {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        line-height: 130%;
        color: #000000;
        @include adaptiv-vaule("margin-bottom", 90, 20, 1);
    }

    .about_app_img {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.result_section {
    @include adaptiv-vaule("padding-top", 55, 25, 1);
    @include adaptiv-vaule("padding-bottom", 55, 25, 1);

    .block_wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 85px;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .block {
        width: 45%;

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .block_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 32, 24, 1);
        color: $black;
        margin-bottom: 25px;
    }

    .block_descr {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        line-height: 130%;
        color: #000000;
    }

    .result_block {
        background-color: $orange;
        border-radius: 30px;
        @include adaptiv-vaule("padding-top", 40, 35, 1);
        @include adaptiv-vaule("padding-bottom", 40, 35, 1);
        @include adaptiv-vaule("padding-right", 70, 25, 1);
        @include adaptiv-vaule("padding-left", 70, 25, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .wow {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .result_descr {
        width: 60%;
        position: relative;
        z-index: 2;

        @include media ("<desktop") {
            width: 100%;
            margin-bottom: 35px;
        }
    }

    .result_block_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 32, 24, 1);
        color: $white;
        margin-bottom: 15px;
    }

    .result_block_descr {
        @include adaptiv-vaule("font-size", 20, 16, 1);
        line-height: 130%;
        color: $white;
    }

    .result_numbers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        width: 35%;
        position: relative;
        z-index: 2;

        @include media ("<desktop") {
            width: 100%;
        }
    }

    .item_number {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 45%;

        @include media ("<desktop") {
            width: 22%;
            align-items: flex-start;
        }

        @include media ("<tablet") {
            width: 45%;
        }
    }

    .number {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 55, 40, 1);
        color: $white;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
    }

    .number_border {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 55, 40, 1);
        color: transparent;
        -webkit-text-stroke: 1px #000;
        position: absolute;
        z-index: -1;
        top: 3px;
        left: 8px;
    }

    .number_text {
        font-weight: 700;
        font-size: 24px;
        color: $white;
    }
}

.app_process {
    @include adaptiv-vaule("padding-top", 55, 25, 1);
    @include adaptiv-vaule("padding-bottom", 55, 25, 1);

    .app_process_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 32, 24, 1);
        color: $black;
        margin-bottom: 45px;
    }

    .process_img {
        margin-bottom: 90px;
    }

    .process_descr {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        line-height: 130%;
        text-align: center;
        color: $black;
        margin-bottom: 35px;
    }

    .btn_wrap {
        margin: 0 auto;
    }
}


.app_image {
    @include adaptiv-vaule("padding-top", 55, 25, 1);
    @include adaptiv-vaule("padding-bottom", 55, 25, 1);
    background-color: $black;
    text-align: center;

    .app_img {
        width: 100%;
        margin-bottom: 50px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .before_after {
        max-width: 860px;
        width: 100%;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.instruments {
    @include adaptiv-vaule("padding-top", 55, 25, 1);
    @include adaptiv-vaule("padding-bottom", 55, 25, 1);

    .instruments_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 32, 24, 1);
        color: $black;
        @include adaptiv-vaule("margin-bottom", 50, 30, 1);
    }

    .content {
        @include media ("<phone") {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
        }
    }

    .item_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        @include media ("<phone") {
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-bottom: 40px;

            @include media ("<phone") {
                margin: 0;
            }
        }
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiv-vaule("width", 190, 160, 1);
        @include adaptiv-vaule("height", 110, 100, 1);
        background: #F3F3F3;
        border-radius: 15px;
    }
}

.app_text {
    @include adaptiv-vaule("padding-top", 55, 25, 1);
    @include adaptiv-vaule("padding-bottom", 55, 25, 1);
    background-color: $orange;
    overflow: hidden;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .text {
        width: 40%;

        @include media ("<desktop") {
            width: 100%;
        }
    }

    .app_text_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 32, 24, 1);
        color: $white;
        margin-bottom: 20px;
    }

    .app_text_descr {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        line-height: 130%;
        color: $white;
    }

    .img {
        width: 50%;
        position: relative;
        @include adaptiv-vaule("bottom", -55, -25, 1);

        @include media ("<desktop") {
            max-width: 520px;
            width: 100%;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.app_list {
    @include adaptiv-vaule("padding-top", 55, 25, 1);
    @include adaptiv-vaule("padding-bottom", 55, 25, 1);

    .app_list_title {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 32, 24, 1);
        color: $black;
        @include adaptiv-vaule("margin-bottom", 55, 50, 1);
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @include adaptiv-vaule("column-gap", 70, 0, 1);
        row-gap: 30px;
    }

    .item {
        width: 45%;
        padding-left: 55px;
        position: relative;

        @include media ("<tablet") {
            width: 100%;
        }

        &::before {
            content: url(../images/case_template/check.svg);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .item_title {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 24, 18, 1);
        color: #000000;
        margin-bottom: 10px;
    }

    .item_descr {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        line-height: 130%;
        color: #000000;
    }
}



.more_project {
    @include adaptiv-vaule("padding-top", 55, 25, 1);
    @include adaptiv-vaule("padding-bottom", 55, 25, 1);

    .more_project_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 32, 24, 1);
        color: $black;
        margin-bottom: 40px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .tab_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 335px;
        width: 100%;
    }

    .item_img {
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 25px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .item_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: start;
    }

    .item_title {
        font-weight: 700;
        font-size: 24px;
        color: $black;
    }

    .date {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 14, 1);
        color: $black;
    }

    .item_btn_wrap {
        border-radius: 81% 93% 67% 100% / 61% 0% 71% 2%;
        border: 1px solid $black;
        width: 42px;
        height: 42px;
        position: relative;

        &:hover {
            .item_btn {
                top: 0;
                right: 0;
                transition: all .3s ease;
            }
        }
    }

    .item_btn {
        border-radius: 81% 93% 67% 100% / 61% 0% 71% 2%;
        background-color: $orange;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -5px;
        right: 5px;
        transition: all .3s ease;
        padding: 9px;
    }
}

.gallery {
    @include adaptiv-vaule("padding-top", 55, 25, 1);
    @include adaptiv-vaule("padding-bottom", 55, 25, 1);
    background-color: #F3F3F3;

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 35px;
    }

    .gallery_img {
        max-width: 300px;
        width: 100%;
        height: 180px;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}