footer {
    @include adaptiv-vaule("padding-top", 70, 40, 1);

    .footer_content {
        background: #F3F3F3;
        border-radius: 35px 35px 0px 0px;
        @include adaptiv-vaule("padding-top", 90, 00, 1);
        @include adaptiv-vaule("padding-bottom", 90, 30, 1);

        @include media ("<tablet") {
            padding-top: 0;
        }
    }

    .footer_top {
        position: relative;
        z-index: 1;
        padding-bottom: 45px;

        @include media ("<phone") {
            padding-bottom: 25px;
        }
    }

    .form_wrap {
        background-color: $orange;
        border-radius: 15px;
        padding: 80px 100px;
        @include adaptiv-vaule("padding-top", 80, 40, 1);
        @include adaptiv-vaule("padding-bottom", 80, 40, 1);
        @include adaptiv-vaule("padding-right", 100, 15, 1);
        @include adaptiv-vaule("padding-left", 100, 15, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        max-width: 1055px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 45px;

        @include media ("<tablet") {
            flex-direction: column;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            height: 40px;
            background: rgba(0, 0, 0, 0.5);
            filter: blur(25.7104px);
            border-radius: 1.89167px;
        }
    }

    .footer_title {
        font-weight: 400;
        @include adaptiv-vaule("font-size", 22, 27, 1);
        color: $white;
        margin-right: 20px;

        @include media ("<tablet") {
            margin: 0 0 50px 0;
            font-weight: 300;
        }
    }

    form {
        width: 57%;

        @include media ("<tablet") {
            width: 100%;
        }

    }

    .input_wrap {
        background-color: $white;
        border-radius: 18px;
        padding: 8px 8px 8px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
            background-color: transparent;
            border-radius: 0;
            padding: 0;
        }
    }

    .footer_input {
        border: none;
        width: 90%;
        padding-right: 15px;

        @include media ("<tablet") {
            background-color: $white;
            border-radius: 18px;
            padding: 20px 15px;
            margin-bottom: 55px;
        }

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            color: rgba(43, 61, 81, 0.5);
        }
    }

    .footer_btn {
        border: none;
        background-color: $orange;
        color: $white;
        border-radius: 12px;
        font-weight: 600;
        font-size: 16px;
        padding: 18px;
        width: 170px;
        transition: all .3s ease;

        @include media ("<tablet") {
            background-color: $white;
            color: $orange;
        }

        &:hover {
            background-color: #BA4422;
            transition: all .3s ease;
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
            justify-content: center;
        }
    }

    .nav_menu {
        display: flex;
        align-items: center;

        @include media ("<tablet") {
            margin-bottom: 35px;
        }

        @include media ("<phone_max") {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            gap: 35px;
        }
    }

    .menu_item {
        &:not(:last-child) {
            margin-right: 35px;

            @include media ("<phone_max") {
                margin: 0;
            }
        }

        &:last-child {
            @include media ("<phone_max") {
                margin: 0;
            }
        }

        @include media ("<phone_max") {
            margin: 0 0 35px 0;
            width: 25%;
        }
    }

    .menu_link {
        font-weight: 400;
        font-size: 16px;
        color: $black;

        @include media ("<phone") {
            color: #7A7A7A;
        }
    }

    .social_links {
        display: flex;
        align-items: center;

        @include media ("<phone") {
            width: 100%;
            justify-content: space-evenly;
        }
    }

    .link {

        @include media ("<phone") {
            width: 31px;
            height: 32px;
        }

        &:not(:first-child) {
            margin-left: 20px;
        }

        svg {
            fill: #8F8F8F;
            transition: all .3s ease;
            width: 100%;
            height: 100%;

            &:hover {
                fill: $orange;
                transition: all .3s ease;
            }
        }
    }

    .footer_bottom {
        padding-top: 45px;
        border-top: 1px solid rgba(45, 30, 30, 0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<phone_max") {
            flex-direction: column-reverse;
            padding-top: 25px;
        }
    }

    .copyright {
        font-weight: 400;
        font-size: 13px;
        text-decoration-line: underline;
        color: rgba(34, 34, 34, 0.75);

        @include media ("<phone") {
            font-size: 16px;
            text-align: center;
        }
    }

    .docs {
        display: flex;
        align-items: center;

        @include media ("<phone_max") {
            margin-bottom: 35px;
        }

        @include media ("<phone") {
            color: #7A7A7A;
        }
    }

    .docs_link {
        font-weight: 400;
        font-size: 13px;
        color: $black;

        @include media ("<phone") {
            font-size: 16px;
            color: #7A7A7A;
        }

        &:first-child {
            margin-right: 20px;
        }
    }
}