<header id="header">
    <img class="ibg" src="./images/header/header_max.png" alt= "image not found" >
    <div class="container">
        <div class="header_content">
            <a href="home_page.html" class="logo">
                <img src="./images/header/logo.svg" alt="image not found">
            </a>
            <nav class="nav">
                <div class="burger_line_top">
                    <img src="./images/header/burger_line_top.svg" alt= "image not found" >
                </div>
                <div class="burger_line_bottom">
                    <img src="./images/header/burger_line_bottom.svg" alt= "image not found" >
                </div>
                <ul class="nav-menu">
                    <li class="menu-item"> <a class="menu_link" href="home_page.html">Homepage</a></li>
                    <div class="dropdown">
                        <a class="menu_link menu-item dropbtn" href="#">About Us <img class="dropdown_arrow" src="./images/header/arrow.svg" alt= "image not found" ></a>
                        <div class="dropdown-content">
                            <a class="menu_link" href="max_tvorogov.html">Our chef</a>
                            <a class="menu_link" href="ivan_priemkin.html">our Mixologist</a>
                        </div>
                      </div>
                    <li class="menu-item"> <a class="menu_link" href="menu.html">Menu</a></li>
                    <li class="menu-item"> <a class="menu_link" href="faq_page.html">How it works</a></li>
                    <li class="menu-item"> <a class="menu_link" href="contact_us_page.html">Contact</a></li>
                </ul>
                <a class="login_btn" href="#">Login</a>
            </nav>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
    </div>
</header>