<header id="header">
    <img class="ibg" src="./images/header/header_bg.png" alt= "image not found" >
    <div class="container">
        <div class="header_content">
            <a href="index.html" class="logo">
                <img src="./images/header/logo.svg" alt="image not found">
            </a>
            <nav class="nav">
                <ul class="nav-menu">
                    <li class="menu-item"> <a class="menu_link" href="index.html">Homepage</a></li>
                    <li class="menu-item"> <a class="menu_link" href="menu.html">Menu</a></li>
                    <li class="menu-item"> <a class="menu_link" href="index.html">Our chef</a></li>
                    <li class="menu-item"> <a class="menu_link" href="ivan_priemkin.html">our Mixologist</a></li>
                    <li class="menu-item"> <a class="menu_link" href="tel:3058506056">
                            <img class="link_img" src="./images/header/phone.svg" alt="image not found">
                            (305) 850-6056</a></li>
                </ul>
            </nav>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
    </div>
</header>