<header id="header">
    <div class="container">
        <div class="content">
            <div class="main-header">
                <div class="logo-header">
                    <a href="index.html"> <img src="./images/xbox-header.png" alt="sorry"></a>
                </div>
                <div class="more-header">
                    <div class="links-header">
                        <a href="games.html">Games</a>
                        <a href="#">Consoles</a>
                        <a class="link-close" href="#">Community</a>
                    </div>
                    <form class="search" action="" method="get">
                        <input name="s" placeholder="Search" type="text">
                    </form>
                    <div class="account-bottom">
                        <a href="#"> <img src="./images/user.svg" alt=""> My XBOX</a>
                    </div>
                </div>
                <div class="header-burger">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>