<header id="header">
    <div class="cont">
        <div class="header-content">
            <div class="menu">
                <div class="logo">
                    <a href="#" class="logo-btn">
                        <img src="./images/header/main-logo.svg" alt="image not found">
                        <p>Artificial Intelligence</p>
                    </a>

                </div>
                <nav class="nav">
                    <ul class="nav-menu">
                        <li class="nav-menu-item"><a href="#">Home</a></li>
                        <li class="nav-menu-item"><a href="#">About</a></li>
                        <li class="nav-menu-item"><a href="#">Services</a></li>
                        <li class="nav-menu-item"><a href="#">Blog</a></li>
                        <li class="nav-menu-item"><a href="#">Contact</a></li>
                    </ul>
                    <a href="#" class="btn">Sign In</a>
                </nav>
            </div>
            <div class="header-burger">
                <span></span>
            </div>
        </div>
    </div>
</header>