<section class="consultation">
    <div class="cont">
        <div class="consultation-content">
            <form action="#" id="send" method="get" class="form">
                <input type="text" name="Name" placeholder="Name">
                <input type="email" name="mail" placeholder="Email">
                <input type="text" name="Business name" placeholder="Business name">
                <div class="multiselect">
                    <div class="selectBox" onclick="showCheckboxes()">
                        <select>
                            <option>Question ?</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                        <label for="one">
                            <input class="custom-checkbox" type="checkbox" id="one" />Number 1</label>
                        <label for="two">
                            <input type="checkbox" id="two" />Number 2</label>
                        <label for="three">
                            <input type="checkbox" id="three" />Number 3</label>
                    </div>
                </div>
                <textarea name="text" placeholder="Message"></textarea>
            </form>
            <div class="consultation-text"><span class="component-title">Contact form for consultation
                </span>
                <h2 class="consultation-title">Lorem ipsum dolor sit amet,
                    consectetur</h2>
                <p class="consultation-description">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam,
                    quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br>Lorem ipsum
                    dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam,
                    quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
        <div class="btn-wrap"><button type="submit" form="send" class="yellow-btn">Call to action</button>
        </div>
    </div>
</section>