// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	margin: 0 0 0.5em;
	color: $headings-color;
}

h1, .h1 {
	@include adaptiv-vaule("font-size", 68 , 34, 1);
}

h2, .h2 {
	@include adaptiv-vaule("font-size", 40, 24, 1);
	font-weight: 800;
}

h3, .h3 {
	@include adaptiv-vaule("font-size", 32, 18, 1);
}

h4, .h4 {
	@include adaptiv-vaule("font-size", 16, 14, 1);
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 1em;
}

a {
	color: $base-link-color;
	text-decoration: none;
	transition: color .3s ease;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}