html {
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 10px;

        @include media ("<tablet") {
            width: 5px;
        }
    }

    ::-webkit-scrollbar-track {
        background-color: $white;
    }

    ::-webkit-scrollbar-thumb {
        background: $green;
        border-radius: 5px;
    }

}

body {
    background: #FFFFFF;
}

#wrapper {
    overflow: hidden;
}

.body_lock {
    overflow: hidden;
}

/* ------------------- Main_section ---------------- */

.main_section {
    padding-bottom: 50px;
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4FBF7;

    @include media ("<tablet") {
        height: 100vh;
    }

    @include media ("<phone_max") {
        padding-top: 50px;
    }

    .big-circle {
        @include adaptiv-vaule("width", 400, 300, 1);
        @include adaptiv-vaule("height", 400, 300, 1);
        @include adaptiv-vaule("top", 200, -200, 1);
        left: -250px;
        max-width: 400px;
        max-height: 400px;
        animation: rotate 10s linear infinite;

        svg {
            width: 100%;
            height: 100%;
        }

        .small-circle {
            width: 25px;
            height: 25px;
            top: 50%;
            transform: translateY(-50%);
            right: -15px;
            animation: scale 5s linear infinite;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(-75deg);
        }

        25% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(75deg);
        }

        75% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-75deg);
        }
    }

    .middle-circle {
        width: 60px;
        height: 60px;
        @include adaptiv-vaule("top", 100, 350, 1);
        right: -30px;
        animation: scale 5s linear infinite;

    }

    .cont {
        @include adaptiv-vaule("padding-left", 130, 10, 1);
        position: relative;
        z-index: 1;

        @include media ("<tablet") {
            padding: 0 30px;
        }
    }

    .main_content {
        text-align: start;
        padding-top: 100px;

    }

    .main_title {
        @include adaptiv-vaule("margin-bottom", 30, 25, 1);
    }

    .description {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .text {
        max-width: 410px;
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 25 / 14 * 100%;
        margin-right: 10px;
        color: $gray_1;

        @include media ("<tablet") {
            margin: 0 0 70px 0;
        }
    }
}

/* ------------------- Video ---------------- */

.video {
    height: 700px;
    width: 100%;
    position: relative;

    @include media ("<desktop") {
        height: 500px;
    }

    @include media ("<tablet") {
        height: 375px;
    }
}

/* ------------------- Category ---------------- */

.category {
    background: $black;
    @include adaptiv-vaule("padding-top", 120, 70, 1);
    @include adaptiv-vaule("padding-bottom", 120, 70, 1);
    position: relative;
    overflow: hidden;

    .line_circle {
        @include adaptiv-vaule("top", -50, -25, 1);
        @include adaptiv-vaule("left", -50, -25, 1);
        animation: scale 5s linear infinite;
        @include adaptiv-vaule("width", 220, 60, 1);
        @include adaptiv-vaule("height", 220, 60, 1);
        border: 1px solid #405E4A;
    }

    .dash_circle {
        position: absolute;
        @include adaptiv-vaule("width", 220, 60, 1);
        @include adaptiv-vaule("height", 220, 60, 1);
        @include adaptiv-vaule("top", -85, -25, 1);
        @include adaptiv-vaule("left", 120, 25, 1);
        animation: rotate_dashed 5s linear infinite;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .cont {
        max-width: 1350px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;

        @include media ("<phone") {
            padding: 0 30px;
        }
    }

    .category_content {
        text-align: center;
        position: relative;
        z-index: 3;
    }

    .category_title {
        margin-bottom: 50px;
        color: $white;
    }

    .category_cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 25px;
        column-gap: 25px;
        flex-wrap: wrap;
        text-align: center;

        @include media ("<widescreen") {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 15px;
        }

        @include media ("<tablet") {
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
        }

        @include media ("<phone") {
            grid-template-columns: 1fr;
        }
    }

    .card {
        min-height: 200px;
        border: 1px solid #474750;
        backdrop-filter: blur(2px);
        background: rgba(34, 36, 38, 0.31);
        padding: 40px 10px;
        position: relative;
        transition: all 0.3s ease;
        overflow: hidden;

        &:hover {
            transform: translateY(-10px);
        }
    }

    .card_link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .img_card {
        margin-bottom: 10px;
        transition: all 0.3s ease;
    }

    .card_text {
        transition: all 0.3s ease;
        color: $white;
        line-height: 28 / 22 * 100%;
        @include adaptiv-vaule("font-size", 22, 20, 1);
    }
}

/* ------------------- About_us ---------------- */

.about_us {
    @include adaptiv-vaule("padding-top", 140, 80, 1);
    @include adaptiv-vaule("padding-bottom", 70, 35, 1);
    text-align: center;
    position: relative;
    overflow: hidden;

    .big-circle {
        top: -200px;
        right: -200px;
        animation: about_rotate 5s linear infinite;

        .small-circle {
            left: 34px;
            @include adaptiv-vaule("top", 315, 245, 1);
        }
    }

    .middle-circle {

        left: -30px;
        top: 150px;
        animation: scale 4s linear infinite;
    }

    .big-circle,
    .small-circle,
    .middle-circle {

        @include media ("<tablet") {
            display: none;
        }
    }

    @keyframes about_rotate {
        0% {
            transform: rotate(37deg);
        }

        25% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(-46deg);
        }

        75% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(37deg);
        }
    }

    .about_us_title {
        margin-bottom: 25px;
    }

    .about_us_description {
        line-height: 30 / 18 * 100%;
        color: $gray_1;
        max-width: 800px;
        margin: 0 auto;
        @include adaptiv-vaule("margin-bottom", 50, 40, 1);
        @include adaptiv-vaule("font-size", 18, 15, 1);

        @include media ("<phone") {
            max-width: 100%;
        }
    }

    .about_us_img {
        width: 100%;
        @include adaptiv-vaule("height", 390, 180, 1);
        position: relative;
        border-radius: 6px;
        overflow: hidden;
    }
}

/* ------------------- Experts ---------------- */

.experts {
    @include adaptiv-vaule("padding-top", 70, 35, 1);
    @include adaptiv-vaule("padding-bottom", 140, 70, 1);
    text-align: center;


    .experts_title {
        max-width: 850px;
        margin: 0 auto;
        @include adaptiv-vaule("margin-bottom", 60, 40, 1);
    }

    .services {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;

        @include media ("<desktop") {
            flex-wrap: wrap;
        }

        @include media ("<phone") {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

        @include media ("<desktop") {
            width: 40%;
            margin-bottom: 20px
        }

        @include media ("<phone") {
            width: 100%;
            margin-bottom: 30px
        }
    }

    .img_card {
        @include adaptiv-vaule("width", 80, 64, 1);
        @include adaptiv-vaule("height", 80, 64, 1);
        @include adaptiv-vaule("margin-bottom", 40, 20, 1);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }

    .card_text {
        @include adaptiv-vaule("font-size", 16, 14, 1);
        line-height: 24 / 16 * 100%;
        font-weight: 600;
        max-width: 200px;
    }

    .dot_line {
        position: relative;
        top: 40px;
        width: 10%;
        height: 1px;
        display: block;

        img {
            width: 100%;
            height: 100%;
        }

        @include media ("<phone") {
            width: 17%;
            margin-bottom: 30px;
            top: 0;
            transform: rotate(90deg);
        }

        &:nth-child(4) {
            @include media ("<desktop") {
                display: none;
            }

            @include media ("<phone") {
                display: block;
            }
        }

        &::after,
        &::before {
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 2px solid #D3D3D3;
        }

        &::before {
            top: -5.5px;
            left: -15px;
        }

        &::after {
            bottom: -5.5px;
            right: -15px;
        }
    }
}

/* ------------------- Partners ---------------- */

.partners {
    @include adaptiv-vaule("padding-top", 120, 70, 1);
    @include adaptiv-vaule("padding-bottom", 120, 70, 1);
    background: $black;
    overflow: hidden;
    position: relative;

    .blur_circle_blue {
        top: 3%;
        right: -25%;
    }

    .blur_circle_green {
        bottom: -35%;
        left: -22%;
    }

    .big-circle {
        @include adaptiv-vaule("top", -250, -200, 1);
        @include adaptiv-vaule("left", -250, -200, 1);
        @include adaptiv-vaule("height", 400, 300, 1);
        animation: partners_rotate 5s linear infinite;
        border: 1px solid $blue;

        .small-circle {
            border: 1px solid $blue;
            right: 34px;
            @include adaptiv-vaule("top", 315, 245, 1);

        }
    }

    @keyframes partners_rotate {
        0% {
            transform: rotate(32deg);
        }

        25% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(-22deg);
        }

        75% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(32deg);
        }
    }

    .dashed_circle {
        position: absolute;
        width: 360px;
        height: 360px;
        animation: rotate_dashed 6s linear infinite;
        bottom: -30%;
        right: 15%;

        @include media ("<phone_max") {
            display: none;
        }
    }

    .partners_content {
        position: relative;
        text-align: center;
        z-index: 2;
    }

    .partners_title {
        @include adaptiv-vaule("margin-bottom", 50, 35, 1);
        color: $white;
    }

    .partners_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @include adaptiv-vaule("gap", 20, 1, 1);

        @include media ("<999px") {
            justify-content: center;
            gap: 20px;
        }
    }

    .item {
        width: 49%;
        background: rgba(34, 36, 38, 0.31);
        border: 1px solid #474750;
        backdrop-filter: blur(2px);
        display: flex;
        align-items: center;
        @include adaptiv-vaule("padding-top", 15, 10, 1);
        @include adaptiv-vaule("padding-bottom", 15, 10, 1);
        @include adaptiv-vaule("padding-right", 15, 10, 1);
        @include adaptiv-vaule("padding-left", 15, 10, 1);

        @include media ("<999px") {
            width: 80%;
        }

        @include media ("<phone_max") {
            width: 100%;
        }
    }

    .img_item {
        width: 60px;
        height: 60px;
        @include adaptiv-vaule("width", 60, 30, 1);
        @include adaptiv-vaule("height", 60, 30, 1);
        background: $black;
        border-radius: 50%;
        overflow: hidden;
        @include adaptiv-vaule("margin-right", 20, 10, 1);
        display: flex;
        align-items: center;
        justify-content: center;

        @include media ("<phone") {
            width: 40px;
            min-width: 40px;
            height: 40px;
        }

        img {
            width: 28px;
            height: 28px;
            @include adaptiv-vaule("width", 28, 15, 1);
            @include adaptiv-vaule("height", 28, 15, 1);
        }
    }

    .description {
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
        text-align: start;
        font-size: 20px;

        @include media ("<widescreen") {
            font-size: 18px;
        }

        @include media ("<tablet") {
            font-size: 16px;
        }
    }
}

/* ------------------- Trust_partners ---------------- */

.trust_partners {
    @include adaptiv-vaule("padding-top", 120, 70, 1);
    @include adaptiv-vaule("padding-bottom", 120, 70, 1);
    text-align: center;

    .trust_partners_title {
        @include adaptiv-vaule("margin-bottom", 50, 45, 1);
    }

    .trust_partners_logo_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;

        @include media ("<tablet") {
            justify-content: space-between;
        }

    }

    .logo {
        width: 23%;
        max-height: 130px;

        @include media ("<desktop") {
            width: 30%;
        }

        @include media ("<tablet") {
            width: 45%;
        }
    }
}

/* ------------------- Client ---------------- */

.client {
    @include adaptiv-vaule("padding-top", 190, 120, 1);
    @include adaptiv-vaule("padding-bottom", 190, 120, 1);
    @include adaptiv-vaule("height", 700, 565, 1);
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: $white;

    .small-circle,
    .middle-circle,
    .big-circle {
        border-color: #E3E3E4;
    }

    .big-circle {
        @include adaptiv-vaule("bottom", -170, -140, 1);
        left: -100px;
        @include adaptiv-vaule("width", 440, 230, 1);
        @include adaptiv-vaule("height", 440, 230, 1);
        animation: client_rotate 8s linear infinite;

        .small-circle {
            position: absolute;
            width: 25px;
            height: 25px;
            @include adaptiv-vaule("top", 0, -12, 1);
            @include adaptiv-vaule("right", 135, 100, 1);
        }
    }

    @keyframes client_rotate {
        0% {
            transform: rotate(-47deg);
        }

        25% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(74deg);
        }

        75% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-47deg);
        }
    }

    .middle-circle {
        @include adaptiv-vaule("width", 220, 110, 1);
        @include adaptiv-vaule("height", 220, 110, 1);
        @include adaptiv-vaule("top", -110, -55, 1);
        @include adaptiv-vaule("right", 180, 55, 1);
        animation: scale 5s linear infinite;
    }

    .dashed_circle {
        position: absolute;
        animation: rotate_dashed 5s linear infinite;
        @include adaptiv-vaule("width", 220, 110, 1);
        @include adaptiv-vaule("height", 220, 110, 1);
        @include adaptiv-vaule("top", -110, -55, 1);
        @include adaptiv-vaule("right", 35, -35, 1);

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .client_bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
    }

    .cont {
        max-width: 850px;
        margin: 0 auto;
    }

    .client_content {
        position: relative;
        z-index: 2;
    }

    .client_title {
        margin-bottom: 20px;
        color: $white;
    }

    .client_description {
        max-width: 600px;
        font-size: 18px;
        line-height: 30 / 18 * 100%;
        margin: 0 auto;
        @include adaptiv-vaule("margin-bottom", 30, 25, 1);

        @include media ("<tablet") {
            font-size: 16px;
        }
    }
}

/* ------------------- Contact ---------------- */

.contact {
    @include adaptiv-vaule("padding-top", 115, 70, 1);
    @include adaptiv-vaule("padding-bottom", 130, 70, 1);

    .cont {
        @include media ("<tablet") {
            padding: 0 10px;
        }
    }

    .contact_content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .contact_links {
        width: 46%;

        @include media ("<desktop") {
            width: 80%;
            margin-bottom: 20px;
        }

        @include media ("<phone_max") {
            width: 100%;
        }
    }

    .contact_links_title {
        @include adaptiv-vaule("font-size", 48, 30, 1);
        @include adaptiv-vaule("margin-bottom", 70, 20, 1);
    }

    .link_text {
        display: flex;
        align-items: center;
        @include adaptiv-vaule("font-size", 18, 15, 1);
        color: $gray_1;
        max-width: min-content;
        white-space: nowrap;

        @include media ("<phone") {
            white-space: normal;
            max-width: 100%;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        .link_img {
            @include adaptiv-vaule("margin-right", 20, 10, 1);
            @include adaptiv-vaule("width", 50, 30, 1);
            @include adaptiv-vaule("height", 50, 30, 1);
            border-radius: 50%;
            overflow: hidden;
            background: $green;
            transition: all .3s ease;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media ("<phone") {
                min-width: 30px;
            }

            img {
                width: 13px;
                height: 15px;

                @include media ("<tablet") {
                    width: 8px;
                    height: 10px;
                }
            }
        }

        &:hover {

            .link_img {
                background: $blue;
                transform: scale(1.1)
            }
        }
    }

    .form {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: start;
        background: #FFFFFF;
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.08);
        @include adaptiv-vaule("padding-top", 40, 30, 1);
        padding-bottom: 30px;
        @include adaptiv-vaule("padding-right", 40, 20, 1);
        @include adaptiv-vaule("padding-left", 40, 20, 1);

        @include media ("<desktop") {
            width: 80%;
        }

        @include media ("<phone_max") {
            width: 100%;
        }
    }

    .form_title {
        @include adaptiv-vaule("font-size", 28, 24, 1);
        margin: 0 auto;
        @include adaptiv-vaule("margin-bottom", 35, 20, 1);
    }

    label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    input,
    textarea {
        background: #FFFFFF;
        border: 1px solid #DDE1E0;
        border-radius: 12px;
        padding: 8px;

        &:focus {
            border: 1px solid $blue;
        }
    }

    input {
        height: 50px;
        margin-bottom: 20px;
        width: 100%;
    }

    textarea {
        margin-bottom: 30px;
        height: 80px;
    }

    .areas {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        @include media ("<tablet") {
            gap: 0;
        }
    }

    .name,
    .subname {
        width: 47%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media ("<tablet") {
            width: 100%;
        }
    }

    button {
        border: none;
        background: $blue;
        border-radius: 90px;
        font-size: 14px;
        font-weight: 600;
        padding: 20px;
        color: $white;
        transition: all .3s ease;

        &:hover {
            background: $green;
        }
    }
}

/* ------------------- Our_production ---------------- */

.our_production {
    padding-top: 120px;
    position: relative;

    .cont {
        @include media ("<tablet") {
            padding: 0 10px;
        }
    }


    .tabs {
        display: flex;
        align-items: flex-start;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .tabs__nav_title_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<tablet") {
            padding: 0 30px;
            margin-bottom: 15px;
        }
    }

    .tabs__nav_title {
        font-weight: 600;
        font-size: 24px;
        color: $blue;
        margin-bottom: 25px;

        @include media ("<tablet") {
            margin-bottom: 0;
        }
    }

    .tabs__nav {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        flex-direction: column;
        padding-top: 50px;
        @include adaptiv-vaule("padding-bottom", 30, 10, 1);
        @include adaptiv-vaule("padding-left", 30, 10, 1);
        border-top: 1px solid #EDEDED;
        width: 24%;
        min-width: 200px;
        height: 100%;
        background: $white;
        position: relative;

        @include media ("<desktop") {
            border-top: none;
            border-right: none;
            padding-left: 0;
        }

        @include media ("<tablet") {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            padding: 20px 30px;
            transition: all .3s ease;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: scale(0);
            padding-left: 0;
            padding-right: 0;
        }
    }

    .tabs__nav_active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: scale(1);
        z-index: 6;
    }

    .category_btn {
        display: none;

        @include media ("<tablet") {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 90%;
            left: 50%;
            transform: translateX(-50%);
            min-width: 300px;
            height: 40px;
            background: $blue;
            border-radius: 62px;
            text-align: center;
            color: $white;
            padding: 10px;
            z-index: 7;
            transition: all .3s ease;

            img {
                margin-right: 5px;
            }
        }
    }

    .category_btn_active {
        display: none;
    }

    .btn-close {
        display: none;

        @include media ("<tablet") {
            width: 40px;
            min-width: 40px;
            border-radius: 50%;
            border: none;
            height: 40px;
            background: $green;
            display: flex;
            align-items: center;
            justify-content: center;


            &::after,
            &::before {
                content: '';
                position: absolute;
                width: 16px;
                height: 2px;
                border-radius: 2px;
                background: $white;
            }

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);

            }

            span {
                font-size: 0;
            }

            img {
                display: none;
            }
        }
    }

    .tabs_menu {
        border-top: 1px solid #EDEDED;
        padding-top: 30px;

        @include media ("<tablet") {
            width: 100%;
            overflow: auto;
            padding-top: 30px;
        }
    }

    .tabs__btn {
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        @include adaptiv-vaule("padding-top", 7, 5, 1);
        @include adaptiv-vaule("padding-bottom", 7, 5, 1);
        @include adaptiv-vaule("padding-right", 30, 1, 1);
        transition: all .3s ease;
        position: relative;

        &:not(:last-child) {
            @include adaptiv-vaule("margin-bottom", 30, 15, 1);
        }

        @include media ("<tablet") {
            padding: 0 30px;
        }

        &::after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            background: $green;
            opacity: 0;
            transition: all 1s ease;
            z-index: 2;

            @include media ("<tablet") {
                right: 99.5%;
            }
        }

        svg {
            @include adaptiv-vaule("margin-right", 20, 10, 1);
            min-width: 24px;

            path {
                transition: all .3s ease;
                fill: #D3D3D3;
            }
        }
    }

    .tab_text {
        font-weight: 600;
        font-size: 14px;
        color: rgba(18, 17, 17, 0.8);
    }

    .tabs__btn_active {
        position: relative;

        &::after {
            opacity: 1;
        }

        svg {

            path {
                transition: all .3s ease;
                fill: $green;
            }
        }

        .tab_text {
            color: $black;
        }
    }

    .tabs__btn:not(.tabs__btn_active):hover,
    .tabs__btn:not(.tabs__btn_active):focus {
        transform: scale(1.05);

        svg {

            path {
                transition: all .3s ease;
                fill: $green;
            }
        }
    }

    .tabs__content {
        padding-top: 55px;
        @include adaptiv-vaule("padding-left", 45, 0, 1);
        @include adaptiv-vaule("padding-right", 20, 0, 1);
        padding-bottom: 30px;
        border-top: 1px solid #EDEDED;
        border-left: 1px solid #EDEDED;
        width: 75%;
        position: relative;
        background: #F4FBF7;

        &::after {
            position: absolute;
            content: '';
            top: -1px;
            right: -100%;
            height: 100.4%;
            width: 100%;
            background: #F4FBF7;
            border-top: 1px solid #EDEDED;
        }

        @include media ("<tablet_max") {
            width: 100%;
        }

        @include media ("<tablet") {
            padding-left: 0;
            padding-right: 0;
            padding-top: 20px;

            &::before {
                position: absolute;
                content: '';
                top: -1px;
                left: -100%;
                height: 100.4%;
                width: 100%;
                background: #F9FBF9;
                border-top: 1px solid #EDEDED;
            }
        }
    }

    .tabs__pane {
        position: static;
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        text-align: center;
        padding: 0;
    }

    .tabs__pane_show {
        max-height: min-content;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: all .7s linear;
        text-align: center;
    }

    .tabs__pane_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        @include media ("<tablet_max") {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    .search {
        position: relative;
        z-index: 0;

        @include media ("<tablet_max") {
            width: 100%;
            margin-bottom: 40px;

            input {
                width: 100%;
                background: $white;
                padding: 9px 15px;

                &::placeholder {
                    font-size: 14px;
                }

                &:focus {
                    position: static;
                    border: 1px solid $blue;
                }
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    margin: 0;
                }
            }
        }
    }

    .tabs__pane_title {
        font-weight: 600;
        text-align: start;
        @include adaptiv-vaule("font-size", 22, 18, 1);

        @include media ("<tablet_max") {
            margin-bottom: 15px;
        }
    }

    .tabs__pane_body {
        background: $white;
        @include adaptiv-vaule("padding-top", 20, 5, 1);
        @include adaptiv-vaule("padding-bottom", 20, 5, 1);
        @include adaptiv-vaule("padding-left", 20, 5, 1);
        @include adaptiv-vaule("padding-right", 20, 5, 1);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        min-height: 500px;

        @include media ("<desktop") {
            grid-template-columns: 1fr 1fr;
        }

        @include media ("<tablet") {
            background: transparent;
            min-height: 100%;
        }

        @include media ("<phone") {
            padding: 0;
            grid-template-columns: 1fr;
        }
    }

    .tabs__pane_body_wrap {
        height: 100vh;
        overflow: auto;
        padding: 0 10px;
    }

    .all_category {
        grid-column-start: 1;
        grid-column-end: 4;
        font-family: Conthrax;

        @include media ("<desktop") {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        @include media ("<tablet") {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }

    .all_category_body {
        &:not(:last-child) {
            margin-bottom: 60px;

            @include media ("<desktop") {
                margin-bottom: 30px;
            }
        }
    }

    .card {
        border: 1px solid #F1F1F5;
        width: 100%;
        height: 190px;
        position: relative;

        @include media ("<tablet") {
            background: $white;
        }

        .card_link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        &:hover {
            .card_img {

                img {
                    transform: scale(1.08);
                }
            }
        }
    }

    .card_img {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 110px;

        @include media ("<phone") {
            height: 130px;
        }

        img {
            transition: all .3s ease;
        }
    }

    .card_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        text-align: start;

        p {
            font-weight: 700;
            @include adaptiv-vaule("font-size", 17, 14, 1);
            color: $black;
            margin-right: 10px;
        }

        span {
            font-size: 14px;
            color: $gray_1;
            position: relative;

            &::after {
                position: absolute;
                content: '';
                top: 6px;
                left: -8px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #D5D5DC;
            }

        }
    }
}

/* ------------------- Prod_description ---------------- */

.prod_description {
    padding-top: 130px;
    padding-bottom: 30px;
    border-top: 1px solid #EDEDED;

    .prod_description_content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .prod_description_img_body {
        @include adaptiv-vaule("margin-right", 50, 20, 1);
        width: 33%;

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .tabl_tilte {
        margin-bottom: 15px;
        display: none;

        @include media ("<tablet") {
            display: block;
        }
    }

    .desk_title {
        @include media ("<tablet") {
            display: none;
        }
    }

    .prod_description_img {
        position: relative;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        @include adaptiv-vaule("height", 420, 260, 1);


        @include media ("<tablet") {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        @include media ("<phone_max") {
            width: 100%;
        }
    }

    .prod_description_body {
        width: 57%;

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .prod_description_body_title {
        @include adaptiv-vaule("font-size", 32, 20, 1);
        color: $blue;
        margin-bottom: 20px;
    }

    .category_name {
        color: $black;
        @include adaptiv-vaule("font-size", 14, 12, 1);
        letter-spacing: -0.01em;
        font-weight: 500;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 25px;
        }

        span {
            color: $gray_1;
        }
    }

    .product_description_title,
    .product_use_title {
        @include adaptiv-vaule("font-size", 20, 16, 1);
        margin-bottom: 15px;
    }

    .product_description {
        font-weight: 500;
        font-size: 14px;
        line-height: 24 / 14 * 100%;
        letter-spacing: -0.01em;
        color: $gray_1;
        margin-bottom: 25px;
    }

    .use_item {
        letter-spacing: -0.01em;
        font-weight: 500;
        font-size: 14px;
        line-height: 24 / 14 * 100%;
        color: $gray_1;
        padding-left: 18px;
        position: relative;

        &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $green;
        }

        &::marker {
            color: $green;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

/* ------------------- Similar ---------------- */

.similar {

    .similar_title {
        margin-bottom: 40px;
        @include adaptiv-vaule("margin-bottom", 40, 35, 1);
        @include adaptiv-vaule("font-size", 32, 20, 1);
    }

    .similar_block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;

        @include media ("<desktop") {
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
        }

        @include media ("<phone") {
            grid-template-columns: 1fr;
        }
    }

    .card {
        border: 1px solid #F1F1F5;
        width: 100%;
        position: relative;

        @include media ("<tablet") {
            background: $white;
        }

        .card_link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        &:hover {
            .card_img {

                img {
                    transform: scale(1.08);
                }
            }
        }
    }

    .card_img {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 110px;

        @include media ("<phone") {
            height: 130px;
        }

        img {
            transition: all .3s ease;
        }
    }

    .card_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        text-align: start;

        p {
            font-weight: 700;
            @include adaptiv-vaule("font-size", 17, 14, 1);
            color: $black;
            margin-right: 20px;
        }

        span {
            font-size: 14px;
            color: $gray_1;
            position: relative;

            &::after {
                position: absolute;
                content: '';
                top: 6px;
                left: -8px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #D5D5DC;
            }

        }
    }


}