<footer id="footer">
    <div class="cont">
        <div class="footer-content">
            <div class="item-1">
                <h3>plantku</h3>
                <h4>Plantku House</h4>
                <p>Jl. Laksda Adisucipto No.51, Demangan, Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282</p>
            </div>
            <div class="item-2">
                <h4>Perusahaan</h4>
                <p>Tentang Kami</p>
                <p>Hubungi Kami</p>
            </div>
            <div class="item-2">
                <h4>Produk</h4>
                <p>Tanaman</p>
                <p>Tanaman Lain</p>
            </div>
            <form class="item-3">
                <h4>Berlangganan Email Kami</h4>
                <div class="input">
                    <input type="email" placeholder="Masukan Alamat Email" href="#"></input>
                </div>
                <a href="#">Submit</a>
            </form>
        </div>
    </div>
</footer>