<header id="header">
    <div class="cont">
        <div class="header-content">
            <div class="main-logo">
                <img src="./images/header/logo.svg" alt="image not found">
            </div>
            <div class="header-links">
                <div class="search link">
                    <img src="./images/header/search.svg" alt="image not found">
                </div>
                <div class="shop link">
                    <img src="./images/header/shopping-cart.svg" alt="image not found">
                </div>
                <div class="signup link">
                    <a href="#">Sign Up</a>
                </div>
                <div class="signin link">
                    <a href="#">Sign In</a>
                </div>
            </div>
        </div>
    </div>
 </header>