body {
    font-family: 'Proxima Nova';
}

html {
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 10px;

        @include media ("<tablet") {
            width: 5px;
        }
    }

    ::-webkit-scrollbar-track {
        background-color: $gray;
    }

    ::-webkit-scrollbar-thumb {
        background: $orange;
    }
}


.main_section {
    overflow: hidden;

    .main_content {
        position: relative;
        text-align: center;
        @include adaptiv-vaule("padding-top", 200, 115, 1);
        @include adaptiv-vaule("padding-bottom", 140, 230, 1);
    }

    .planet_img {
        position: absolute;
        left: 0;
        top: 80px;
        width: 120px;
        height: 80px;

        @include media ("<tablet") {
            display: none;
        }
    }

    .crown_img_desk {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
        width: 125px;
        height: 125px;
        @include adaptiv-vaule("width", 125, 75, 1);
        @include adaptiv-vaule("height", 125, 75, 1);

        @include media ("<tablet") {
            display: none;
        }
    }

    .crown_img_phone {
        display: none;
        position: absolute;
        left: 35%;
        transform: translateX(-50%);
        bottom: 20px;
        @include adaptiv-vaule("width", 125, 75, 1);
        @include adaptiv-vaule("height", 125, 75, 1);

        @include media ("<tablet") {
            display: block;
        }
    }

    .rocket_img {
        position: absolute;
        top: 30px;
        right: 0;
        @include adaptiv-vaule("right", -115, 0, 1);
        @include adaptiv-vaule("width", 190, 120, 1);
        @include adaptiv-vaule("height", 200, 130, 1);

        @include media ("<tablet") {
            top: 0;
            right: 50%;
            transform: translateX(50%) rotateY(180deg);
        }
    }

    .target_img {
        position: absolute;
        @include adaptiv-vaule("bottom", 100, 200, 1);
        right: -115px;
        width: 480px;
        height: 270px;
        @include adaptiv-vaule("width", 480, 260, 1);
        @include adaptiv-vaule("height", 270, 160, 1);

        @include media ("<desktop") {
            bottom: 130px;
        }

        @include media ("<tablet") {
            right: -25px;
            bottom: 20px;
        }

        @include media ("<phone") {
            bottom: 55px;
        }
    }

    .lightning_img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        @include media ("<tablet") {
            display: none;
        }
    }

    .creative_img {
        position: absolute;
        bottom: 0;
        left: 0;
        @include adaptiv-vaule("width", 195, 85, 1);
        @include adaptiv-vaule("height", 170, 80, 1);

        @include media ("<tablet") {
            bottom: 120px;
        }
    }

    .bubble_img {
        position: absolute;
        bottom: 0;
        left: -100px;

        @include media ("<tablet") {
            left: 20px;
        }
    }

    .main_text {
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .main_title {
        font-weight: 800;
        @include adaptiv-vaule("font-size", 64, 35, 1);
        line-height: 105.5%;
        text-transform: uppercase;
        color: $black;
        margin-bottom: 25px;
    }

    .main_descrition {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 24, 16, 1);
        line-height: 150%;
        color: $black;
        @include adaptiv-vaule(" margin-bottom", 90, 60, 1);
    }

    .awards {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 350px;
            @include adaptiv-vaule("width", 350, 268, 1);
            height: 55px;
            background: #EB5B31;
            border-radius: 50px;

            @include media ("<tablet") {
                bottom: 0;
                transform: translate(-50%, 20%);
            }
        }
    }

    .awards_img {
        position: relative;
        z-index: 1;
        width: 70px;
        height: 86px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

        @include media ("<tablet") {
            width: 51px;
            height: 63px;
        }

        &:nth-child(1) {
            transform: rotateZ(355deg);
            left: -8px;
        }

        &:nth-child(3) {
            transform: rotateZ(5deg);
        }

        &:nth-child(4) {
            transform: rotateZ(355deg);
        }
    }
}

.web_design {
    overflow: hidden;

    .web_design_content {
        position: relative;
        @include adaptiv-vaule("padding-top", 100, 80, 1);
        @include adaptiv-vaule("padding-bottom", 80, 40, 1);
    }

    .bubbles_img {
        position: absolute;
        width: 65px;
        height: 68px;
        top: 0;
        right: 0;
    }

    .web_design_text {
        text-align: end;
        @include adaptiv-vaule("margin-bottom", 80, 60, 1);
    }

    .web_design_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 64, 22, 1);
        line-height: 114%;
        color: $black;
        margin-bottom: 15px;
    }

    .orange_bg {
        color: $white;
        padding: 10px 15px;
        clip-path: polygon(0 6%, 100% 0%, 98% 100%, 2% 100%);
        background-color: $orange;
        display: inline-block;
    }

    .web_design_description {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 34, 16, 1);
        line-height: 114%;
        color: $black;

        @include media ("<tablet") {
            width: 205px;
            margin: 0 0 0 auto;
        }
    }

    .web_design_components {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;

        @include media ("<tablet") {
            flex-direction: column;
            align-items: center;
            row-gap: 70px;
        }
    }

    .component {
        width: 33%;
        text-align: center;

        @include media ("<tablet") {
            width: 100%;
        }

    }

    .component_img {
        height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;

        @include media ("<tablet") {
            height: auto;
        }
    }

    .component_description {
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        color: $black;
        text-align: start;

        @include media ("<tablet") {
            text-align: center;
        }
    }
}

.our_offers {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;

    @include media ("<tablet") {
        height: 100%;
    }

    .offer_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .our_offers_content {
        @include adaptiv-vaule("padding-top", 50, 40, 1);
        @include adaptiv-vaule("padding-bottom", 50, 40, 1);
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 20px);
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        @include media ("<tablet") {
            flex-direction: column;
            position: static;
            transform: none;
            z-index: 2;
            gap: 50px;
        }
    }

    .offer_box {
        max-width: 650px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        @include media ("<tablet") {
            z-index: 1;
        }

        @include media ("<phone") {
            align-items: flex-start;
            text-align: start;
        }

        &:nth-child(even) {
            flex-direction: column-reverse;

            .offer_img {
                order: 3;

                @include media ("<tablet") {
                    order: 2;
                }
            }

            .offer_title {
                order: 2;

                @include media ("<tablet") {
                    order: 1;
                }
            }

            .offer_descr {
                order: 1;

                @include media ("<tablet") {
                    order: 3;
                }
            }

            @include media ("<tablet") {
                flex-direction: column;
            }

            .offer_img {
                margin-bottom: 35px;
            }
        }
    }

    .planet_box {
        align-items: flex-start;

        @include media ("<tablet") {
            align-items: center;
            position: relative;

            .offer_title {
                max-width: 300px;
                text-align: center;
            }
        }

        @include media ("<phone") {
            align-items: flex-start;
            text-align: start;

            .offer_title {
                max-width: 300px;
                text-align: start;
            }
        }
    }

    .offer_title {
        font-weight: 700;
        @include adaptiv-vaule(" font-size", 40, 22, 1);
        line-height: 100%;
        @include adaptiv-vaule("margin-bottom", 60, 20, 1);
        color: $white;

        @include media ("<tablet") {
            order: 1;
            margin-bottom: 40px;
        }
    }

    .offer_descr {
        font-weight: 300;
        @include adaptiv-vaule(" font-size", 20, 16, 1);
        line-height: 130%;
        color: $white;
        max-width: 450px;
        width: 100%;
        @include adaptiv-vaule("margin-bottom", 60, 0, 1);

        @include media ("<tablet") {
            margin: 0 auto;
            order: 3;
            text-align: center;
        }

        @include media ("<phone") {
            text-align: start;
        }
    }

    .offer_img {
        position: relative;

        @include media ("<tablet") {
            order: 2;
            margin: 0 auto;
            margin-bottom: 45px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .palnet {
        width: 310px;
        height: 200px;

        @include media ("<tablet") {
            position: absolute;
            width: 105px;
            height: 75px;
            top: -30px;
            right: 0;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .bubble_img {
        position: absolute;
        width: 43px;
        height: 48px;
        bottom: -30px;
        right: -120px;
    }

    .stars {
        position: absolute;
        right: 225px;
        bottom: -80px;

        @include media ("<tablet") {
            bottom: -75px;
            right: 0;
        }
    }

    .fromRight {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 100%;
        background-color: $orange;
        z-index: 2;

        @include media ("<tablet") {
            position: static;
        }
    }

    .at {
        position: absolute;
        top: -100px;
        right: 500px;
        z-index: 3;

        @include media ("<tablet") {
            top: 0;
            right: -15px;
            width: 32px;
            height: 38px;
        }
    }

    .heart {
        position: absolute;
        top: 20px;
        right: 50%;
        z-index: 3;

        @include media ("<tablet") {
            display: none;
        }
    }

    .omg {
        position: absolute;
        z-index: 3;
        bottom: 10%;
        left: 30%;

        @include media ("<desktop") {
            display: none;
        }

        @include media ("<tablet") {
            display: none;
        }
    }
}

.problems {
    @include adaptiv-vaule("padding-top", 100, 60, 1);
    @include adaptiv-vaule("padding-bottom", 185, 55, 1);
    position: relative;

    .bubbles_top {
        position: absolute;
        top: 70px;
        right: 70px;

        @include media ("<tablet") {
            display: none;
        }
    }

    .bubbles_bottom {
        position: absolute;
        bottom: 30px;
        left: 400px;

        @include media ("<tablet") {
            display: none;
        }
    }

    .arrow {
        position: absolute;
        bottom: 35px;
        right: 70px;

        @include media ("<tablet") {
            display: none;
        }
    }

    .problems_content {
        text-align: center;
    }

    .problems_title {
        font-style: normal;
        font-weight: 700;
        @include adaptiv-vaule("font-size", 64, 22, 1);
        color: #151515;
        @include adaptiv-vaule("margin-bottom", 70, 45, 1);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            @include adaptiv-vaule("top", -10, 0, 1);
            left: 50%;
            transform: translateX(-50%);
            background-color: $orange;
            @include adaptiv-vaule("width", 333, 131, 1);
            @include adaptiv-vaule("height", 91, 28, 1);
            clip-path: polygon(0 0, 100% 15%, 99% 100%, 1% 85%);
            z-index: -1;
        }
    }

    .problems_content_wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;

        @include media ("<desktop") {
            flex-direction: column;
            align-items: center;
        }
    }

    .problems_wrap {
        display: grid;
        grid-template: repeat(3, 1fr) / 1fr;

        @include media ("<desktop") {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        @include media ("<tablet") {
            flex-direction: column;
            width: 100%;
        }

        @include media ("<phone") {
            align-items: flex-start;
        }
    }

    .wrap_1 {
        @include media ("<tablet") {
            order: 2;
        }

        .problems_body {
            @include media ("<phone") {
                &:nth-child(even) {
                    flex-direction: row-reverse;

                    .body_text {
                        margin: 0 0 0 30px;
                    }
                }
            }
        }
    }

    .wrap_2 {
        @include media ("<tablet") {
            order: 3;
        }

        .problems_body {
            @include media ("<phone") {

                .body_text {
                    margin-right: 30px;
                }

                &:nth-child(odd) {
                    flex-direction: row-reverse;

                    .body_text {
                        margin: 0 0 0 30px;
                    }
                }

                &:nth-child(even) {
                    .body_text {
                        margin: 0 30px 0 0;
                    }
                }
            }
        }
    }

    .problems_body {
        text-align: start;
        max-width: 332px;
        width: 100%;

        @include media ("<phone") {
            max-width: 100%;
            display: flex;
            align-items: center;

        }

        &:not(:last-child) {
            margin-bottom: 60px;
        }

        br {
            @include media ("<tablet") {
                display: none;
            }
        }
    }

    .body_text {

        @include media ("<phone") {
            max-width: 260px;
            margin-right: 30px;
        }
    }

    .problems_subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $white;
        width: max-content;
        clip-path: polygon(0 0, 100% 5%, 98% 100%, 2% 100%);
        padding: 5px 8px;
        background-color: $orange;
        margin-bottom: 15px;

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .problems_descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        color: $black;
        padding-left: 10px;
    }

    .body_img {
        display: none;

        @include media ("<phone") {
            display: block;
        }
    }

    .problems_img {
        @include media ("<desktop") {
            margin-bottom: 35px;
        }

        @include media ("<tablet") {
            order: 1;
            width: 221px;
            height: 220px;
        }
    }
}

.trust_us {
    @include adaptiv-vaule("padding-top", 65, 30, 1);
    @include adaptiv-vaule("padding-bottom", 105, 35, 1);
    position: relative;

    .coub {
        position: absolute;
        bottom: 90px;
        @include adaptiv-vaule("left", 350, 0, 1);

        @include media ("<tablet") {
            display: none;
        }
    }

    .trust_us_content {
        text-align: center;
    }

    .trust_us_subtitle {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 30, 22, 1);
        @include adaptiv-vaule("margin-bottom", 30, 20, 1);
        color: #151515;
        display: inline-block;
    }

    .trust_us_text {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .number {
        width: 65%;
        margin-right: 25px;

        @include media ("<tablet") {
            margin: 0 0 50px 0;
            width: 100%;
        }
    }

    .number_title{
        font-weight: 700;
        font-size: 55px;
        color: $orange;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
        @include adaptiv-vaule("font-size", 330, 160, 1);
    }

    .number_border {
        font-weight: 700;
        /* Только если меньше контейнера */
        font-size: 55px;
        color: transparent;
        -webkit-text-stroke: 3px #000;
        position: absolute;
        z-index: -1;
        bottom: 15px;
        left: 10px;
        @include adaptiv-vaule("font-size", 330, 160, 1);
    }

    .trust_us_title {
        @include adaptiv-vaule("margin-top", -50, -30, 1);
        text-align: start;
        padding-left: 30px;
        font-weight: 800;
        @include adaptiv-vaule("font-size", 45, 22, 1);
        line-height: 105.5%;
        color: #151515;

        @include media ("<tablet") {
            padding: 0;
        }
    }

    .brand_logos {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @include adaptiv-vaule("row-gap", 55, 35, 1);

        @include media ("<tablet") {
            width: 100%;
        }
    }

    .logo_img {
        width: 48%;

        @include media ("<tablet") {
            width: 33%;
        }

        @include media ("<phone") {
            width: 28%;
        }
    }
}


.steps {
    @include adaptiv-vaule("padding-top", 105, 35, 1);
    @include adaptiv-vaule("padding-bottom", 75, 50, 1);
    position: relative;

    .rocket {
        position: absolute;
        animation: flyRocket 7s linear infinite;

        @include media ("<tablet") {
            display: none;
        }
    }

    .steps_content {
        text-align: center;
        position: relative;
    }

    .confetti {
        position: absolute;
        bottom: -100px;
        left: 0px;

        @include media ("<tablet") {
            display: none;
        }
    }

    .lightning {
        position: absolute;
        bottom: -100px;
        right: 0px;

        @include media ("<tablet") {
            bottom: 50%;
        }

        @include media ("<phone_max") {
            bottom: 35%;
            width: 30px;
            height: 37px;
        }
    }

    .steps_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 30, 22, 1);
        line-height: 37px;
        color: $black;
        max-width: 720px;
        margin: 0 auto;
        @include adaptiv-vaule("margin-bottom", 130, 70, 1);
    }

    .steps_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
            width: 70%;
            margin: 0 auto;
        }

        @include media ("<phone_max") {
            width: 100%;
        }
    }

    .step {
        width: 23%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include media ("<tablet") {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }

        @include media ("<phone") {
            justify-content: flex-start;
        }

        &:nth-child(even) {
            flex-direction: column-reverse;

            @include media ("<tablet") {
                flex-direction: row-reverse;

                .step_text {
                    max-width: 240px;
                    text-align: start;
                }
            }

            .step_descr {
                margin-bottom: 45px;

                @include media ("<tablet") {
                    margin: 0 20px 0 0;
                }
            }

            .step_img {
                margin: 0;
            }
        }
    }

    .step_img {
        width: 81px;
        height: 81px;
        border-radius: 50%;
        background-color: $white;
        border: 1px solid $black;
        position: relative;
        margin-bottom: 35px;

        @include media ("<tablet") {
            margin: 0 20px 0 0;
            border: none;
            width: 90px;
            height: 90px;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 1;
            transition: all .3s ease;

            @include media ("<tablet") {
                top: 0;
                right: 0;
            }
        }

        &:hover {
            img {
                transition: all .3s ease;
                top: 0;
                right: 0;
            }
        }
    }

    .step_text {
        @include media ("<tablet") {
            text-align: start;
        }
    }

    .step_title {
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 24px;
        color: $black;

        @include media ("<tablet") {
            margin-bottom: 10px;
        }
    }

    .step_descr {
        font-weight: 300;
        font-size: 20px;
        line-height: 19px;
        color: $black;
    }
}

.our_project {
    @include adaptiv-vaule("padding-top", 75, 50, 1);
    @include adaptiv-vaule("padding-bottom", 55, 35, 1);
    position: relative;
    overflow: hidden;

    .bubbles {
        position: absolute;
        left: 75px;
        bottom: 30px;

        @include media ("<tablet_max") {
            bottom: 35%;
        }

        @include media ("<tablet") {
            bottom: 40%;
        }

        @include media ("<phone_max") {
            left: 10px;
        }
    }

    .our_project_bg {
        position: absolute;
        top: 60px;
        right: -100px;

        @include media ("<tablet_max") {
            @include adaptiv-vaule("height", 550, 420, 1);
            right: -20px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .our_project_content {
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .our_project_title {
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 30px;
        color: $black;
    }

    .swiper-slide {
        overflow: hidden;
    }

    .project_swiper {
        position: relative;
        height: 800px;

        @include media ("<tablet_max") {
            height: auto;
        }
    }

    .swiper-wrapper {
        height: max-content;

        @include media ("<tablet_max") {
            margin-bottom: 25px;
        }
    }

    .project_slide {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        padding: 0 0 20px 0;

        @include media ("<tablet_max") {
            flex-direction: column-reverse;
        }
    }

    .slide_text {
        width: 47%;
        margin-right: 30px;
        text-align: start;

        @include media ("<tablet_max") {
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }

        @include media ("<phone") {
            width: 100%;
        }
    }

    .slide_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 40, 25, 1);
        color: $black;
        margin-bottom: 50px;
    }

    .slide_descr {
        @include adaptiv-vaule("margin-bottom", 85, 35, 1);
    }

    .text_descr {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        line-height: 130%;
        color: $black;
    }

    .text_list {

        @include media ("<tablet_max") {
            text-align: start;

        }

        .text_descr {
            position: relative;
            padding-left: 15px;

            &::before {
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $black;
            }
        }
    }

    .slide_btn_wrap {
        width: 238px;
        height: 70px;
        border-radius: 64% 9% 52% 13% / 29% 54% 30% 100%;
        border: 1px solid $black;
        position: relative;
        margin-left: 15px;

        @include media ("<tablet_max") {
            margin: 0 auto;
        }

        &:hover {
            .slide_btn {
                top: -1px;
                right: -1px;
                transition: all .3s ease;
            }
        }
    }

    .slide_btn {
        font-weight: 700;
        font-size: 20px;
        color: $white;
        background-color: $orange;
        border: 1px solid $orange;
        width: 239px;
        height: 71px;
        border-radius: 64% 9% 52% 13% / 29% 54% 30% 100%;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -7px;
        right: 7px;
        transition: all .3s ease;
    }

    .slide_img {
        width: 50%;

        @include media ("<phone") {
            width: 90%;
            height: 470px;
            margin-bottom: 25px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .swiper-pagination {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include media ("<tablet_max") {
            flex-direction: row;
        }

        .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $white;
            opacity: 1;

            @include media ("<tablet_max") {
                background-color: $orange;
            }
        }

        .swiper-pagination-bullet-active {
            width: 21px;
            height: 21px;
        }
    }

    .swiper-navigation {
        width: 50px;
        height: 300px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @include media ("<tablet_max") {
            position: static;
            width: 100%;
            height: 25px;
            flex-direction: row;
            justify-content: center;
        }
    }

    .swiper-button-prev {
        top: 0;
        right: 0;
        width: 40px;

        @include media ("<tablet_max") {
            display: none;
        }

        &::after {
            content: url('../images/our_projects/arrow_prev.svg');
            width: 100%;
        }
    }

    .swiper-button-next {
        top: 90%;
        right: 0;
        width: 40px;

        @include media ("<tablet_max") {
            display: none;
        }

        &::after {
            content: url('../images/our_projects/arrow_next.svg');
            width: 100%;
        }
    }
}

.must_haves {
    @include adaptiv-vaule("padding-top", 150, 1, 1);
    @include adaptiv-vaule("padding-bottom", 150, 90, 1);
    background-color: #F6F6F6;
    @include adaptiv-vaule("margin-top", 85, 60, 1);
    position: relative;
    transform: skewY(-3deg);

    .must_haves_content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        transform: skewY(3deg);

        @include media ("<desktop") {
            flex-direction: column;
            align-items: center;
        }
    }

    .must_haves_bg {
        position: absolute;
        top: 50px;
        left: -85px;
        z-index: -1;

        @include media ("<desktop") {
            left: -15px;
            height: 250px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .must_haves_img {
        width: 45%;

        @include media ("<desktop") {
            width: 100%;
            text-align: center;

            img {
                height: 450px;
            }
        }
    }

    .must_haves_text {
        width: 50%;

        @include media ("<desktop") {
            width: 80%;
        }

        @include media ("<phone") {
            width: 100%;
        }
    }

    .must_haves_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 30, 22, 1);
        @include adaptiv-vaule("margin-bottom", 25, 60, 1);
        line-height: 37px;
        color: $black;

        @include media ("<desktop") {
            text-align: center;
        }
    }

    .must_haves_descr {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 24, 16, 1);
        @include adaptiv-vaule("margin-bottom", 55, 85, 1);
        line-height: 130%;
        color: $black;

        @include media ("<desktop") {
            text-align: center;
        }
    }

    .text_desc {
        @include media ("<desktop") {
            display: none;
        }
    }

    .text_phone {
        display: none;

        @include media ("<desktop") {
            display: block
        }
    }

    .items {
        @include adaptiv-vaule("margin-bottom", 65, 45, 1);
    }

    .item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            @include adaptiv-vaule("margin-bottom", 30, 20, 1);
        }
    }

    .item_img {
        min-width: 63px;
        min-height: 62px;
        background-color: $orange;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
    }

    .item_descr {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 24, 16, 1);
        line-height: 130%;
        color: $black;
    }

    .btn_wrap {
        border-radius: 100% 57% 35% 19% / 60% 53% 54% 100%;
        border: 1px solid $black;
        width: 240px;
        height: 70px;
        position: relative;

        @include media ("<phone") {
            margin: 0 auto;
        }

        &:hover {
            .claim_btn {
                top: -1px;
                right: -1px;
                transition: all .3s ease;
            }
        }
    }

    .claim_btn {
        transition: all .3s ease;
        border-radius: 100% 57% 35% 19% / 60% 53% 54% 100%;
        background-color: $orange;
        position: absolute;
        top: -7px;
        right: 7px;
        font-weight: 700;
        font-size: 20px;
        width: 240px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
    }
}

.show {
    @include adaptiv-vaule("padding-top", 150, 1, 1);
    @include adaptiv-vaule("padding-bottom", 150, 50, 1);
    background-color: $black;
    position: relative;
    transform: skewY(-3deg);

    .crown {
        position: absolute;
        top: 85%;
        left: 50px;

        @include media ("<phone_max") {
            top: 170px;
            left: 20px;
            width: 40px;
            height: 40px;
        }

        @include media ("<phone") {
            top: 100px;
        }
    }

    .show_content {
        position: relative;
        z-index: 1;
        transform: skewY(3deg);
    }

    .orange_line {
        display: inline-block;
        @include adaptiv-vaule("width", 600, 200, 1);
        @include adaptiv-vaule("height", 75, 35, 1);
        position: relative;
        background-color: $orange;
        border-radius: 0px 50px 50px 0px;
        left: -85px;
        top: 20px;
        @include adaptiv-vaule("margin-right", -10, -70, 1);
        @include adaptiv-vaule("top", 20, 10, 1);

        @include media ("<phone") {
            width: 250px;
        }
    }

    .show_title {
        font-weight: 800;
        @include adaptiv-vaule("font-size", 64, 22, 1);
        line-height: 150%;
        color: $white;
        @include adaptiv-vaule("margin-bottom", 70, 40, 1);
        margin-bottom: 70px;

        @include media ("<phone") {
            text-align: end;
        }
    }

    .orange_text {
        color: $orange;
    }

    .show_swiper {
        @include adaptiv-vaule("padding-bottom", 70, 100, 1);
        margin-bottom: 70px;
        transform: skewY(3deg);

        .swiper-slide {
            transform: scale(0.7);
        }

        .swiper-slide-active {
            transform: scale(1);
        }

        .swiper-button-prev {
            top: 30px;
            left: 100px;
            font-weight: 700;
            font-size: 20px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;

            @include media ("<desktop") {
                display: none;
            }

            &::after {
                content: url("../images/show/arrow_prev.svg");
                margin-right: 20px;
                margin-bottom: 18px;
            }
        }

        .swiper-button-next {
            top: 30px;
            right: 100px;
            font-weight: 700;
            font-size: 20px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            flex-direction: row;

            @include media ("<desktop") {
                display: none;
            }

            &::after {
                content: url("../images/show/arrow_next.svg");
                margin-left: 20px;
                margin-bottom: 18px;
            }
        }

        .swiper-pagination {
            align-items: center;
            justify-content: center;
            display: none;

            @include media ("<desktop") {
                display: flex;
            }
        }

        .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $orange;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            width: 21px;
            height: 21px;
        }
    }

    .card_slide {
        max-width: 350px;
        margin: 0 auto;
    }

    .slide_img {
        overflow: hidden;
        border-radius: 12px;
        margin-bottom: 25px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .card_title {
        font-weight: 700;
        font-size: 34px;
        line-height: 42px;
        color: $white;
        margin-bottom: 15px;
    }

    .card_descr {
        font-weight: 300;
        font-size: 20px;
        line-height: 130%;
        color: $white;
    }

    .btn_wrap {
        border-radius: 100% 57% 35% 19% / 60% 53% 54% 100%;
        border: 1px solid $white;
        width: 240px;
        height: 70px;
        position: relative;
        margin: 0 auto;
        transform: skewY(3deg);

        &:hover {
            .read_btn {
                top: -1px;
                right: -1px;
                transition: all .3s ease;
            }
        }
    }

    .read_btn {
        transition: all .3s ease;
        border-radius: 100% 57% 35% 19% / 60% 53% 54% 100%;
        background-color: $orange;
        position: absolute;
        top: -7px;
        right: 7px;
        font-weight: 700;
        font-size: 20px;
        width: 240px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
    }
}

.contact_us {
    @include adaptiv-vaule("padding-top", 200, 60, 1);
    @include adaptiv-vaule("padding-bottom", 200, 70, 1);
    position: relative;

    .star {
        position: absolute;
        left: 50%;
        top: 5%;

        @include media ("<tablet") {
            left: 85%;
            top: 0;
        }
    }

    .bubbles {
        position: absolute;
        right: 10%;
        top: 5%;

        @include media ("<tablet") {
            display: none;
        }
    }

    .confetti {
        position: absolute;
        bottom: 0;
        left: 10%;

        @include media ("<tablet") {
            display: none;
        }
    }

    .wow {
        position: absolute;
        right: 10%;
        bottom: 0;

        @include media ("<tablet") {
            right: 50%;
            transform: translateX(50%);
        }
    }

    .contact_body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 490px;
        position: relative;

        @include media ("<tablet") {
            flex-direction: column-reverse;
            max-height: 100%;
        }
    }

    .social_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #EDECEC;
        border-radius: 27px 0 0 27px;
        padding: 20px;
        height: 490px;

        @include media ("<tablet") {
            flex-direction: row;
            justify-content: space-around;
            height: 100%;
            border-radius: 0 0 27px 27px;
            width: 100%;
            margin-top: -20px;
            padding-top: 40px;
            z-index: -1;
        }
    }

    .link {
        transition: all .3s ease;

        @include media ("<tablet") {
            margin: 0;
        }

        &:not(:last-child) {
            margin-bottom: 50px;

            @include media ("<tablet") {
                margin: 0;
            }
        }

        &:hover {
            transform: scale(1.2);
            transition: all .3s ease;

            svg {
                fill: $orange;
                transition: all .3s ease;
            }
        }

        svg {
            width: 30px;
            height: 30px;
            fill: #8F8F8F;
            transition: all .3s ease;
        }
    }

    form {
        position: absolute;
        left: 70px;
        background: #292929;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 400px;
        width: 100%;
        @include adaptiv-vaule("padding-top", 40, 30, 1);
        @include adaptiv-vaule("padding-bottom", 45, 25, 1);
        @include adaptiv-vaule("padding-right", 50, 35, 1);
        @include adaptiv-vaule("padding-left", 50, 35, 1);

        @include media ("<tablet") {
            position: static;
            max-width: 100%;
        }
    }

    .form_title {
        font-weight: 700;
        font-size: 25px;
        color: $white;
        margin-bottom: 50px;
    }

    .data_text,
    .area_text {
        border: none;
        border-bottom: 1px solid #454545;
        background-color: transparent;
        padding-bottom: 15px;
        width: 100%;
        transition: all .3s ease;
        color: $white;
        font-size: 16px;
        font-weight: 400;

        &:focus {
            transition: all .3s ease;
            border-bottom: 1px solid $orange;
        }

        &::placeholder {
            font-weight: 300;
            font-size: 16px;
            color: #6D6D6D;
        }
    }

    .data_text {
        margin-bottom: 30px;
    }

    .area_text {
        height: 125px;
        margin-bottom: 15px;
    }

    .agree {
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: #6D6D6D;
        margin-bottom: 30px;
    }

    .btn_wrap {
        border-radius: 100% 57% 35% 19% / 60% 53% 54% 100%;
        border: 1px solid $white;
        width: 240px;
        height: 70px;
        position: relative;
        margin: 0 auto;

        &:hover {
            .form_btn {
                top: -1px;
                right: -1px;
                transition: all .3s ease;
            }
        }
    }

    .form_btn {
        transition: all .3s ease;
        border-radius: 100% 57% 35% 19% / 60% 53% 54% 100%;
        background-color: $orange;
        border: none;
        position: absolute;
        top: -7px;
        right: 7px;
        font-weight: 700;
        font-size: 20px;
        width: 240px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
    }

    .contact_us_img {

        @include media ("<tablet") {
            width: 100%;
            margin-bottom: -50px;

            img {
                width: 100%;
            }
        }
    }
}

.popUpContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(216, 216, 216, 0.2);
    backdrop-filter: blur(5px);
    z-index: 4;
    display: none;
}

.popUp {
    background-color: $orange;
    max-width: 615px;
    width: calc(100% - 20px);
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include adaptiv-vaule("padding-top", 40, 20, 1);
    @include adaptiv-vaule("padding-bottom", 40, 20, 1);
    @include adaptiv-vaule("padding-right", 65, 15, 1);
    @include adaptiv-vaule("padding-left", 65, 15, 1);
    z-index: 5;
    display: none;

    .close_element {
        position: absolute;
        cursor: pointer;
        @include adaptiv-vaule("top", 20, 15, 1);
        @include adaptiv-vaule("right", 20, 15, 1);

        &:hover {
            svg {
                fill-opacity: 1;
                transition: all .3s ease;
            }
        }

        svg {
            fill: $white;
            fill-opacity: 0.6;
            transition: all .3s ease;
        }
    }

    .popUp_title {
        font-weight: 600;
        @include adaptiv-vaule("font-size", 32, 30, 1);
        text-align: center;
        color: $white;
        @include adaptiv-vaule("margin-bottom", 30, 15, 1);
    }


    .input_wrap {
        background-color: $white;
        border-radius: 18px;
        padding: 8px 8px 8px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
            background-color: transparent;
            border-radius: 0;
            padding: 0;
        }
    }

    .popUp_input {
        border: none;
        width: 90%;
        padding-right: 15px;

        @include media ("<tablet") {
            background-color: $white;
            border-radius: 18px;
            padding: 20px 15px;
            margin-bottom: 25px;
        }

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            color: rgba(43, 61, 81, 0.5);
        }
    }

    .popUp_btn {
        border: none;
        background-color: $orange;
        color: $white;
        border-radius: 12px;
        font-weight: 600;
        font-size: 16px;
        padding: 18px;
        width: 170px;
        transition: all .3s ease;

        @include media ("<tablet") {
            background-color: $white;
            color: $orange;
        }

        &:hover {
            background-color: #BA4422;
            transition: all .3s ease;
        }
    }
}

.activePopUp,
.activeContainer {
    display: block;
}