header {

    .header_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        position: relative;
    }

    .bubble_img {
        position: absolute;
        left: 20%;
        bottom: 0;

        @include media ("<tablet") {
            display: none;
        }
    }

    .nav_container{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(216, 216, 216, 0.2);
        backdrop-filter: blur(5px);
        z-index: 4;
    }

    .active_container{
        display: block;
    }

    .nav_menu,
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }

    .nav {
        @include media ("<tablet") {
            position:fixed;
            top:0;
            right: -100%;
            transition: all .3s ease;
            flex-direction: column;
            align-items: flex-start;
            height: 100vh;
            width: 50%;
            background-color: $orange;
            padding: 100px 25px;
            z-index: 4;
        }

        @include media ("<phone") {
            width: 80%;
        }
    }

    .menu_active{
        right: 0;
        transition: all .3s ease;
    }

    .nav_menu{
        @include media ("<tablet") {
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
        }
    }

    .menu_item {
        position: relative;

        &:hover{
            &::after{
                width: 100%;
                transition: all .3s ease;
            }
        }

        &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: $orange;
            bottom: -5px;
            left: 0;
            transition: all .3s ease;
        }

        @include media ("<tablet") {
            margin-bottom: 35px;
        }

        &:not(:first-child) {
            @include adaptiv-vaule("margin-left", 30, 1, 1);

            @include media ("<tablet") {
                margin: 0 0 35px 0;
            }
        }
    }

    .menu_link {
        font-weight: 300;
        font-size: 16px;
        color: $black;
        white-space: nowrap;

        @include media ("<tablet") {
            color: $white;
            font-size: 20px;
        }
    }

    .menu_btn {
        @include adaptiv-vaule("margin-left", 30, 1, 1);
        border: 1px solid $orange;
        font-weight: 800;
        font-size: 16px;
        line-height: 150%;
        color: #EB5B31;
        padding: 8px 15px;
        border-radius: 10px;
        text-align: center;
        transition: all .3s ease;

        @include media ("<tablet") {
            margin: 0;
            border: 1px solid $white;
            color: $white;
        }

        &:hover{
            border: 1px solid $orange;
            background-color: $orange;
            color: $white;
            transition: all .3s ease;
        }
    }

    .header_burger {
        display: none;
        width: 29px;
        height: 17px;
        position: relative;
        top: -2px;
        cursor: pointer;
        z-index: 5;

        @include media ("<tablet") {
            display: block;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: $orange;
            transition: all 0.4s ease;
            border-radius: 5px;
            right: 0;
        }

        &::after{
            width: 50%;
        }

        span {
            position: absolute;
            width: 100%;
            height: 3px;
            background: $orange;
            top: 7px;
            left: 0;
            transition: all 0.4s ease;
            opacity: 1;
            border-radius: 5px;
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0;
        }
    }

    .burger_active {
        &::after {
            transform: rotate(-45deg);
            bottom: 5px;
            width: 100%;
            background: $white;
        }

        &::before {
            transform: rotate(45deg);
            top: 9px;
            background: $white;
        }

        span {
            opacity: 0;
            visibility: hidden;
        }
    }
}