.plug {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/plug/plug_bg.jpg) 0 0/100% 100% no-repeat;
    overflow: hidden;

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    .plug_logo {
        margin-bottom: 60px;
    }

    .plug_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 64, 40, 1);
        color: $white;
        margin-bottom: 20px;
    }

    .plug_descr {
        font-weight: 300;
        font-size: 20px;
        color: $white;
    }
}