.template {
    @include adaptiv-vaule("padding-top", 85, 55, 1);
    @include adaptiv-vaule("padding-bottom", 175, 170, 1);

    .content,
    .referens {
        border-bottom: 1px solid #F3F3F3;
        margin-bottom: 40px;
    }

    .referens{
        padding-bottom: 30px
    }

    .template_img {
        @include adaptiv-vaule("height", 620, 200, 1);
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .template_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 40, 36, 1);
        line-height: 49px;
        color: $black;
        margin-bottom: 20px;

        @include media ("<tablet") {
            br{
                display: none;
            }
        }
    }

    .info {
        display: block;
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        color: #8F8F8F;
    }

    .author {
        margin-bottom: 5px;
    }

    .date {
        margin-bottom: 20px;
    }

    .template_text {
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        line-height: 130%;
        color: #000000;
        margin-bottom: 40px;
    }

    .template_subtitle {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 24, 22, 1);
        color: #000000;
        margin-bottom: 20px;
    }

    .sub_img {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .referens_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        letter-spacing: -0.03em;
        color: #2D2D2D;
        margin-bottom: 25px;
    }

    .link {
        font-weight: 300;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #2D2D2D;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .share {
        display: flex;
        align-items: center;
    }

    .share_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 20, 16, 1);
        color: #000000;
        margin-right: 30px;
    }

    .share_icon {
        display: flex;
        align-items: center;
    }

    .icon {
        &:not(:last-child) {
            margin-right: 20px;
        }

        svg {
            fill: $orange;
        }
    }
}

.recomended_section {
    background-color: #F3F3F3;
    @include adaptiv-vaule("padding-top", 100, 60, 1);
    @include adaptiv-vaule("padding-bottom", 90, 70, 1);

    .recomended_title {
        @include adaptiv-vaule("margin-bottom", 95, 45, 1);
        font-weight: 700;
        font-size: 32px;
        line-height: 114%;
        color: $black;
    }

    .post_swiper {
        padding-bottom: 50px;

        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            overflow: hidden;
            background-color: $orange;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            width: 21px;
            height: 21px;
        }
    }

    .tab_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 455px;
        width: 100%;
        position: relative;

        &:nth-child(even) {
            margin-top: 150px;

            @include media ("<phone_max") {
                margin: 0;
            }
        }
    }

    .topic {
        position: absolute;
        top: 15px;
        left: 15px;
        background: $orange;
        border-radius: 30px;
        font-weight: 300;
        font-size: 14px;
        color: $white;
        padding: 5px 20px;
    }

    .item_img {
        width: 100%;
        height: 430px;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 25px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .item_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: start;
    }

    .item_title {
        font-weight: 700;
        @include adaptiv-vaule("font-size", 32, 24, 1);
        color: $black;
    }

    .date {
        position: absolute;
        top: 70px;
        left: -80px;
        transform: rotate(270deg);
        font-weight: 300;
        @include adaptiv-vaule("font-size", 20, 14, 1);
        color: $black;

        @include media ("<phone_max") {
            position: static;
        }
    }

    .item_btn_wrap {
        border-radius: 81% 93% 67% 100% / 61% 0% 71% 2%;
        border: 1px solid $black;
        width: 75px;
        height: 70px;
        position: relative;

        &:hover {
            .item_btn {
                top: 0;
                right: 0;
                transition: all .3s ease;
            }
        }
    }

    .item_btn {
        border-radius: 81% 93% 67% 100% / 61% 0% 71% 2%;
        background-color: $orange;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -5px;
        right: 5px;
        transition: all .3s ease;
    }
}