<footer id="footer">
    <div class="footer-top">
        <div class="cont">
            <div class="content">
                <div class="footer-logo">
                    <a href="#">
                        <img src="./images/footer/logo.png" alt="image not found">
                    </a>
                </div>
                <div class="link">
                    <h4>Explore</h4>
                    <ul class="links">
                        <li>
                            <a href="#">Electric Skateboards</a>
                        </li>
                        <li>
                            <a href="#">Electric Scooters</a>
                        </li>
                        <li>
                            <a href="#">Accessories</a>
                        </li>
                        <li>
                            <a href="#">FAQs</a>
                        </li>
                        <li>
                            <a href="#">Warranty</a>
                        </li>
                        <li>
                            <a href="#">Quick Start Guide</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Gift Card</a>
                        </li>
                        <li>
                            <a href="#">Accessibility Statement</a>
                        </li>
                    </ul>
                </div>
                <div class="about">
                    <h4>About Boosted USA</h4>
                    <p>Boosted empowers people everywhere to commute across their cities, campuses, and communities in
                        ways that were never before possible. Boosted is solving one of the biggest problems people face
                        each day: transportation.</p>
                    <address>
                        <p>CaliRides LLC - DBA Boosted USA</p>
                        <p>1281 Andersen Drive Ste. K</p>
                        <p>San Rafael, CA 94901</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="cont">
            <div class="bot-content">
                <div class="text">
                    <p>© 2021</p>
                    <a href="">Boosted USA</a>
                    <p>All Rights Reserved.</p>
                    <a href="#">Terms of Service.</a>
                    <p>Built by <a href="#">BH</a> </p>
                </div>
                <div class="icons">
                    <a href="#">
                        <img src="./images/footer/amex.svg" alt="image not found">
                    </a>
                    <a href="#">
                        <img src="./images/footer/1.svg" alt="image not found">
                    </a>
                    <a href="#">
                        <img src="./images/footer/gpay.svg" alt="image not found">
                    </a>
                    <a href="#">
                        <img src="./images/footer/klarna.svg" alt="image not found">
                    </a>
                    <a href="#">
                        <img src="./images/footer/master.svg" alt="image not found">
                    </a>
                    <a href="#">
                        <img src="./images/footer/opay.svg" alt="image not found">
                    </a>
                    <a href="#">
                        <img src="./images/footer/v.svg" alt="image not found">
                    </a>
                    <a href="#">
                        <img src="./images/footer/visa.svg" alt="image not found">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>