<header id="header">
    <div class="container">
        <div class="top-header">
            <p>Financing option available at checkout.</p>
        </div>
        <div class="bot-header">
            <div class="logo">
                <a href="#">
                    <img src="./images/header/logo.png" alt="image not found">
                </a>
            </div>
            <nav class="links">
                <ul>
                    <li>
                        <a href="#">Electric Skateboards</a>
                    </li>
                    <li>
                        <a href="#">Electric Scooters</a>
                    </li>
                    <li>
                        <a href="#">Accessories</a>
                    </li>
                    <li>
                        <a href="#">Gift Card</a>
                    </li>
                    <li>
                        <a href="#">More Info</a>
                    </li>
                </ul>
            </nav>
            <div class="icons">
                <div class="burger">
                    <span></span>
                </div>
                <div class="user">
                    <a href="#">
                        <img src="./images/header/user.svg" alt="image not found">
                    </a>
                </div>
                <div class="basket">
                    <a href="#">
                        <img src="./images/header/cart.svg" alt="image not found">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>