body {
    background: #fff;
}

/* -----------------------------------------#Main------------------------------------- */

.main-section {
    padding-bottom: 50px;
    padding-top: 100px;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        transform: skewY(-3deg);
        bottom: 42px;
        left: 0;
        border: 10px solid transparent;
        border-right: 100vw solid $yellow;
        border-top: 0px solid $yellow;

        @include media ("<tablet") {
            bottom: 50px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -50px;
        right: 0;
        width: 100%;
        height: 100px;
        background-color: #fff;
        transform: skewY(-2.6deg);

        @include media ("<tablet") {
            bottom: -43px;
        }
    }

    .cont {
        min-height: calc(100vh - 150px);
        display: flex;
        align-items: center;
        justify-content: space-between;


        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .main-text {
        width: 40%;
        margin-right: 20px;

        @include media ("<tablet") {
            width: 80%;
            text-align: center;
            margin-bottom: 40px;
            margin-right: 0;
        }

        @include media ("<phone") {
            width: 100%;
        }
    }

    .main-title {
        margin-bottom: 30px;

        @include media ("<tablet") {
            margin-bottom: 20px;
        }
    }

    .main-description {
        font-size: 12px;
        line-height: 18 / 12 * 100%;
        margin-bottom: 40px;

        @include media ("<tablet") {
            margin-bottom: 20px;
        }
    }

    .main-img {
        width: 52%;
        align-self: flex-end;

        @include media ("<tablet") {
            width: 73%;
        }
    }
}



/* -----------------------------------------#About------------------------------------- */

.about {
    padding-top: 35px;
    padding-bottom: 40px;

    .about-content {
        text-align: center;
    }

    .component-title {
        @include adaptiv-vaule("margin-bottom", 85, 30, 1);
    }

    .description {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 125px;
        @include adaptiv-vaule("margin-bottom", 125, 50, 1);

        @include media ("<desktop") {
            flex-direction: column;
            align-items: center;
        }
    }

    .solution {
        text-align: start;
        margin-right: 50px;

        @include media ("<desktop") {
            margin: 0 0 70px 0;
            text-align: center;
        }

        @include media ("<tablet") {
            margin: 0 0 45px 0;
        }
    }

    .solution-title {
        margin-bottom: 115px;

        @include media ("<desktop") {
            margin-bottom: 15px;
        }
    }

    .solution-description {
        font-size: 20px;
        line-height: 30 / 20 * 100%;

        @include media ("<tablet") {
            font-size: 16px;
        }
    }

    .numbers {
        text-align: start;

        @include media ("<desktop") {
            text-align: center
        }
    }

    .numbers-title {
        @include adaptiv-vaule("font-size", 26, 18, 1);
        margin-bottom: 100px;

        @include media ("<desktop") {
            margin-bottom: 50px;
        }
    }

    .box-number {
        display: flex;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
            align-items: center;
        }
    }

    .box {
        display: flex;

        &:first-child {
            margin-right: 50px;

            @include media ("<tablet") {
                margin-right: 25px
            }

            @include media ("<phone") {
                margin: 0 0 20px 0;
            }
        }

        span {
            @include adaptiv-vaule("font-size", 96, 48, 1);
            margin-right: 25px;

            @include media ("<tablet") {
                margin-right: 15px;
            }
        }

        p {
            font-size: 20px;
            margin-top: 13px;
            line-height: 30 / 20 * 100%;

            @include media ("<tablet") {
                font-size: 16px;
                margin-top: 7px;
            }
        }
    }

    .gallery {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .img-block {
        position: relative;
        width: 30%;
        border-radius: 10px;
        overflow: hidden;
        padding: 0 0 40% 0;
        margin-bottom: 70px;

        @include media ("<tablet") {
            width: 48%;
            padding: 0 0 60% 0;
            margin-bottom: 50px;
        }

        @include media ("<phone") {
            width: 100%;
            padding: 0 0 100% 0;
            margin-bottom: 30px;
        }
    }
}



/* -----------------------------------------#Solutions------------------------------------- */


.solutions {
    padding-top: 40px;
    @include adaptiv-vaule("padding-bottom", 75, 25, 1);

    .solutions-content {
        text-align: center;
    }

    .component-title {
        @include adaptiv-vaule("margin-bottom", 65, 35, 1);
    }

    .solutions-cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        width: 31%;
        text-align: start;
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;

        @include media ("<900px") {
            width: 48%;
        }

        @include media ("<650px") {
            width: 89%;
            margin: 0 auto;
            margin-bottom: 35px;
        }

        @include media ("<phone") {
            width: 100%;
        }
    }

    .img-card {
        position: relative;
        padding: 0 0 90% 0;
        margin-bottom: 20px;

        @include media ("<650px") {
            padding: 0 0 60% 0;
        }
    }

    .card-title {
        @include adaptiv-vaule("font-size", 25, 18, 1);
        @include adaptiv-vaule("margin-bottom", 60, 25, 1);
        line-height: 38 / 25 * 100%;
    }

    .card-description {
        font-size: 15px;
        flex: 1 1 auto;
        @include adaptiv-vaule("margin-bottom", 65, 30, 1);
        line-height: 22 / 15 * 100%;
    }

    .btn-wrap {

        @include media ("<phone") {
            .grey-btn {
                width: 100%;
            }
        }
    }
}


/* -----------------------------------------#Main-swiper------------------------------------- */

.main-swiper {
    @include adaptiv-vaule("padding-top", 75, 25, 1);
    @include adaptiv-vaule("padding-bottom", 120, 30, 1);

    .swiper-slide {
        display: flex;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
            align-items: center;
        }
    }

    .slide-img {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        padding: 0 0 32% 0;
        width: 32%;

        @include media ("<tablet") {
            width: 60%;
            margin-bottom: 35px;
            padding: 0 0 60% 0;
        }

        @include media ("<phone") {
            width: 100%;
            padding: 0 0 100% 0;
        }
    }

    .slide-text {
        width: 63%;

        @include media ("<tablet") {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .component-title {
        margin-bottom: 35px;
    }

    .slide-title {
        margin-bottom: 80px;
        @include adaptiv-vaule("margin-bottom", 80, 35, 1);
    }

    .personal-info {
        display: flex;
        align-items: flex-start;
    }

    .pers-img {
        width: 76px;
        height: 76px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;

        @include media ("<tablet") {
            width: 65px;
            height: 65px;
        }
    }

    .name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;

        @include media ("<tablet") {
            font-size: 16px;
        }
    }

    .job,
    .sub-name {
        font-size: 15px;

        @include media ("<tablet") {
            font-size: 12px;
        }
    }

    .sub-name {
        margin-top: 5px;
    }

    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .swiper-pagination-bullet {
            background: $gray;
            width: 76px;
            height: 11px;
            border-radius: 5px;
            opacity: 1;

            @include media ("<tablet") {
                width: 35px;
            }
        }

        .swiper-pagination-bullet-active {
            background: $yellow;
            width: 76px;
            height: 11px;
            border-radius: 5px;

            @include media ("<tablet") {
                width: 35px;
            }
        }
    }

    .swiper-pagination {
        position: static;
        width: auto !important;
        margin: 0 50px;

        @include media ("<tablet") {
            margin: 0 5px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: static;
        top: auto;
        width: 30px;
        height: 30px;
        margin: 0;

        &::after {
            content: none;
        }

        svg {
            width: 23px;
            height: 14px;
            fill: $black;
        }
    }
}


/* -----------------------------------------#Awards-swiper------------------------------------- */


.awards {
    @include adaptiv-vaule("padding-top", 60, 30, 1);
    @include adaptiv-vaule("padding-bottom", 60, 30, 1);
    transform: skewY(-3deg);
    text-align: center;
    background:#F9F9F9;

    .component-title {
        transform: skewY(3deg);
        @include adaptiv-vaule("margin-bottom", 110, 40, 1);
    }

    .awards-slider {
        transform: skewY(3deg);
        position: relative;

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            margin: 0;

            &::after {
                content: none;
            }

            svg {
                width: 23px;
                height: 14px;
                fill: $black;
            }
        }

        .swiper-button-prev {
            left: -10px;
        }

        .swiper-button-next {
            right: -10px;
        }
    }
}

/* -----------------------------------------#Cases------------------------------------- */


.cases {
    @include adaptiv-vaule("padding-top", 130, 100, 1);
    @include adaptiv-vaule("padding-bottom", 200, 100, 1);
    position: relative;
    height: 100%;
    transform: skewY(-3deg);

    .cases-bg {
        z-index: -1;
    }

    .cases-content {
        display: grid;
        row-gap: 50px;
        column-gap: 40px;
        grid-template-columns: 1fr 1fr;
        transform: skewY(3deg);

        @include media ("<desktop") {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 30px;
        }
    }

    .block-text {
        @include media ("<desktop") {
            text-align: center;
        }
    }

    .component-title {
        margin-bottom: 20px;
    }

    .case-title {
        margin-bottom: 25px;
    }

    .cases-description {
        margin-bottom: 20px;
    }

    .block-company {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        grid-row: span 2;
        text-align: center;
        position: relative;
        @include adaptiv-vaule("padding-top", 120, 40, 1);
        @include adaptiv-vaule("padding-bottom", 120, 40, 1);
        @include adaptiv-vaule("padding-right", 20, 10, 1);
        @include adaptiv-vaule("padding-left", 20, 10, 1);

        @include media (">desktop") {

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0);
                z-index: 1;
                transition: all 0.3s ease;
            }

            &:hover {

                &::before {
                    background: rgba(0, 0, 0, 0.4);
                }

                .yellow-btn,
                .block-description {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }


    .logo-company {
        width: 300px;
        height: 280px;

        @include media ("<tablet") {
            width: 200px;
            height: 200px;
        }
    }

    .logo-company,
    .block-description {
        @include adaptiv-vaule("margin-bottom", 65, 25, 1);
        color: #fff;
        z-index: 2;
    }

    .yellow-btn,
    .block-description {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: 2;

        @include media ("<desktop") {
            visibility: visible;
            opacity: 1;
        }
    }

    .btn-wrap {
        z-index: 2;
    }
}

/* -----------------------------------------#Contact------------------------------------- */


.contact {
    @include adaptiv-vaule("padding-top", 100, 40, 1);
    @include adaptiv-vaule("padding-bottom", 140, 70, 1);

    .contact-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .contact-text {
        width: 38%;
        margin-right: 40px;

        @include media ("<desktop") {
            width: 100%;
            margin-bottom: 40px;
            text-align: center
        }
    }

    .component-title,
    .contact-title {
        @include adaptiv-vaule("margin-bottom", 45, 20, 1);
    }

    .contact-description {
        @include adaptiv-vaule("margin-bottom", 80, 35, 1);
    }

    .contact-img {
        position: relative;
        width: 50%;
        padding: 0 0 56% 0;
        border-radius: 10px;
        overflow: hidden;

        @include media ("<desktop") {
            width: 100%;
            padding: 0 0 45% 0;
        }

        @include media ("<phone") {
            padding: 0 0 70% 0;
        }
    }
}


/* -----------------------------------------#Consultation------------------------------------- 
*/


.consultation {
    @include adaptiv-vaule("padding-top", 140, 40, 1);
    @include adaptiv-vaule("padding-bottom", 200, 70, 1);
    text-align: center;

    .consultation-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 30px;

        @include media ("<desktop") {
            flex-direction: column-reverse;
        }
    }

    form {
        width: 42%;
        display: flex;
        flex-direction: column;

        @include media ("<desktop") {
            width: 100%;
        }

        input,
        textarea {
            border: 1px solid #C2C2C2;
            padding: 25px 25px 25px 40px;
            border-radius: 10px;
            margin-bottom: 35px;
            background: $white;

            @include media ("<tablet") {
                margin-bottom: 15px;
            }

            &:focus {
                border: 1px solid $yellow;
                transition: all 0.3s ease;
            }

            &::placeholder {
                color: $black;
            }
        }

        textarea {
            min-height: 220px;
            margin-bottom: 0;
        }
    }

    button {
        border: none;
    }

    .consultation-text {
        width: 49%;
        text-align: start;

        @include media ("<desktop") {
            width: 100%;
            margin-bottom: 50px;
            text-align: center
        }
    }

    .component-title {
        @include adaptiv-vaule("margin-bottom", 35, 20, 1);
    }

    .consultation-title {
        @include adaptiv-vaule("margin-bottom", 50, 25, 1);
    }
}