<footer id="footer">
    <div class="cont">
        <div class="footer-content">
            <a href="#" class="logo">
                <img src="./images/footer/logofoot.svg" alt="image not found">
            </a>
            <div class="contact">
                <div class="addres">
                    <address>г. Москва, Красная площадь д.1</address>
                </div>
                <div class="tel">
                    <a href="tel:+ 7 495 835 47 11">+ 7 495 835 47 11</a>
                </div>
            </div>
            <div class="time">
                <h6>Режим работы</h6>
                <p>Пн. - Пт. - с 9:00 до 17:00</p>
                <p>Сб. - Вс. - с 9:00 до 17:00</p>
            </div>
        </div>
    </div>
</footer>