<header id="header">
    <div class="cont">
        <div class="header-content">
            <a href="#" class="logo">
                <img src="./images/header/logo.svg" alt="image not found">
            </a>
            <div class="link">
                <div class="links">
                    <a href="#">Как продать квартиру </a>
                    <a href="#">Истории клиентов</a>
                </div>
                <div class="tel">
                    <a href="tel:+ 7 495 835 47 11">+ 7 495 835 47 11</a>
                </div>
                <div class="but">
                    <a href="#" class="open-popup button">Перезвоните мне</a>
                </div>
            </div>
        </div>
    </div>
</header>