html {
    scroll-behavior: smooth;
}

.main-section {
    @include adaptiv-vaule("padding-top", 215, 120, 1);
    @include adaptiv-vaule("padding-bottom", 130, 60, 1);
    margin-top: -60px;
    transform: skewY(-4deg);
    position: relative;
    overflow: hidden;

    .blur-circle {
        background: rgba(253, 182, 4, 0.15);
        filter: blur(200px);
        position: absolute;
        z-index: 2;
        width: 1100px;
        height: 1100px;
        border-radius: 50%;
    }

    .left {
        top: 5%;
        left: -7%;
    }

    .right {
        top: -20%;
        right: -20%;
    }

    .white-left {
        background: #FFFFFF;
        filter: blur(200px);
        position: absolute;
        z-index: 2;
        width: 1100px;
        height: 1100px;
        border-radius: 50%;
        bottom: -80%;
        left: 0;
    }

    .white-right {
        background: #FFFFFF;
        filter: blur(200px);
        position: absolute;
        z-index: 2;
        width: 1100px;
        height: 1100px;
        border-radius: 50%;
        bottom: -80%;
        right: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 60px;
        left: 0;
        width: 100vw;
        height: 8px;
        background: $yellow;
        transform: skewY(4deg);
        z-index: 1;
    }

    .main-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        transform: skewY(4deg);
        position: relative;
        z-index: 3;
        max-width: 1090px;
        margin: 0 auto;

        .main-title {
            @include adaptiv-vaule("margin-bottom", 70, 40, 1);
        }

        .main-description {
            max-width: 990px;
            margin: 0 auto;
            @include adaptiv-vaule("font-size", 32, 20, 1);
            line-height: 48 / 32 * 100%;
            @include adaptiv-vaule("margin-bottom", 80, 40, 1);
        }
    }
}



.video-section {
    @include adaptiv-vaule("padding-top", 150, 60, 1);
    @include adaptiv-vaule("padding-bottom", 200, 100, 1);
    transform: skewY(-4deg);

    .video-content {
        transform: skewY(4deg);
        text-align: center;
    }


    .content {
        z-index: 2;
    }

    .content-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiv-vaule("margin-bottom", 80, 40, 1);
        position: relative;
        z-index: 2;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    .logo {
        max-width: 250px;

        @include media ("<desktop") {
            margin-bottom: 30px;
        }
    }

    .logo-img {
        @include adaptiv-vaule("margin-bottom", 55, 30, 1);
    }

    .img {
        position: relative;
        max-width: 250px;
        width: 100%;
        height: 120px;
    }

    .video {
        margin: 0 30px;
        border-radius: 10px;
        width: 40%;
        min-height: 320px;
        overflow: hidden;

        @include media ("<desktop") {
            margin-bottom: 30px;
            max-width: 500px;
            width: 100%;
            min-height: 300px;
        }

        iframe {
            width: 100%;
            min-height: 320px;
        }
    }

    .doc-wrap {
        padding: 4px;
        background: linear-gradient(137deg, rgba(253, 182, 4, 1) 0%, rgba(255, 255, 255, 0) 21%, rgba(255, 255, 255, 0) 74%, rgba(253, 182, 4, 1) 100%);
        width: 315px;
        height: 335px;
        border-radius: 15px;
        z-index: 2;
        position: relative;

        @include media ("<desktop") {
            width: 250px;
            height: 280px;
        }

        &::after {
            content: '';
            z-index: 1;
            bottom: -15px;
            left: 0;
            width: 100%;
            height: 10%;
            position: absolute;
            background: #616161;
            opacity: 0.7;
            filter: blur(25px);
            border-radius: 15px;
        }
    }

    .doc-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        position: relative;
        z-index: 2;
        background: linear-gradient(150.41deg, #F8F8F8 0%, #F1F1F1 98.06%),
            linear-gradient(146.64deg, #FDB604 0%, #FFFFFF 20.99%, rgba(255, 255, 255, 0) 49.35%),
            linear-gradient(327.81deg, rgba(253, 182, 4, 0.2) 0.76%, rgba(255, 255, 255, 0.2) 28.58%, rgba(255, 255, 255, 0) 49.32%);



        .video-text {

            @include media ("<desktop") {
                margin-bottom: 30px;
                text-align: center;
            }
        }

        .vieo-title {
            margin-bottom: 40px;
        }

        .video-description {
            max-width: 510px;

            @include media ("<desktop") {
                max-width: 100%;
            }
        }
    }
}

.form {
    @include adaptiv-vaule("padding-top", 120, 50, 1);
    @include adaptiv-vaule("padding-bottom", 65, 25, 1);
    text-align: center;
    background: $white;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        @include adaptiv-vaule("top", -70, -55, 1);
        left: 0;
        width: 100%;
        height: 100px;
        background: $white;
        transform: skewY(-4deg);
    }

    .title {
        margin-bottom: 10px;
    }

    .description {
        max-width: 1150px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    form {
        .string {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media ("<desktop") {
                flex-direction: column;
            }

            input {
                width: 48%;

                @include media ("<desktop") {
                    width: 100%;
                }
            }
        }

        input {
            background: #EFEFEF;
            border: 1px solid $gray_04;
            border-radius: 10px;
            padding: 25px 25px 25px 40px;
            width: 100%;
            @include adaptiv-vaule("margin-bottom", 35, 20, 1);

            @include media ("<tablet") {
                padding: 15px;
            }

            &::placeholder {
                color: $black;
            }
        }
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        height: 75px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 35px;

        @include media ("<desktop") {
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        p {
            width: 65%;
            font-size: 16px;
            line-height: 24 / 16 * 100%;
            text-align: start;
            margin-right: 20px;

            @include media ("<desktop") {
                margin: 0 0 20px 0;
                text-align: center;
                width: 100%;
            }
        }

        img {
            width: 34%;
            height: 100%;
            object-fit: contain;
        }
    }

    .confirm {
        display: flex;
        align-items: flex-start;
        margin-bottom: 35px;

        input {
            margin: 5px 10px 0 0;
            width: 20px;
        }

        label {
            width: 98.5%;
            text-align: start;
            font-size: 14px;
            line-height: 21 / 14 * 100%;
            color: $gray_05;
            cursor: pointer;

            @include media ("<phone") {
                font-size: 12px;
            }
        }
    }

    .yellow-btn {
        border: none;
    }
}