<footer id="footer">
    <div class="cont">
        <div class="footer-content">
            <div class="logo">
                <div class="logo-img">
                    <img src="./images//footer/logo.svg" alt="image not found">
                </div>
                <p>2021 все права защищены</p>  
                <a href="#">Политика конфиденциальности</a>
            </div>
            <div class="menu link">
                <h6>Меню:</h6>
                <nav class="nav">
                    <div class="item">
                        <a href="#">О нас</a>
                        <a href="#">Услуги</a>
                        <a href="#">Цены</a>
                    </div>
                    <div class="item">
                        <a href="#">Специалисты</a>
                        <a href="#">Блог</a>
                        <a href="#">Контакты</a>
                    </div>
                </nav>
            </div>
            <div class="contacts link">
                <h6>Контакты:</h6>
                <a href="tel:+7 (000) 000-00-00">+7 (000) 000-00-00</a>
                <a href="email:info@mail.ru">info@mail.ru</a>
                <a href="#">г. Санкт-Петербург, ул. Лесная, д. 54</a>
            </div>
            <div class="socio link">
                <h6>Мы в соц. сетях:</h6>
                <div class="icon">
                    <img src="./images/footer/instagram.svg" alt="image not found">
                    <img src="./images/footer/whatsapp.svg" alt="image not found">
                </div>
                <a href="#"> <img src="./images/footer/view.svg" alt="image not found"> Версия для слабовидящих</a>
            </div>
        </div>
    </div>
</footer>