#wrapper {
    background: #1D1D1D;
}

.btn {
    position: relative;
    padding: 18px 25px;
    background: $violet;
    display: flex;
    align-items: center;
    color: $white;
    background-image: linear-gradient(#ED863C, #ED863C);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: all 0.5s ease;
    @include adaptiv-vaule("margin-bottom", 100, 30, 1);
    display: inline-block;
    min-width: 270px;

    &:hover {
        background-size: 100% 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        background: $orange;
    }

    a {
        font-size: 18px;
        font-weight: 700;
        color: $white;
    }

    img {
        margin-left: 50px;
        height: 15px;
        width: 7px;
    }
}

.cont {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.first {
    padding: 30px 0;

    .content {
        display: flex;
    }

    .text {
        max-width: 590px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h3 {
            margin-bottom: 20px;
        }

        h1 {
            @include adaptiv-vaule("margin-bottom", 40, 20, 1);
        }

        p {
            @include adaptiv-vaule("margin-bottom", 55, 30, 1);
            max-width: 455px;
        }

        .links-app {
            display: flex;

            a:first-child {
                margin-right: 30px;
            }
        }
    }
}

.guarantee {

    .content {
        display: flex;
        @include adaptiv-vaule("gap", 230, 25, 1);

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: center;
        max-width: 561px;

        @include media ("<tablet") {
            text-align: center;
            max-width: 100%;
        }

        h3,
        h2 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 30px;
        }
    }
}

.detail {
    @include adaptiv-vaule("padding-top", 100, 30, 1);
    @include adaptiv-vaule("padding-bottom", 25, 25, 1);

    .content {
        display: flex;
        @include adaptiv-vaule("gap", 150, 0, 1);

        @include media ("<desktop") {
            flex-direction: column;
        }

    }

    .text {
        max-width: 386px;

        @include media ("<desktop") {
            max-width: 100%;
            text-align: center;
        }

        h3 {
            margin-bottom: 15px;
        }

        h2 {
            margin-bottom: 20px;
        }

        p {
            max-width: 374px;
            margin-bottom: 50px;

            @include media ("<desktop") {
                max-width: 100%;
                text-align: center;
            }
        }

        .btn-wrap {

            @include media ("<600px") {
                display: flex;
                flex-direction: column;
            }

            a:first-child {
                margin-bottom: 25px;

                @include media ("<desktop") {
                    margin-right: 25px;
                }

                @include media ("<600px") {
                    margin-right: 0px;
                }
            }

            .btn {

                @include media ("<desktop") {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .icons {
        display: flex;
        gap: 30px;

        @include media ("<desktop") {
            text-align: center;
            justify-content: center;
        }

        @include media ("<600px") {
            flex-wrap: wrap;
        }

        .icon-card {
            max-width: 375px;
            @include adaptiv-vaule("padding-bottom", 85, 25, 1);

            img {
                margin-bottom: 30px;
            }

            h4 {
                @include adaptiv-vaule("padding-bottom", 25, 15, 1);
            }
        }
    }
}

.seo {
    padding: 30px 0;
    background: $white;

    .content {
        display: flex;
        @include adaptiv-vaule("gap", 170, 30, 1);
    }

    .text {
        width: 34%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            color: $black;
            margin-bottom: 20px;
        }

        p {
            @include adaptiv-vaule("margin-bottom", 60, 30, 1);
            max-width: 374px;
        }

        .btn {
            max-width: 270px;
        }
    }

    .img {
        max-width: 55%;
    }

}