#wrapper {
    background: $black;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%);
    background: rgb(61, 61, 61);
    background: radial-gradient(circle, rgba(61, 61, 61, 0.7539390756302521) 0%, rgba(0, 0, 0, 1) 100%);
}

.btn {
    position: relative;
    padding: 18px 55px 18px 25px;
    background: $violet;
    color: $white;
    background-image: linear-gradient(#ED863C, #ED863C);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: all 0.5s ease;
    @include adaptiv-vaule("margin-bottom", 100, 30, 1);
    min-width: 270px;
    white-space: nowrap;
    display: inline-block;


    &:hover {
        background-size: 100% 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        background: $orange;
    }

    a {
        font-size: 18px;
        font-weight: 700;
        color: $white;
    }

    img {
        margin-left: 50px;
        height: 15px;
        width: 7px;
        position: absolute;
        top: 20px;
        right: 30px;
    }
}

.cont {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.first {
    padding: 30px 0;

    .content {
        display: flex;
        @include adaptiv-vaule("gap", 230, 1, 1);

        @include media ("<desktop") {
            flex-direction: column-reverse;
            align-items: center;
            gap: 0;
        }
    }

    .text {
        max-width: 590px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include media ("<desktop") {
            align-items: center;
        }

        h3 {
            margin-bottom: 20px;
        }

        h1 {
            @include adaptiv-vaule("margin-bottom", 40, 20, 1);
        }

        p {
            @include adaptiv-vaule("margin-bottom", 55, 30, 1);
            max-width: 455px;

            @include media ("<desktop") {
                max-width: 100%;
                text-align: center;
            }
        }

        .links-app {
            display: flex;

            a:first-child {
                margin-right: 30px;
            }
        }
    }

    .img-wrap {
        width: 50%;

        @include media ("<desktop") {
            width: 100%;
            text-align: center;
            min-height: 350px;
            margin-bottom: 20px;
        }
    }
}

.triangle {
    position: relative;

    &:before {
        content: ' ';
        position: absolute;
        top: -129px;
        width: 100%;
        border-bottom: 130px solid #1D1D1D;
        border-left: 100vw solid transparent;
        z-index: 1;

        @include media ("<desktop") {
            border-bottom: 90px solid #1D1D1D;
            top: -88px;
        }

        @include media ("<tablet") {
            border-bottom: 50px solid #1D1D1D;
            top: -50px;
        }
    }

    &:after {
        content: ' ';
        position: absolute;
        bottom: -129px;
        width: 100%;
        border-top: 130px solid #1D1D1D;
        border-right: 100vw solid transparent;
        z-index: 3;

        @include media ("<desktop") {
            border-top: 90px solid #1D1D1D;
            bottom: -88px;
        }

        @include media ("<tablet") {
            border-top: 50px solid #1D1D1D;
            bottom: -50px;
        }
    }
}

.guarantee {
    padding: 50px 0;
    @include adaptiv-vaule("margin-top", 200, 50, 1);
    @include adaptiv-vaule("margin-bottom", 150, 50, 1);
    background: #1D1D1D;

    .content {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 500px;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .text {
        @include adaptiv-vaule("max-width", 561, 180, 1);

        @include media ("<tablet") {
            text-align: center;
            min-height: 640px;
            @include adaptiv-vaule("padding-top", 700, 325, 1);
        }

        @include media ("<phone") {
            max-width: 100%;
        }

        h3,
        h2 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 30px;
            line-height: 21 / 18 * 100%;
        }

        .btn {
            margin-bottom: 0;
        }
    }

    .img-wrap {

        img {
            position: absolute;
            @include adaptiv-vaule("top", -240, -100, 1);
            left: 0;
            width: 475px;
            height: 820px;
            @include adaptiv-vaule("width", 475, 240, 1);
            @include adaptiv-vaule("height", 820, 410, 1);
            z-index: 2;

            @include media ("<tablet") {
                left: 50%;
                transform: translate(-50%)
            }
        }
    }
}

.detail {
    @include adaptiv-vaule("padding-top", 100, 30, 1);
    @include adaptiv-vaule("padding-bottom", 25, 25, 1);
    position: relative;

    &:after {
        content: ' ';
        position: absolute;
        bottom: -230px;
        width: 100%;
        border-top: 130px solid black;
        border-right: 100vw solid transparent;
        z-index: 3;

        @include media ("<desktop") {
            border-top: 90px solid black;
            bottom: -190px;
        }

        @include media ("<tablet") {
            border-top: 50px solid black;
            bottom: -149px;
        }
    }

    .content {
        display: flex;
        @include adaptiv-vaule("gap", 150, 0, 1);

        @include media ("<desktop") {
            flex-direction: column;
        }

    }

    .text {
        max-width: 386px;

        @include media ("<desktop") {
            max-width: 85%;
            margin: 0 auto;
            text-align: center;
        }

        h3 {
            margin-bottom: 15px;
        }

        h2 {
            margin-bottom: 20px;
        }

        p {
            max-width: 374px;
            margin-bottom: 50px;

            @include media ("<desktop") {
                max-width: 100%;
                text-align: center;
            }
        }

        .btn-wrap {

            a:first-child {
                margin-bottom: 25px;

                @include media ("<desktop") {
                    margin-right: 30px;
                }

                @include media ("<700px") {
                    margin-right: 0px;
                }
            }

            .btn {

                @include media ("<desktop") {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .icons {
        display: flex;
        gap: 30px;

        @include media ("<desktop") {
            text-align: center;
            justify-content: center;
        }

        @include media ("<600px") {
            flex-wrap: wrap;
        }

        .icon-card {
            max-width: 375px;
            @include adaptiv-vaule("padding-bottom", 85, 25, 1);

            img {
                margin-bottom: 30px;
            }

            h4 {
                @include adaptiv-vaule("padding-bottom", 25, 15, 1);
            }
        }
    }
}


.seo {
    margin: 100px 0;
    padding: 75px 0;
    position: relative;
    background: $white;

    &:after {
        content: ' ';
        position: absolute;
        bottom: 0px;
        width: 100%;
        border-bottom: 130px solid $violet;
        border-left: 100vw solid transparent;
        z-index: 3;

        @include media ("<desktop") {
            border-bottom: 90px solid $violet;
        }

        @include media ("<tablet") {
            border-bottom: 60px solid $violet;
        }
    }

    .content {
        height: 600px;
    }

    .text {
        padding-top: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h2 {
            color: $black;
            margin-bottom: 20px;
        }

        p {
            @include adaptiv-vaule("margin-bottom", 60, 30, 1);
            max-width: 374px;
        }

        .btn {
            max-width: 270px;
        }
    }

    .seo-img {
        overflow: hidden;
        max-width: 690px;
        height: 100%;

        img {
            position: absolute;
            @include adaptiv-vaule("right", 0, -700, 1);
            @include adaptiv-vaule("top", 0, -50, 1);
        }
    }

    .img {
        position: absolute;

        @include adaptiv-vaule("width", 830, 445, 1);
        @include adaptiv-vaule("height", 830, 445, 1);
        top: -150px;
        @include adaptiv-vaule("right", 100, 50, 1);

        z-index: 4;
    }

}