#wrapper {
    background: #1D1D1D;
    z-index: 1;
}

.button {
    position: relative;
    padding: 18px 25px;
    background: $violet;
    display: flex;
    align-items: center;
    color: $white;
    background-image: linear-gradient(#ED863C, #ED863C);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: all 0.5s ease;
    margin-bottom: 100px;
    display: inline-block;

    &:hover {
        background-size: 100% 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        background: $orange;
    }

    a {
        font-size: 18px;
        font-weight: 700;
        color: $white;
    }

    img {
        margin-left: 50px;
        height: 15px;
        width: 7px;
    }
}

.cont {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main-section {
    height: 100vh;
}

.main-content {
    display: flex;
}

.content {
    max-width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h3 {
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 40px;
    }

    p {
        margin-bottom: 55px;
        max-width: 455px;
    }

    .links-app {
        display: flex;

        a:first-child {
            margin-right: 30px;
        }
    }
}


.guarantee-content {
    display: flex;
    gap: 230px;
}

.guarantee-text {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    max-width: 561px;

    h3,
    h2 {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 30px;
    }
}

.detail-content {
    display: flex;
    gap: 150px;
}

.detail-text {
    max-width: 386px;
}

.detail-icons {
    display: flex;
    gap: 30px;

    .icon-card {
        max-width: 375px;
        margin-bottom: 85px;

        img {
            margin-bottom: 30px;
        }

        h4 {
            margin-bottom: 25px;
        }
    }
}