footer {
    position: relative;
    z-index: 10;
    background: $violet;
    margin-top: 50px;

    @include media (">1750px") {
        margin-top: 50px;
    }

    @include media ("<1230px") {
        margin-top: 60px;
    }

    @include media ("<desktop") {
        margin-top: 30px;
    }

    @include media ("<tablet") {
        margin-top: 15px;
    }

    &:before {
        content: '';
        position: absolute;
        top: -150px;
        width: 0;
        height: 0;
        border-bottom: 150px solid $violet;
        border-left: 100vw solid transparent;


        @include media (">1750px") {
            top: -119px;
            border-bottom: 120px solid $violet;
        }

        @include media (">2000px") {
            top: -146px;
            border-bottom: 147px solid $violet;
        }

        @include media ("<1440px") {
            top: -200px;
            border-bottom: 201px solid $violet;
        }

        @include media ("<1230px") {
            top: -150px;
            border-bottom: 151px solid $violet;
        }

        @include media ("<desktop") {
            top: -102px;
            border-bottom: 102px solid $violet;
        }

        @include media ("<tablet") {
            top: -69px;
            border-bottom: 70px solid $violet;
        }

        @include media ("<phone") {
            top: -50px;
            border-bottom: 50px solid $violet;
        }
    }
}

.footer-top {
    padding-top: 40px;
    padding-bottom: 40px;

    .content {
        display: flex;
        justify-content: space-between;

        @include media ("<tablet") {
            flex-direction: column;
            align-items: center;
        }

        .text {
            margin-right: 50px;


            @include media ("<tablet") {
                margin-right: 0;
            }

            p {
                line-height: 25 / 22 * 100%;
                font-size: 22px;
                max-width: 665px;
                text-align: start;

                @include media ("<desktop") {
                    font-size: 16px;
                    margin-bottom: 35px;
                }

                @include media ("<tablet") {
                    text-align: center;
                }
            }

        }

        .contacts {
            margin-left: 30px;

            @include media ("<tablet") {
                margin: 0;
                text-align: center;
            }

            .tel {
                font-size: 35px;
                line-height: 30 / 34 * 100%;
                color: $gray;
                white-space: nowrap;

                @include media ("<tablet") {
                    font-size: 30px;
                }
            }

            a {
                color: $gray;

                &:hover {
                    color: $white;
                }
            }

            img {
                margin-right: 15px;
            }

            p {
                font-size: 14px;
                color: $gray;
                line-height: 14 / 16 * 100%;
                margin: 10px 0 20px 0;

                @include media ("<tablet") {
                    margin: 15px 0 25px 0;
                }
            }
        }

        .mail {

            img {
                margin-right: 15px;
            }

            a {
                font-size: 20px;
                line-height: 17 / 20 * 100%;
                color: $gray;

                @include media ("<tablet") {
                    font-size: 15px;
                }
            }
        }
    }
}



.footer-bot {
    background: #2D1596;
}

.terms {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    @include media ("<tablet") {
        flex-direction: column;
        text-align: center;
    }

    a {
        font-size: 12px;

        &:hover {
            color: $white;
        }

        @include media ("<desktop") {
            font-size: 10px;
        }

        @include media ("<tablet") {
            font-size: 12px;
            margin-bottom: 30px;
        }
    }

    p {
        font-size: 12px;

        @include media ("<desktop") {
            font-size: 10px;
        }
    }

    a,
    p {
        color: $gray;

        @include media (">1750px") {
            font-size: 16px;
        }
    }
}