footer{
    background:#161616;
    padding: 70px 0 20px 0;

    .dark-page &{
        padding: 20px 0;
    }

    @include media ("<tablet"){
        padding: 30px 0 20px 0;
    }
}

.footer-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    .dark-page &{
        display: none;
    }

    @include media ("<desktop"){
        flex-direction: column;
    }
}

.footer-top{
    display: flex;
    flex-direction: column;
    padding-right: 30px;

    @include media ("<desktop"){
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 15px;
    }

    @include media ("<tablet"){
        justify-content: center;
    }


    .footer-logo{

        a{
            display: flex;
            margin-bottom: 50px;
        }
    
        img{
            border-right: 1px solid #ffffff;
            padding-right: 10px;
            width: 40px;
            height: 30px;
        }
        p{
            color: #ffffff;
            max-width: 50px;
            padding-left: 10px;
        }
    }

    .text{
        max-width: 400px;

        @include media ("<tablet"){
            display: none;
        }

        p{
            color: #ffffff;
        }
    }
}

.footer-middle{
    display: flex;

    @include media ("<desktop"){
        justify-content: space-around;
    }

    @include media ("<tablet"){
        flex-direction: column;
    }

    h3{
        color: #ffffff;
        margin-bottom: 40px;
        font-size: 14px;
        font-variant: small-caps;
        text-align: start;

        @include media ("<desktop"){
            text-align: center;
            border-bottom:1px solid #ffffff;
            padding-bottom: 10px;
        }

        img{
            vertical-align: 4px;
            padding-right: 10px;

            @include media ("<desktop"){
                display: none;
            }

        }
    }

    .middle-tel,.middle-mail{
        padding-right: 50px;

        @include media ("<desktop"){
            margin-bottom: 30px;
            text-align: center;
            padding-right: 0;
        }

       .tel{
           margin-bottom: 20px;
        } 

        a{
            color: #ffffff;
        }
    }

    .middle-adress{

        @include media ("<desktop"){
            text-align: center;
        }

        p{
            color: #ffffff;
            margin-bottom: 20px;
        }

        address{
            color: #ffffff;
        }
    }
}

.footer-bot{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
    padding-top: 20px;

    .dark-page &{
        border: none;
        padding-top: 0;
    }

    @include media ("<900px"){
        flex-direction: column;
        align-items: center;
    }

    


    .link-1{
        p{
            color: #ffffff;

            @include media ("<900px"){
                margin-bottom: 20px;
            }
        }
    }

    .link-2{

        @include media ("<tablet"){
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        a{
            color: #ffffff;
            padding-right:31px;
            font-variant: small-caps;

            @include media ("<tablet"){
                margin-bottom: 10px;
                padding-right: 0;
            }


            &:last-child{
                padding: 0;
                margin: 0;
            }
        }
    }
}

