header{
    border-bottom: 1px solid #000;
    padding: 12px 20px;

    .dark-page &{
        background:#161616;
        border-bottom: 1px solid #FFFFFF;
    }
}

.header-content{
    max-width: 1200px;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo{
    
    .img-logo{

        a{
            display: flex;
        }

        .dark-page &{
            
            svg{
                fill: white;
                border-right: 1px solid #FFFFFF;

                @include media ("<phone"){
                    border: none;
                }
            }

            p{
                color: #FFFFFF;
            }
        }

        svg{
            fill: black;
            border-right: 1px solid #000;
            margin-right: 10px;
            padding-right: 10px;
            height: 35px;

            @include media ("<phone"){
                border: none;
            }
        }

        P{
            max-width: 50px;
            font-weight: 600;
            font-size: 14px;

            @include media ("<phone"){
                display: none;
            }
        }
    }
}

.nav{
    display: flex;
    justify-content: space-between;

    .links-1{
        display: flex;

        .dark-page &{
            a{
                color: #FFFFFF;
            }
        }

        @include media("<desktop"){
            display: none;
        }

        a{
            font-variant: small-caps;
        }

        a:first-child{
            padding-right: 20px;
        }
    }

    .links-2{

        .dark-page &{
            a{
                color: #FFFFFF;
            }
        }

        @include media("<desktop"){
            display: none;
        }

        a{
            font-variant: small-caps;
        }
    }

    .links-3{
        display: flex;
        align-items: center;

        .dark-page &{

            ul{
                li{
                    a{
                        color: #FFFFFF;

                        &:focus{
                            color:#FFFFFF; 
                        }
                    }
                }
            }
        }

        @include media("<desktop"){
            order: 4;
        }

        >ul{
            display: flex;
            padding: 0;
            margin: 0;
            padding-right: 80px;

            @include media("<tablet"){
                padding-right: 0;
            }
            

            >li{
                position: relative;
                list-style: none;
                padding-right: 7px;

                a{
                    font-size: 14px;
                    font-variant: small-caps;
                    color: #CACACA;
                    z-index: 3;

                    &:focus{
                        color:#000; 
                    }

                    @include media ("<desktop"){
                        color:#000;
                    }
                }

                @include media ("<tablet"){
                    &:hover{
                        .sublist{
                            transition: 0.7s;
                            top: 50px;

                        }
                    }
                }

                &:last-child{
                    padding: 0;
                }
            }
        }

        .sublist{
            position: absolute;
            top: -100vh;
            right: -1px;
            padding: 5px;


            li{
                list-style: none;
                margin-bottom: 10px;
            }
        }

        .hidden{
            @include media ("<desktop"){
                display: none;
            }
        }
    }

    .links-4{ 

        .dark-page &{
            a{
                color: #FFFFFF;
            }
        }

        @include media("<desktop"){
            order: 3;
        }

        a{
            font-variant: small-caps;
        }

        a:first-child{
            padding-right: 70px;
            position: relative;

            @include media("<tablet"){
                padding-right: 40px;
            }

            &::before{
                position: absolute;
                left: -25px;
                top: 0;
                content: url(/src/images/header/coolicon.svg);
            }
        }
        a:last-child{
            position: relative;

            &::before{
                position: absolute;
                left: -25px;
                top: 0;
                content: url(/src/images/header/coolicon1.svg);
            }
        }
    }
}