body {
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 0 15px;
}

.buttons{
    background: #789CE3;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;

    &:hover{
        background: #6787c7;
    }
}

.top-line{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;

    &::before{
        content: '';
        background: #789CE3;
        width: 97px;
        position: absolute;
        border-radius: 2px;
        height: 6px;
        top: -35px;
        left: 50%;
        transform: translate(-50%);
    }
}

.article{
    padding: 90px 0;

    @include media("<desktop"){
        padding: 40px 0 70px 0;
    }

    @include media("<tablet"){
        padding: 45px 0 30px 0;
    }
}

.article-text{
    position: relative;
    max-width: 560px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);

    .top-line{
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    
        &::before{
            content: '';
            background: #789CE3;
            width: 97px;
            position: absolute;
            border-radius: 2px;
            height: 6px;
            top: -35px;
            left: 50%;
            transform: translate(-50%);

            @include media("<desktop"){
                display: none;
            }

            @include media("<tablet"){
                display: block;
            }
        }
    }

    h2{
        color:#5F5F5F;
    }

    p{
        font-size: 20px;
        color: #B3B2B2;
        text-align: center;


        @include media ("<phone"){
            margin-bottom: 45px;
        }
    }
}

.slider{
    position: relative;
}

.slick-track{
    display: flex;
    align-items: flex-start;
}

.slick-list{
    overflow: hidden;
}

.slider-item{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

    @include media ("<phone"){
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        z-index: -1;
    }

    h2{
        color: #FFFFFF;
    }

    p{
        color: #FFFFFF;
        font-size: 20px;
    }

    a{
        color: #FFFFFF;
        text-decoration: underline;
        font-size: 20px;
    }

    .slider-buttons{
        display: none;

        a{
            text-decoration: none;
        }

        a:first-child{
            padding: 10px 40px;
            margin-right: 15px;
    
            @include media ("<610px"){
                margin:0 0 15px 0;
            }
    
            @include media ("<phone"){
                margin:0 0 10px 0;
            }
        }
    
        a:last-child{
            padding: 10px 87px;
        }
    
        @include media ("<phone"){
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        a{
            font-size: 14px;
        }
    }
}

.article-slider-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slider-text{
    display: flex;
    flex-direction: column;
    margin: 0 0 80px 80px;
    

    @include media ("<610px"){
        display: flex;
        flex-direction: column;
        left: 100px;
        bottom:160px;
    }

    @include media ("<phone"){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 40px 0;
        padding-top: 100px;
        a{
            display: none;
        }
    }
}

.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-60%);

    @include media ("<phone"){
        bottom: 0px;
    }

    button{
        font-size: 0;
        width: 10px;
        height: 15px;
        background-color:#C4C4C4;
        border:1px solid #789CE3;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .slick-active{
        
        button{
            background-color: #789CE3;
            border:1px solid #789CE3;
        } 
    }    

    li{
        list-style: none;
        margin: 0 10px;
        border:1px solid #789CE3;
        border-radius: 50%;
        padding: 2px 2px 17px 2px;
        height:20px;
        display: flex;
    }
}

.article-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

    @include media ("<tablet"){
        padding-top: 30px;
    }
    
    @include media ("<610px"){
        display: flex;
        flex-direction: column;
    }
    
    @include media ("<phone"){
        display: none;
    }

    a:first-child{
        padding: 10px 40px;
        margin-right: 15px;

        @include media ("<610px"){
            margin:0 0 15px 0;
        }

        @include media ("<phone"){
            margin:0 0 10px 0;
        }
    }

    a:last-child{
        padding: 10px 87px;
    }
} 

.cycle{
    padding: 70px 0 120px 0;

    @include media("<tablet"){
        padding: 40px 0 90px;
    }

    @include media("<phone"){
        padding:60px 0 60px 0;
    }
}

.hidden-text{
    display: none;
    position: relative;

    @include media("<phone"){
        display: block;
        text-align: center;
    }

    .top-line{
        position: absolute;
        &::before{
            content: '';
            background: #666666;
        }
    }
}

.cycle-img{
    position: relative;

    img{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 620px;
        object-fit: cover;
    }
}

.cycle-text{
    .top-line{
        position: relative;
        &:before{
            position: absolute;
            content:'';
            background: #FFFFFF;
            top: 60px;
        }
    }
    
    h2{
        color: #FFFFFF;
        padding-top: 100px;
        margin-bottom: 180px;

        @include media("<phone"){
            display: none;
        }
    }
    
    p{
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 100px;
        font-size: 20px;

        @include media("<phone"){
            padding: 240px 0 170px 0;
        }
    }
}

.cycle-button{
    display:flex;
    justify-content: center;
    align-items: center;
}

.company{
    padding:100px 0 90px 0 ;

    @include media("<tablet"){
        padding:160px 0 30px 0;
    }

    p{
        color: #5F5F5F;
    }

    h3{
        color: #5F5F5F;
    }
}

.company-text{
    text-align: center;
    position: relative;
    max-width: 590px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);


    .top-line{
        position: relative;
        &::before{
            content:'';
            position: absolute;
            background:#789CE3;
        }
    }

    h2{
        color: #5F5F5F;
        margin-bottom: 20px;
    }

    p{
        color: #5F5F5F;
        text-align: center;
        margin-bottom: 55px;
        font-size: 15px;
    }
}

.cards{

    display: flex;
    flex-direction: column;

    .cards-item{
        display: flex;
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
        
        .item{
            max-width: 320px;
            width: 32%;
            

            @include media ("<desktop"){
               margin-bottom: 50px;
            }

            @include media ("<999px"){
                width:48%;
             }

            @include media ("<tablet"){
                padding-left:20px;
                width: 100%;
            }

            @include media ("<phone"){
                padding-left:0;
            }
        }

        img{
            margin-bottom: 15px;
            max-width: 325px;
            width: 100%;
            text-align: center;
        }

        h3{
            margin-bottom: 10px;
            font-weight: normal;
        }

        p{
            position: relative;
            max-width: 245px;
            width: 100%;
            left: 50%;
            transform: translate(-50%);
        }
    }
}
.button-card{
    display: flex;
    justify-content: center;

    @include media ("<phone"){
        display: none;
    }

    .buttons{
        padding:15px 40px ;
    }
}

.aboutcompany{
    padding: 90px 0;

    
    @include media ("<desktop"){
        padding: 75px 0;
    }

    @include media ("<tablet"){
        padding: 40px 0;
    }
}

.content-company{
    display: flex;

    @include media ("<desktop"){
        display: flex;
        flex-direction: column;
    }

    @include media ("<phone"){
        flex-direction:column;
    }
}

.text-aboutcompany{
    color: #B2B2B2;
    padding-right: 100px;

    @include media ("<desktop"){
        padding-right: 0;
    }

    .top-line{
        position: relative;
        
        &::before{
            position: absolute;
            content:'';
            background: #789CE3;
            left: 50px;
        }
    }

    h2{
        font-size: 20px;
        display: flex;
        justify-content: flex-start;
    }

    h3{
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        color: #5F5F5F;
        margin-bottom: 55px;
    }
    
    p{
        margin-bottom: 70px;
        max-width: 360px;

        @include media ("<desktop"){
            max-width: 100%;
            margin-bottom: 50px;
        }

        @include media ("<tablet"){
            margin-bottom: 35px;
        }

        @include media ("<phone"){
            margin-bottom: 15px;
        }
    }
}

.video-company{
    position: relative;
    width: 746px;
    height:555px;

    @include media ("<desktop"){
        width: 100%;
        padding-bottom: 150px;
    }


    video{
        position: absolute;
        width:100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;

    }
}

.uniq{
    padding: 100px 0 120px 0;

    @include media ("<desktop"){
        display: none;
        padding: 90px 0 110px 0;
    }

    @include media ("<phone"){
        display: block;
        padding: 80px 0;
    }

    h2{
        color: #FFFFFF;
        padding-top: 100px;
        margin-bottom: 65px;

        @include media ("<phone"){
            display: none;
        }
    }

    .top-line{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background: #FFFFFF;
            top: 65px;

            @include media ("<phone"){
                position: absolute;
                content: '';
                background: #789CE3;
            }
        }
    }
    
    .hidden-uniq{
        position: relative;
        display: none;
        max-width: 200px;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        
        @include media ("<phone"){
            display: block;
            color: #5F5F5F;  
        }
    }
}

.uniq-img{
    position: relative;

    img{
        position: absolute;
        object-fit: cover;
        z-index: -1;
        width: 100%;
        height: 620px;
    }
}

.uniq-text{
    
    .text-content{
        max-width: 520px;
    }

    h3{
        color: #FFFFFF;
        font-size: 20px;
        margin-bottom: 25px;

        @include media ("<phone"){
            text-align: center;
            font-size: 17px;
            line-height: 20px;
            padding:150px 0 60px 0;
            font-weight: 500;
            max-width: 325px;
            margin: 0 auto;
        }
    }

    p{
        max-width: 325px;
        padding-bottom: 100px;
        position: relative;
        color: #FFFFFF;

        a{
            color: #FFFFFF;
            text-decoration: underline;
            font-size: 12px;
        }


        @include media ("<phone"){
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            margin-bottom: 100px;
            color: #FFFFFF;
            max-width: 280px;

            a{
                color: #FFFFFF;
                text-decoration: underline;
                font-size: 12px;
            }
        }
    }
}

.uniq-button{
    @include media ("<phone"){
        display: flex;
        justify-content: center;
    }
}

.reviews-company{
    padding: 90px 0 120px 0;

    @include media ("<desktop"){
        padding: 80px 0 110px 0;
    }
    @include media ("<tablet"){
        padding: 70px 0 90px 0;
    }
    @include media ("<phone"){
        padding: 110px 0 70px 0;
    }
}

.reviews-text{

    .top-line{
        position: relative;
        &:before{
            position: absolute;
            background: #789CE3;
        }
    }

    h2{
        color: #727272;
        margin-bottom: 35px;

        @include media ("<phone"){
            margin-bottom: 20px;
        }
    }

    h3{
        font-size: 20px;
        color:#B2B2B2;
        text-align: center;
        line-height: 23px;
        padding-bottom: 40px;
        max-width: 567px;
        margin: 0 auto;


        @include media ("<phone"){
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 23px;
            text-align: center;
            margin: 0 auto;
            max-width: 332px;
        }
    }
}

.slider-reviews{
    position: relative;

    .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translate(-60%);

        @include media ("<phone"){
            bottom: -70px;
        }

        button{
            font-size: 0;
            width: 10px;
            height: 15px;
            background-color:#C4C4C4;
            border-radius: 50%;
        }
        .slick-active{
            
            button{
                background-color: #789CE3;
                border:1px solid #789CE3;

                @include media ("<phone"){
                    background-color:#C4C4C4;
                }
            } 
        }    
    }

    li{
        list-style: none;
        margin: 0 10px;
        border:1px solid #789CE3;
        border-radius: 50%;
        padding: 2px 2px 17px 2px;
        height:20px;
        display: flex;
    }
}

.slider-content{
    display: flex;

    .slider-reviews-text{
        align-items: center;
        margin-left: 12px;

        h3{
            color:#789CE3;
            font-size: 20px;
            margin:3px 0 2px 0;
        }

        p{
            color: #B2B2B2;
            font-size: 11px;
        }
    }

    .slider-img{

        img{
            height: 45px;
            width: 45px;
            overflow: hidden;
        }
    }
}

.slider-reviews-item{
    max-width: 565px;
    margin-right: 10px;
    background: #EEEEEF;
    padding: 30px 35px 20px 35px;
}

.feedback{
    padding: 85px 0 100px 0;
    background: url(../images/feedbackbg.png) 0 0 /cover no-repeat;

    @include media ("<desktop"){
        padding: 85px 0 35px 0;
    }

    @include media ("<phone"){
        padding: 50px 0 30px 0;
    }


}
.feedback-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        color: #727272;
        font-weight: 500;
        margin-bottom: 35px;
    }

    P{
        color: #727272;
        text-align: center;
        margin-bottom: 30px;
        a{
            text-decoration: underline;
            color: #727272;
        }
    }
}

.forms{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    input, textarea{
        width: 100%;
        max-width: 590px;
        border: 1px solid #727272;
        margin-bottom: 20px;
        background: transparent;
        padding: 18px 30px;
        font-size: 20px;
        color: #A5A5A5;
    }

    textarea{
        height: 110px;
    }

    button{
        padding: 15px 30px;
    }

    p{
        max-width: 510px;
        font-size: 12px;
        text-align: left;
    }
}

.box-item{
    width: 100%;
    max-width: 590px;
    display: flex;
    justify-content: space-between;

    input{
        width: 48%;
    }
}
