<footer id="footer">
    <div class="footer_content">
        <div class="container">
            <div class="footer_top">
                <div class="footer_logo">
                    <a href="index.html" class="logo">
                        <img src="./images/logo.svg" alt="image not found">
                    </a>
                    <div class="footer_links">
                        <a class="link interactive" href="tel:6468141614">
                            <img class="link_img" src="./images/contact_us/call.svg"
                                alt="image not found">
                            <span class="link_title">(646) 814-1614</span>
                        </a>
                        <a class="link interactive" href="mailto:info@creditorsolutions.com">
                            <img class="link_img" src="./images/contact_us/mail_img.svg" alt= "image not found" >
                            <span class="link_title">info@creditorsolutions.com</span>
                        </a>
                        <a class="link interactive" target="_blank"
                            href="https://goo.gl/maps/tqFu69GsqK4NzDq26">
                            <img class="link_img" src="./images/contact_us/location.svg"
                                alt="image not found">
                            <span class="link_title">1441 Broadway, 5th Fl, New York, NY
                                10018</span>
                        </a>
                        <div class="link">
                            <img class="link_img" src="./images/contact_us/time.svg"
                                alt="image not found">
                            <span class="link_title">Monday – Friday, 9am to 6pm</span>
                        </div>
                    </div>
                </div>
                <div class="list_links">
                    <a href="about_us.html" class="list_item">About Us</a>
                    <a href="form.html" class="list_item">Enforce Judgment</a>
                    <a href="#" class="list_item">DOCUMENT CENTER</a>
                    <a href="faq.html" class="list_item">FAQ</a>
                    <a href="creditor_center.html" class="list_item">CREDITOR center</a>
                    <a href="contact_us.html" class="list_item">CONTACT US</a>
                </div>
                <div class="policy">
                    <a href="privacy_policy.html" class="policy_item">PRIVACY POLICY</a>
                    <a href="terms_conditions.html" class="policy_item">TERMS & CONDITIONS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <p class="note">This communication is from a debt collector. <br> This is an attempt to
                collect a debt and any information obtained will be used for that purpose.</p>
            <p class="note">© 2023 CreditorSolutions</p>
        </div>
    </div>
</footer>