<header id="header">
    <div class="container">
        <div class="header_content">
            <div class="logo">
                <a href="#">
                    <img src="./images/logo.svg" alt="image not found">
                </a>
            </div>
            <nav class="nav">
                <ul class="nav-menu">
                    <li class="menu-item"> <a href="#">About Us</a></li>
                    <li class="menu-item"> <a href="#">DOCUMENT CENTER</a></li>
                    <li class="menu-item"> <a href="#">CREDITOR center</a></li>
                    <li class="menu-item"> <a href="#">Enforce Judgment</a></li>
                    <li class="menu-item"> <a href="#">FAQ</a></li>
                    <li class="menu-item"> <a href="#">CONTACT US</a></li>
                </ul>
            </nav>
            <a class="phone" href="tel:6469606200">
                <img class="phone_img" src="./images/phone.svg" alt="image not found">
                <span class="phone_number">(646) 960-6200</span>
            </a>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
    </div>
</header>