<header id="header">
    <div class="container">
        <div class="header_content">
            <div class="logo">
                <a href="index.html">
                    <img src="./images/logo.svg" alt="image not found">
                </a>
            </div>
            <nav class="nav">
                <ul class="nav-menu" id="menu">
                    <li class="menu-item main_page_hide"> <a class="menu_link" href="index.html">Main Page</a></li>
                    <li class="menu-item"> <a class="menu_link" href="about_us.html">About</a></li>
                    <li class="menu-item dropdown">
                            <button class="menu_link link_btn">Resources
                                <img class="btn_arrow" src="./images/header-arrow.svg" alt=" image not found">
                            </button>
                        <ul class="dropdown-content">
                            <li class="menu-item"> <a class="menu_link dropdown_item" href="document_center.html">DOCUMENT CENTER</a></li>
                            <li class="menu-item"> <a class="menu_link dropdown_item" href="creditor_center.html">CREDITOR center</a></li>
                        </ul>
                    </li>
                    <li class="menu-item visible"> <a class="menu_link" href="document_center.html">DOCUMENT CENTER</a></li>
                    <li class="menu-item visible"> <a class="menu_link" href="creditor_center.html">CREDITOR center</a></li>
                    <li class="menu-item"> <a class="menu_link" href="calc.html">Calculator</a></li>
                    <li class="menu-item"> <a class="menu_link" href="faq.html">FAQ</a></li>
                    <li class="menu-item"> <a class="menu_link" href="contact_us.html">CONTACT</a></li>
                    <li class="menu-item btn_item visible"> <a class="menu_link" href="form.html">Enforce Judgment</a></li>
                </ul>
            </nav>
            <a class="menu_link btn_item hidden" href="form.html">Enforce Judgment</a>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
    </div>
</header>