<header id="header">
    <div class="header-content">
        <div class="logo">
            <a class="logo-img" href="index.html"><img src="./images/header/logo.svg" alt="image not found"></a>
            <img class="name-logo" src="./images/header/name-logo.svg" alt="image not found">
            <div class="header-burger">
                <span></span>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <li class="menu-li ">
                    <a href="busines.html">About</a>
                </li>
                <li class="menu-li list">
                    <a href="local-seo.html">Local SEO <img src="./images/header/arrow.svg" alt=""></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="guarantee.html">SEO Guarantee</a>
                        </li>
                        <li>
                            <a href="price.html">Pricing</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-li ">
                    <a href="studies.html">Cases</a>
                </li>
                <li class="menu-li ">
                    <a href="company.html">Blog</a>
                </li>
                <li class="menu-li ">
                    <a href="contact.html">Contacts</a>
                </li>
            </ul>
            <a class="call" href="tel:+12346789011">Request Call</a>
        </nav>

    </div>
</header>