<header id="header">
    <div class="container">
        <div class="header_content">
            <nav class="nav">
                <ul class="nav_menu">
                    <li class="menu_item"> <a class="menu_link" href="#biography">Biografisches</a></li>
                    <li class="menu_item"> <a class="menu_link" href="#profession">PROFESSION</a></li>
                    <li class="menu_item"> <a class="menu_link" href="#extension">DIE ERWEITERUNG</a></li>
                    <li class="menu_item"> <a class="menu_link" href="#museum">Realisierung</a></li>
                </ul>
                <a class="nav_btn" href="#contact">kONTAKT</a>
            </nav>
            <div class="header_burger">
                <span></span>
            </div>
        </div>
    </div>
</header>