<header id="header">
    <div class="cont">
        <div class="header-content">
            <div class="logo-body">
                <a class="logo" href="#">
                    <img class="ibg" src="./images/header/logo.svg" alt="image not found">
                    <p>Официальный партнер <br>
                        АО «ИНТЕКО»</p>
                </a>
            </div>
            <div class="contact">
                <a href="tel:+7 495 845 19 34">+7 495 845 19 34</a>
                <p>работаем</p>
            </div>
        </div>
    </div>
</header>